flows_pi3one.json
[{"id":"604db05c.f6f11","type":"tab","label":"aiy2slack","disabled":false,"info":""},{"id":"fed72f15.8d836","type":"tab","label":"arp-scan","disabled":false,"info":""},{"id":"f4083ef1.c832a","type":"tab","label":"slack cv channel","disabled":false,"info":""},{"id":"19233749.06c6d9","type":"tab","label":"conversation","disabled":false,"info":""},{"id":"bb5e766d.b0bbe8","type":"tab","label":"slackbot","disabled":false,"info":""},{"id":"56164435.31050c","type":"tab","label":"ui aiy","disabled":false,"info":""},{"id":"c7bb51ea.b7706","type":"tab","label":"ui weather"},{"id":"ae997a8f.fef6b8","type":"tab","label":"ui emoncms"},{"id":"d9c9b8f2.5b1738","type":"tab","label":"ui power"},{"id":"cbb123e.ff1e2e","type":"tab","label":"ui status"},{"id":"d448e38d.8eb16","type":"tab","label":"ui status2"},{"id":"e6728257.d2c86","type":"tab","label":"ui ventilator"},{"id":"7fa2194.bf802e8","type":"tab","label":"ui cv","disabled":false,"info":""},{"id":"d3bff47.a17e508","type":"tab","label":"pi cpu temp"},{"id":"89ac662.0a2c798","type":"tab","label":"openweather"},{"id":"21777d41.84c182","type":"tab","label":"emoncms"},{"id":"669ca4d9.6412bc","type":"tab","label":"emonTh/Tx"},{"id":"83200356.0ef81","type":"tab","label":"3ch wifi relay"},{"id":"70877b4a.1bbb44","type":"tab","label":"cv calendar"},{"id":"9519878f.6ae678","type":"tab","label":"kodi"},{"id":"4bf9468a.f3a898","type":"tab","label":"bme280"},{"id":"3f0318fd.5897c8","type":"tab","label":"power consumption"},{"id":"9a70cce2.ab388","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"589de0d1.83cae","type":"emoncms-server","z":"","server":"http://emoncms.org","name":"my emoncms.org"},{"id":"c01dc48e.9149f8","type":"ui_tab","z":"","name":"CV","icon":"dashboard","order":1},{"id":"26bbff78.ed3c6","type":"ui_group","z":"","name":"invoer","tab":"c01dc48e.9149f8","disp":true,"width":"6"},{"id":"37779cb4.2ff4e4","type":"ui_group","z":"","name":"Status","tab":"c01dc48e.9149f8","disp":true,"width":"6"},{"id":"9c9ae2bc.63652","type":"mqtt-broker","z":"","broker":"192.168.1.131","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"e8a1e039.d2ddb","type":"ui_tab","z":"","name":"Status","icon":"dashboard","order":5},{"id":"3d9accab.6c2634","type":"ui_group","z":"","name":"Kelder","tab":"e8a1e039.d2ddb","order":2,"disp":true,"width":"3"},{"id":"a5cd413.e0d49c","type":"ui_group","z":"","name":"Temp","tab":"e8a1e039.d2ddb","order":3,"disp":true,"width":"3"},{"id":"dfabd96f.d0b918","type":"ui_group","z":"","name":"Vochtigheid","tab":"e8a1e039.d2ddb","order":4,"disp":true,"width":"3"},{"id":"f2cec1e7.bc085","type":"ui_group","z":"","name":"Electriciteit","tab":"e8a1e039.d2ddb","order":1,"disp":true,"width":"4"},{"id":"ec772749.149488","type":"ui_group","z":"","name":"Home Power Consumption","tab":"ec3541ea.2b297","order":1,"disp":true,"width":"7"},{"id":"ea983e7d.03c39","type":"ui_group","z":"","name":"Solar Power Generation","tab":"ec3541ea.2b297","order":2,"disp":true,"width":"7"},{"id":"ec3541ea.2b297","type":"ui_tab","z":"d9c9b8f2.5b1738","name":"Power","icon":"power","order":4},{"id":"ed98cf29.79e9e","type":"ui_group","z":"","name":"Barometer","tab":"e8a1e039.d2ddb","order":6,"disp":true,"width":"3"},{"id":"e100e6d5.3b9a78","type":"ui_tab","z":"","name":"Ventilator","icon":"dashboard","order":7},{"id":"51a17efa.1c638","type":"ui_group","z":"","name":"invoer","tab":"e100e6d5.3b9a78","order":1,"disp":true,"width":"4"},{"id":"f628845.5523878","type":"ui_group","z":"","name":"Status","tab":"e100e6d5.3b9a78","order":2,"disp":true,"width":"5"},{"id":"d0b9b2cd.d453d","type":"ui_group","z":"","name":"Abs. Vochtigheid","tab":"e8a1e039.d2ddb","order":5,"disp":true,"width":"4"},{"id":"304bc08.37fbf4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2ffa32f8.185ace","type":"ui_group","z":"","name":"Home Consumption & Generation","tab":"ec3541ea.2b297","order":3,"disp":true,"width":"14"},{"id":"172cc9ae.c0d246","type":"ui_tab","z":"","name":"status 2","icon":"dashboard","order":6},{"id":"83960579.c80148","type":"ui_group","z":"","name":"network devices","tab":"172cc9ae.c0d246","order":1,"disp":true,"width":"9"},{"id":"c75b2ad7.9d6f98","type":"ui_group","z":"","name":"Absolute Vochtigheid","tab":"e100e6d5.3b9a78","order":3,"disp":true,"width":"12"},{"id":"1136228c.3d68bd","type":"ui_group","z":"","name":"emoncms chart","tab":"6a24cd4a.de7ef4","order":4,"disp":false,"width":"20"},{"id":"3bbe7a3b.70c496","type":"ui_group","z":"","name":"chart selector","tab":"6a24cd4a.de7ef4","order":3,"disp":false,"width":"3"},{"id":"859d9075.9393c","type":"ui_group","z":"","name":"chart category selector","tab":"6a24cd4a.de7ef4","order":2,"disp":false,"width":"2"},{"id":"93ffe36a.9369f","type":"ui_group","z":"","name":"device selector","tab":"6a24cd4a.de7ef4","order":1,"disp":false,"width":"1"},{"id":"6a24cd4a.de7ef4","type":"ui_tab","z":"","name":"emoncms","icon":"dashboard","order":3},{"id":"f0778f34.31c0b","type":"ui_tab","z":"","name":"borsbeek","icon":"dashboard","order":2},{"id":"3d15fa9f.dfffe6","type":"ui_group","z":"","name":"buienradar","tab":"f0778f34.31c0b","order":2,"disp":true,"width":"7"},{"id":"5d9dca08.657f84","type":"ui_group","z":"","name":"rain expectations","tab":"f0778f34.31c0b","order":3,"disp":false,"width":"4"},{"id":"1d6cbfef.15f53","type":"ui_group","z":"","name":"borsbeek 48 hours forecast","tab":"f0778f34.31c0b","order":4,"disp":false,"width":"16"},{"id":"355d00d6.9da31","type":"ui_group","z":"","name":"forecast 48h chart","tab":"f0778f34.31c0b","order":1,"disp":false,"width":"9"},{"id":"6e76318c.44294","type":"google-credentials","z":0,"displayName":"Jan Van den Audenaerde"},{"id":"d4b7b30a.7abac","type":"sqlitedb","z":"","db":"/mnt/wd1tb_media/media/data/sqlite/nodered_jvda.db"},{"id":"2165c3e7.72140c","type":"slackbot-controller","z":"","name":"stemija","bot_token":"xoxb-260893882374-kmNnsoh5w3T4mef3j3zJVkZ8"},{"id":"33c793c6.f46c9c","type":"ui_group","z":"","name":"roos = °T kamer jade","tab":"c01dc48e.9149f8","order":3,"disp":true,"width":"6"},{"id":"6866c6a8.3d4518","type":"ui_tab","z":"","name":"AIY","icon":"dashboard","order":8},{"id":"2fdf50c.264aab","type":"ui_group","z":"","name":"OK google","tab":"6866c6a8.3d4518","order":1,"disp":true,"width":"6"},{"id":"fe02baf8.ead938","type":"ui_group","z":"","name":"stemija","tab":"6866c6a8.3d4518","order":2,"disp":true,"width":"6"},{"id":"d387f35b.da6a6","type":"slackbot-controller","z":"","name":"stemija slackbot","bot_token":"xoxb-260893882374-sOx3ETMKVqkDvOxmHtV5NOqy"},{"id":"dbb0c636.8308f8","type":"exec","z":"fed72f15.8d836","command":"arp-scan --localnet --ignoredups","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"arp-scan","x":202.1999969482422,"y":114.19999694824219,"wires":[["ce9615c9.d681a8","14de4cc.88f58b3"],["7bbee7a6.61e6c8"],["a9e1df05.ad856"]]},{"id":"4e5d70a1.6ebaa","type":"inject","z":"fed72f15.8d836","name":"every 5 minutes","topic":"","payload":"","payloadType":"none","repeat":"300","crontab":"","once":false,"x":141.1999969482422,"y":77.19999694824219,"wires":[["dbb0c636.8308f8"]]},{"id":"7bbee7a6.61e6c8","type":"debug","z":"fed72f15.8d836","name":"stderr","active":false,"console":"false","complete":"true","x":387.1999969482422,"y":100.19999694824219,"wires":[]},{"id":"a9e1df05.ad856","type":"debug","z":"fed72f15.8d836","name":"return code","active":false,"console":"false","complete":"true","x":407.1999969482422,"y":128.1999969482422,"wires":[]},{"id":"ce9615c9.d681a8","type":"debug","z":"fed72f15.8d836","name":"stdout","active":false,"console":"false","complete":"true","x":388.1999969482422,"y":69.19999694824219,"wires":[]},{"id":"14de4cc.88f58b3","type":"function","z":"fed72f15.8d836","name":"arp-scan output to json","func":"// FYI Here below an example of the arp-scan output\n//======= example arp-scan output starts on next line\n//Interface: eth0, datalink type: EN10MB (Ethernet)\n//Starting arp-scan 1.8.1 with 256 hosts (http://www.nta-monitor.com/tools/arp-scan/)\n//192.168.1.1     6c:2e:85:17:50:04       SAGEMCOM\n//192.168.1.10    80:c1:6e:ed:63:b8       (Unknown)\n// ...\n//192.168.1.29    8c:70:5a:72:d0:9c       (Unknown) (DUP: 2)\n//\n//12 packets received by filter, 0 packets dropped by kernel\n//Ending arp-scan 1.8.1: 256 hosts scanned in 4.096 seconds (62.50 hosts/sec). 11 responded\n//\n//====== example arp-scan finishes on previous line\n\n \nvar lines=msg.payload.split('\\n');\nvar parts;\nvar newMsg = { payload: {MAC_IP_list:[]} };\n\n// Validate arp-scan output: checks that the number of lines corresponds to packets received.\nif (lines.length < 6) {\n    node.error(\"arps-scan output less than 6 lines:\");\n    node.error(msg.payload);\n    return;\n}\n\nvar hosts_responded = lines[lines.length-2].split('hosts/sec). ')[1].split(' responded')[0];\nif (isNaN(Number(hosts_responded))){\n    node.error(\"hosts responded (=\" + hosts_responded + \") is not a number.\");\n    node.error(msg.payload);\n    return;\n}\n\nif (hosts_responded != (lines.length-6) ){\n    node.error(hosts_responded + \" hosts responded doesn't match arp-scan line count:\" + lines.length);\n    node.error(msg.payload);\n    return;\n}\n\nvar packets_received = Number(lines[lines.length-3].split(' packets received by filter')[0]);\n\n// log warning in case hosts responded doesn't match packets received.\nif (hosts_responded != packets_received) {\n    node.warn(\"hosts responded (=\" + hosts_responded + \") != packets received (=\" + packets_received + \")\");\n}\n\n// skip the first 2 lines and last 3 lines\nfor (var i = 2 ; i <lines.length-4; i++){\n    parts = lines[i].split('\\t');\n    //node.warn(\"IP=\"+ parts[0] + \", MAC=\" + parts[1]);\n    newMsg.payload.MAC_IP_list.push( { IP:parts[0], MAC:parts[1] } );\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":398.1999969482422,"y":162.1999969482422,"wires":[["d66fc2b6.59927","1ae06886.3723a7"]]},{"id":"d66fc2b6.59927","type":"debug","z":"fed72f15.8d836","name":"arp scan json output","active":true,"console":"false","complete":"true","x":654.2000122070312,"y":165.1999969482422,"wires":[]},{"id":"1ae06886.3723a7","type":"function","z":"fed72f15.8d836","name":"add hostname","func":"var MAC_to_hostname = [ \n    {MAC:\"e0:b9:e5:af:af:90\" , hostname:\"bbox_jan\"}, // new bbox install at 2017-06-12\n    {MAC:\"e2:b9:e5:af:af:99\" , hostname:\"bbox_jan_62\" },  // bbox is also using IP 192.168.1.62 for this mac\n    {MAC:\"e2:b9:e5:af:af:90\" , hostname:\"bbox_jan_63\" },  // bbox is also using IP 192.168.1.63 for this mac\n    {MAC:\"c4:e9:84:2d:0e:28\" , hostname:\"TL-WPA4220\"},  // powerline extender6\n    {MAC:\"c4:e9:84:2d:0e:9c\" , hostname:\"TL-WPA4220_2\"}, // 2nd // powerline extender6\n    {MAC:\"18:59:33:13:9d:fb\" , hostname:\"cisco_switch\"},\n    {MAC:\"b8:27:eb:4c:14:2d\" , hostname:\"raspberrypi\"},\n    {MAC:\"b8:27:eb:5b:31:bb\" , hostname:\"pi3one\"},\n    {MAC:\"b8:27:eb:49:f1:cd\" , hostname:\"pi3two\"},\n    {MAC:\"b8:27:eb:79:80:3f\" , hostname:\"pi3three\" }, // ethernet\n    {MAC:\"b8:27:eb:2c:d5:6a\" , hostname:\"pi3three\" }, // wifi\n    {MAC:\"00:50:43:01:c1:e6\" , hostname:\"sheevaplug\"},\n    // {MAC:\"18:fe:34:a0:28:3d\" , hostname:\"wifi_relay_cv\"},  // disabled as located on another subnet\n    {MAC:\"00:90:a9:d8:7c:0c\" , hostname:\"WD\"}, // NAS\n    {MAC:\"9c:c7:d1:e8:a9:be\" , hostname:\"TV_sharp\"},\n    {MAC:\"58:bd:a3:7b:65:52\" , hostname:\"Wii\" },  // \n    {MAC:\"80:c1:6e:ed:63:b8\" , hostname:\"chitzen\"},\n    {MAC:\"34:23:87:7a:e5:8b\" , hostname:\"SonyLaptop\"},\n    {MAC:\"8c:70:5a:72:d0:9c\" , hostname:\"OldLaptopJanWerk\"}, // wifi\n    {MAC:\"00:21:CC:C4:95:47\" , hostname:\"OldLaptopJanWerk\"}, // ethernet \n    {MAC:\"50:7B:9D:E8:1A:57\" , hostname:\"LaptopJanWerk\"}, // ethernet 50-7B-9D-E8-1A-57\n    {MAC:\"44:85:00:77:c2:57\" , hostname:\"LaptopJanWerk\"}, // wifi MAC_44_85_00_77_c2_57\n    {MAC:\"00:16:CF:5B:4D:5A\" , hostname:\"oudeLaptopJan\"}, // wifi\n    {MAC:\"00:16:41:ab:18:94\" , hostname:\"oudeLaptopJan\"}, // ethernet\n    {MAC:\"78:92:9C:00:F5:B6\" , hostname:\"LaptopJade\"}, // wifi \n    {MAC:\"00:13:33:9a:bd:82\" , hostname:\"LaptopJade\"}, // wifi2 (akoya has 2 wifi)\n    {MAC:\"00:26:2D:C5:4D:35\" , hostname:\"LaptopJade\"}, // ethernet\n    {MAC:\"b8:ee:65:3a:76:c0\" , hostname:\"LaptopMirkoSterre\"}, // ethernet\n    {MAC:\"ac:2b:6e:c0:01:e8\" , hostname:\"LaptopSterre\"}, // wifi\n    {MAC:\"b4:30:52:83:1f:eb\" , hostname:\"HuaweiSterre\"}, \n    {MAC:\"70:72:3c:ea:77:5d\" , hostname:\"OudeHuaweiJan\"},\n    {MAC:\"5c:b5:24:97:09:a9\" , hostname:\"SonyGsmMarleen\" },\n    {MAC:\"88:e8:7f:d7:db:d1\" , hostname:\"iphoneMarleen\" }, // added 2018-01-18\n    {MAC:\"ac:fd:ec:4e:d1:e4\" , hostname:\"oude_iphoneMarleen\" }, // renamed: old name \"iphoneMarleen\"\n    {MAC:\"84:8e:0c:5a:34:d8\" , hostname:\"iphoneJade\" },\n    {MAC:\"2c:33:61:82:cc:67\" , hostname:\"iphone7Jade\" },    \n    {MAC:\"48:e9:f1:16:1f:33\" , hostname:\"ipodMirko\" },\n    {MAC:\"08:60:6E:AB:A3:31\" , hostname:\"tabletNexus\"},\n    {MAC:\"2c:0e:3d:5d:b4:1c\" , hostname:\"S7Jan\"},\n    {MAC:\"d4:ae:05:8a:3a:a9\" , hostname:\"tabletSamsung\"},\n    {MAC:\"d0:2b:20:f0:1b:8d\" , hostname:\"iphone8Jan\"}\n    ];\n\nfor (var i=0; i<msg.payload.MAC_IP_list.length; i++){\n    var l_hostname = \"MAC_\"+msg.payload.MAC_IP_list[i].MAC.replace(/:/g,\"_\");\n    // Find Hostname for MAC\n    for (var j=0; j<MAC_to_hostname.length; j++){\n        if (MAC_to_hostname[j].MAC.toLowerCase()==\n                                          msg.payload.MAC_IP_list[i].MAC.toLowerCase()){\n            l_hostname = MAC_to_hostname[j].hostname;\n            break; // jump out of inner for loop\n        }\n    }\n    msg.payload.MAC_IP_list[i].hostname=l_hostname;\n}\nreturn msg;","outputs":1,"noerr":0,"x":386.1999969482422,"y":193.1999969482422,"wires":[["cfd22518.f3a0f8","78c44597.bf5dcc"]]},{"id":"cfd22518.f3a0f8","type":"debug","z":"fed72f15.8d836","name":"... plus hostname","active":true,"console":"false","complete":"true","x":606.1999969482422,"y":195.1999969482422,"wires":[]},{"id":"78c44597.bf5dcc","type":"function","z":"fed72f15.8d836","name":"hosts online (=1), not online (=0)[ ","func":"var MAC_to_hostname = [ \n    {MAC:\"e0:b9:e5:af:af:90\" , hostname:\"bbox_jan\"},\n    {MAC:\"e2:b9:e5:af:af:99\" , hostname:\"bbox_jan_62\" },  // bbox is also using IP 192.168.1.62 for this mac\n    {MAC:\"e2:b9:e5:af:af:90\" , hostname:\"bbox_jan_63\" },  // bbox is also using IP 192.168.1.63 for this mac\n    {MAC:\"c4:e9:84:2d:0e:28\" , hostname:\"TL-WPA4220\"},  // powerline extender6\n    {MAC:\"c4:e9:84:2d:0e:9c\" , hostname:\"TL-WPA4220_2\"}, // 2nd // powerline extender6\n    {MAC:\"18:59:33:13:9d:fb\" , hostname:\"cisco_switch\"},\n    {MAC:\"b8:27:eb:4c:14:2d\" , hostname:\"raspberrypi\"},\n    {MAC:\"b8:27:eb:5b:31:bb\" , hostname:\"pi3one\"},\n    {MAC:\"b8:27:eb:49:f1:cd\" , hostname:\"pi3two\"},\n    {MAC:\"b8:27:eb:79:80:3f\" , hostname:\"pi3three\" }, // ethernet\n    {MAC:\"b8:27:eb:2c:d5:6a\" , hostname:\"pi3three\" }, // wifi\n    {MAC:\"00:50:43:01:c1:e6\" , hostname:\"sheevaplug\"},\n    // {MAC:\"18:fe:34:a0:28:3d\" , hostname:\"wifi_relay_cv\"},  // disabled as located on another subnet\n    {MAC:\"00:90:a9:d8:7c:0c\" , hostname:\"WD\"}, // NAS\n    {MAC:\"9c:c7:d1:e8:a9:be\" , hostname:\"TV_sharp\"},\n    {MAC:\"58:bd:a3:7b:65:52\" , hostname:\"Wii\" },  // \n    {MAC:\"80:c1:6e:ed:63:b8\" , hostname:\"chitzen\"},\n    {MAC:\"34:23:87:7a:e5:8b\" , hostname:\"SonyLaptop\"},\n    {MAC:\"8c:70:5a:72:d0:9c\" , hostname:\"OldLaptopJanWerk\"}, // wifi\n    {MAC:\"00:21:CC:C4:95:47\" , hostname:\"OldLaptopJanWerk\"}, // ethernet \n    {MAC:\"50:7B:9D:E8:1A:57\" , hostname:\"LaptopJanWerk\"}, // ethernet 50-7B-9D-E8-1A-57\n    {MAC:\"44:85:00:77:c2:57\" , hostname:\"LaptopJanWerk\"}, // wifi MAC_44_85_00_77_c2_57\n    {MAC:\"00:16:CF:5B:4D:5A\" , hostname:\"oudeLaptopJan\"}, // wifi\n    {MAC:\"00:16:41:ab:18:94\" , hostname:\"oudeLaptopJan\"}, // ethernet\n    {MAC:\"78:92:9C:00:F5:B6\" , hostname:\"LaptopJade\"}, // wifi\n    {MAC:\"00:26:2D:C5:4D:35\" , hostname:\"LaptopJade\"}, // ethernet\n    {MAC:\"00:13:33:9a:bd:82\" , hostname:\"LaptopJade\"}, // wifi2 (akoya has 2 wifi)\n    {MAC:\"b8:ee:65:3a:76:c0\" , hostname:\"LaptopMirkoSterre\"}, // ethernet\n    {MAC:\"ac:2b:6e:c0:01:e8\" , hostname:\"LaptopSterre\"}, // wifi\n    {MAC:\"b4:30:52:83:1f:eb\" , hostname:\"HuaweiSterre\"}, \n    {MAC:\"70:72:3c:ea:77:5d\" , hostname:\"OudeHuaweiJan\"},\n    {MAC:\"5c:b5:24:97:09:a9\" , hostname:\"SonyGsmMarleen\" },\n    {MAC:\"88:e8:7f:d7:db:d1\" , hostname:\"iphoneMarleen\" }, // added 2018-01-18\n    {MAC:\"ac:fd:ec:4e:d1:e4\" , hostname:\"oude_iphoneMarleen\" }, // renamed: old name \"iphoneMarleen\"\n    {MAC:\"84:8e:0c:5a:34:d8\" , hostname:\"iphoneJade\" },\n    {MAC:\"2c:33:61:82:cc:67\" , hostname:\"iphone7Jade\" },\n    {MAC:\"48:e9:f1:16:1f:33\" , hostname:\"ipodMirko\" },\n    {MAC:\"08:60:6E:AB:A3:31\" , hostname:\"tabletNexus\"},\n    {MAC:\"2c:0e:3d:5d:b4:1c\" , hostname:\"S7Jan\"},\n    {MAC:\"d4:ae:05:8a:3a:a9\" , hostname:\"tabletSamsung\"},\n    {MAC:\"d0:2b:20:f0:1b:8d\" , hostname:\"iphone8Jan\"}\n    ];\n\n    \nvar newMsg = { \n nodegroup: \"7\",\n payload: {}};\n \n// set state for list of hostnames\nfor (var i=0; i<MAC_to_hostname.length;i++) {\n   newMsg.payload[MAC_to_hostname[i].hostname]=0;\n   for (var j=0; j<msg.payload.MAC_IP_list.length; j++) {\n       if (msg.payload.MAC_IP_list[j].hostname == MAC_to_hostname[i].hostname ) {\n           newMsg.payload[MAC_to_hostname[i].hostname]=1; break;\n       }\n   }\n}\n\nnewMsg.payload.pi3one=1; // arp-scan doesn't give results for itself\n\n// context variables needs to use the proper interface\nif (!context.init){\n    context.unknown_macs= [];\n    context.init = 1;\n}\n\n// reset state to 0\nfor (var k=0;k<context.unknown_macs.length;k++){\n    context.unknown_macs[k].prev_state =  context.unknown_macs[k].state;\n    context.unknown_macs[k].state=0;\n}\n\n// set state to 1\nfor (var l=0;l<msg.payload.MAC_IP_list.length; l++) {\n    if (msg.payload.MAC_IP_list[l].hostname.substr(0,4) == \"MAC_\" ){\n        var found = 0;\n        for (var k=0;k<context.unknown_macs.length;k++){\n             if (context.unknown_macs[k].hostname == msg.payload.MAC_IP_list[l].hostname){\n                 context.unknown_macs[k].state = 1;\n                 found = 1; break;\n             }\n        }\n        if (! found){\n            context.unknown_macs.push( { hostname:msg.payload.MAC_IP_list[l].hostname , \n                                         prev_state:0,\n                                         state:1 });\n        }\n    }\n}\n//node.warn(context.unknown_macs);\n\nvar newMsg2 = { payload : {} };\nfor (var k=0;k<context.unknown_macs.length;k++){\n    var l_hostname   = context.unknown_macs[k].hostname;\n    var l_prev_state = context.unknown_macs[k].prev_state;\n    var l_state      = context.unknown_macs[k].state;\n    \n    newMsg.payload[l_hostname]=l_state;\n    \n    if (l_prev_state != l_state){\n        newMsg2.payload[l_hostname]=l_state;\n    }\n}\n\n// set TV_sharp_smorgens which is true if the TV is on and it is still morning.\nvar current_hour = new Date().getHours();\nvar tis_smorgens = (( current_hour >= 5 ) && (current_hour <= 13 ) );\nnewMsg.payload.TV_sharp_smorgens = ( tis_smorgens && newMsg.payload.TV_sharp ? 1 : 0 );\n    \nreturn [ newMsg, newMsg2 ];","outputs":"2","noerr":0,"x":420,"y":240,"wires":[["99f27a5b.40f368","c3881eee.a2eb6"],["71527b7f.ddaaa4","1d24869d.fdf609"]]},{"id":"99f27a5b.40f368","type":"debug","z":"fed72f15.8d836","name":"emoncms input","active":true,"console":"false","complete":"true","x":740,"y":240,"wires":[]},{"id":"f7d53443.67ec88","type":"ping","z":"fed72f15.8d836","name":"ping \"3-channel wifi relay\" in basement","host":"192.168.42.60","timer":"300","x":150,"y":440,"wires":[["714d3c16.9b3364","8fe64985.786fa8"]]},{"id":"2d1b2a38.5e5cb6","type":"debug","z":"fed72f15.8d836","name":"\"wifi_relay_cv\" emon input","active":true,"console":"false","complete":"true","x":757.5,"y":468.3999481201172,"wires":[]},{"id":"714d3c16.9b3364","type":"function","z":"fed72f15.8d836","name":"\"wifi relay cv\" emon input","func":"var wifi_relay_cv_status = ( msg.payload === false ? 0 : 1 );\n\nvar newMsg = { \n nodegroup: \"7\",\n payload: {\"wifi_relay_cv\": wifi_relay_cv_status }};\n \n \nreturn newMsg;","outputs":1,"noerr":0,"x":442.50001525878906,"y":439.5999755859375,"wires":[["2d1b2a38.5e5cb6","c3881eee.a2eb6"]]},{"id":"8fe64985.786fa8","type":"debug","z":"fed72f15.8d836","name":"ping response","active":true,"console":"false","complete":"true","x":204.5,"y":410.39996337890625,"wires":[]},{"id":"cda4519a.14246","type":"comment","z":"fed72f15.8d836","name":"Prerequisites for this flow","info":"1. arp-scan should be installed :\n```sudo apt-get install arp-scan```\n2. all users (not only root) should be allowed to execute \"ping\" command:\n```sudo setcap cap_net_raw=ep /bin/ping```\n3. all users (not only root) should be allowed to execute \"arp-scan\" command:\n```sudo setcap cap_net_raw=ep /usr/bin/arp-scan```\n\nNote that as an alternative for point 3: it is also possible to launch \nthe arp-scan with sudo but this approach is not chosen as this\nresulted each time in several extra log lines in the nodered log file.\n\n# Notes\n**At 2018-01-24**: I have added following arp-scan option \n```\n--ignoredups\n```\nas I have seen that some hosts return duplicate lines.\nSee example below.\n```\n192.168.1.29    b8:ee:65:3a:76:c0       (Unknown)\n192.168.1.46    b4:30:52:83:1f:eb       (Unknown)\n192.168.1.46    b4:30:52:83:1f:eb       (Unknown) (DUP: 2)\n```","x":126.5,"y":30,"wires":[]},{"id":"e5fb73a7.20b6d","type":"debug","z":"89ac662.0a2c798","name":"","active":true,"console":"false","complete":"true","x":343.2000274658203,"y":124.7498779296875,"wires":[]},{"id":"3d996843.891ea8","type":"function","z":"89ac662.0a2c798","name":"extract temp, humidity, windspeed, pressure, clouds","func":"var newMsg = { \n nodegroup: \"6\",\n payload:\n  {temp:      Math.round( (msg.data.main.temp-273.15)       * 100 ) / 100,\n   temp_min:  Math.round( (msg.data.main.temp_min-273.15)   * 100 ) / 100,\n   temp_max:  Math.round( (msg.data.main.temp_max-273.15)   * 100 ) / 100,\n   pressure:  msg.data.main.pressure,\n   humidity:  msg.data.main.humidity,\n   // windspeed in mph\n   wind_speed:Math.round( (msg.data.wind.speed * 1.609344 ) * 100 ) / 100,\n   wind_deg:msg.data.wind.deg,\n   clouds:msg.data.clouds.all\n  }};\n   \n// remember temperature\nglobal.set(\"outside_temp\", newMsg.payload.temp);\nglobal.set(\"outside_humidity\", newMsg.payload.humidity);\n  \n  \nreturn newMsg;","outputs":1,"noerr":0,"x":301.70001220703125,"y":155.4998779296875,"wires":[["979b3a7e.4ef8d8","9568e68d.f98338"]]},{"id":"979b3a7e.4ef8d8","type":"debug","z":"89ac662.0a2c798","name":"","active":false,"console":"false","complete":"true","x":503.7000274658203,"y":121.9998779296875,"wires":[]},{"id":"d626f0ec.cb686","type":"openweathermap","z":"89ac662.0a2c798","name":"my openweather","wtype":"current","lon":"4.45127","lat":"51.166969","city":"","country":"","language":"en","x":158.45001220703125,"y":124.4998779296875,"wires":[["e5fb73a7.20b6d","3d996843.891ea8"]]},{"id":"6b16a64a.b49e08","type":"inject","z":"89ac662.0a2c798","name":"every 5 minutes","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"x":130.70000457763672,"y":93.24987888336182,"wires":[["d626f0ec.cb686"]]},{"id":"1af0d509.9cb87b","type":"comment","z":"89ac662.0a2c798","name":"retrieve openweather data and publish on emoncms","info":"","x":211.03337860107422,"y":40,"wires":[]},{"id":"a57190bd.cde9b","type":"emoncms","z":"21777d41.84c182","name":"my emoncms","emonServer":"589de0d1.83cae","nodegroup":"","datatype":"legacy","x":350.50010681152344,"y":140.60000610351562,"wires":[]},{"id":"79dec3f7.55210c","type":"link in","z":"21777d41.84c182","name":"to my emoncms","links":["2f35744a.a4b80c","366b49a2.6c53b6","6402749.d0dad8c","9471dcd1.342ea","a507d943.700588","b44eb838.507e08","c3881eee.a2eb6","f62cf426.7009d8","91056def.461fc"],"x":222.50001525878906,"y":140.5999984741211,"wires":[["a57190bd.cde9b","20159c7c.1dbd84"]]},{"id":"20159c7c.1dbd84","type":"debug","z":"21777d41.84c182","name":"to emoncms","active":true,"console":"false","complete":"true","x":346.5000305175781,"y":97.5999984741211,"wires":[]},{"id":"f62cf426.7009d8","type":"link out","z":"89ac662.0a2c798","name":"from openweather","links":["79dec3f7.55210c","f59c1140.680b4","c2ac5027.0b21","69ee7cc0.51a134","9d4d0159.7a062"],"x":576.5,"y":224.1999969482422,"wires":[]},{"id":"c3881eee.a2eb6","type":"link out","z":"fed72f15.8d836","name":"from arp-scan","links":["79dec3f7.55210c","9a39cfe6.00f66"],"x":656.5,"y":424.99998474121094,"wires":[]},{"id":"bf617b45.b168e8","type":"mqtt in","z":"669ca4d9.6412bc","name":"emonTh - node 23","topic":"emonhub/rx/23/values","qos":"0","broker":"9c9ae2bc.63652","x":150.50006103515625,"y":130.2000274658203,"wires":[["996d2d6d.8778f","1814ee63.df6602","adda148e.6ee598"]]},{"id":"d0625115.b7188","type":"mqtt in","z":"669ca4d9.6412bc","name":"emonTx - node 10","topic":"emonhub/rx/10/values","qos":"0","broker":"9c9ae2bc.63652","x":148.50001525878906,"y":36.19999694824219,"wires":[["58551b6e.5c8374","b55692da.a56d6"]]},{"id":"996d2d6d.8778f","type":"function","z":"669ca4d9.6412bc","name":"extract and store temp, humidity","func":"//  the temperature is the first element in the payload\n//  the humidity is the third element in the payload\nvar temp     = parseFloat(msg.payload.split(\",\")[0]);\nvar humidity = parseFloat(msg.payload.split(\",\")[2]);\n\nglobal.set(\"emonTh_node23_temp\",temp);\nmsg.payload= { \"temp\": temp,\n               \"humidity\" : humidity };\n    \nreturn msg;","outputs":1,"noerr":0,"x":398.9501190185547,"y":162.2000494003296,"wires":[["a2e882db.b4f9e","b9f7e129.07c3e"]]},{"id":"a2e882db.b4f9e","type":"debug","z":"669ca4d9.6412bc","name":"","active":false,"console":"false","complete":"payload","x":610.7500610351562,"y":121.60004425048828,"wires":[]},{"id":"58551b6e.5c8374","type":"debug","z":"669ca4d9.6412bc","name":"emonTx - node 10","active":false,"console":"false","complete":"true","x":361.5000762939453,"y":34.600006103515625,"wires":[]},{"id":"ba3a7f9f.7d489","type":"mqtt in","z":"669ca4d9.6412bc","name":"emonTh - node 24","topic":"emonhub/rx/24/values","qos":"0","broker":"9c9ae2bc.63652","x":130,"y":420,"wires":[["c0ab7f94.27cd","b106bd5c.778e1","863b71a9.c250c"]]},{"id":"c0ab7f94.27cd","type":"debug","z":"669ca4d9.6412bc","name":"emonTh - node 24","active":true,"console":"false","complete":"true","x":334.00001525878906,"y":419.3999938964844,"wires":[]},{"id":"1814ee63.df6602","type":"debug","z":"669ca4d9.6412bc","name":"emonTh - node 23","active":true,"console":"false","complete":"true","x":357.7500762939453,"y":124.35003471374512,"wires":[]},{"id":"dad36045.68a4e","type":"debug","z":"83200356.0ef81","name":"http relay status response","active":true,"console":"false","complete":"true","x":672.3944625854492,"y":569.6944838762283,"wires":[]},{"id":"6f24cfa8.486bb","type":"http request","z":"83200356.0ef81","name":"http get relay status","method":"GET","ret":"obj","url":"192.168.42.60/control/relay.cgi?state","tls":"","x":427.6167411804199,"y":569.2500449419022,"wires":[["dad36045.68a4e","9529fd39.ae938"]]},{"id":"6bada890.a644b8","type":"inject","z":"83200356.0ef81","name":"every minute","topic":"poll","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"x":227.61672592163086,"y":569.5000334978104,"wires":[["6f24cfa8.486bb"]]},{"id":"9529fd39.ae938","type":"function","z":"83200356.0ef81","name":"extract cv pump and ventilator state","func":"\n// validate status code\nif (msg.statusCode != \"200\" ) {\n    node.error(\"Unexpected http get status code (=\" + msg.statusCode + \")\");\n    node.error(msg);\n    return;\n}\n\nglobal.set(\"cv_pump.status\",   msg.payload.relay2);\nglobal.set(\"ventilator.status\",msg.payload.relay3);\n\nvar newMsg = { \n    nodegroup:\"5\",\n    payload:{ cvpump    : msg.payload.relay2 ,\n              ventilator: msg.payload.relay3  }\n};\n\nreturn newMsg ;","outputs":"1","noerr":0,"x":528.4778709411621,"y":481.9722194671631,"wires":[["a6f8c49.2785538","9471dcd1.342ea"]]},{"id":"a6f8c49.2785538","type":"debug","z":"83200356.0ef81","name":"cv pump and ventilator state","active":true,"console":"false","complete":"true","x":593.1168022155762,"y":451.9167423248291,"wires":[]},{"id":"a9ddd1e6.d9fca","type":"inject","z":"83200356.0ef81","name":"activate cv pump relay","topic":"cv_pump","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":277.3333740234375,"y":90.33339500427246,"wires":[["786e6ec3.f83d8"]]},{"id":"f9ac8956.8f7de8","type":"inject","z":"83200356.0ef81","name":"deactivate cv pump relay","topic":"cv_pump","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":290.688232421875,"y":60.33334922790527,"wires":[["786e6ec3.f83d8"]]},{"id":"3a29e576.1cdcaa","type":"comment","z":"83200356.0ef81","name":"retrieve CV relay status ","info":"","x":228.70008850097656,"y":524.3333768844604,"wires":[]},{"id":"cba16115.cfb06","type":"http request","z":"83200356.0ef81","name":"http (de)activate relay","method":"GET","ret":"txt","url":"","tls":"","x":345.5890655517578,"y":369.9722442626953,"wires":[["306ff4e5.1b328c","ab19bdb8.9788b"]]},{"id":"306ff4e5.1b328c","type":"debug","z":"83200356.0ef81","name":"http (de)activate relay response","active":true,"console":"false","complete":"true","x":646.6446533203125,"y":370.9722442626953,"wires":[]},{"id":"ab19bdb8.9788b","type":"function","z":"83200356.0ef81","name":"map to \"get relay status\" output format","func":"// validate status code\nif (msg.statusCode != \"200\" ) {\n    node.error(\"Unexpected http get status code (=\" + msg.statusCode + \")\");\n    node.error(msg);\n    return;\n}\n\nvar newMsg = { statusCode : msg.statusCode ,\n               payload    : { relay2 : -1 , relay3 : -1} };\n\nif ( msg.payload.search(\"CV is now on\") != -1){\n    newMsg.payload.relay2=1;\n} else if ( msg.payload.search(\"CV is now off\") != -1) {\n    newMsg.payload.relay2=0\n} else {\n    node.error(\"unexpected payload:\" + msg.payload);\n    return;\n}\n\nif ( msg.payload.search(\"ventilator is now on\") != -1){\n    newMsg.payload.relay3=1;\n} else if ( msg.payload.search(\"ventilator is now off\") != -1) {\n    newMsg.payload.relay3=0\n} else {\n    node.error(\"unexpected payload:\" + msg.payload);\n    return;\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":395.0613708496094,"y":397.6389465332031,"wires":[["9529fd39.ae938","49ec729d.1a2f0c"]]},{"id":"49ec729d.1a2f0c","type":"debug","z":"83200356.0ef81","name":"","active":true,"console":"false","complete":"true","x":637.5889625549316,"y":398.4722547531128,"wires":[]},{"id":"51af189e.1aaff8","type":"inject","z":"83200356.0ef81","name":"activate ventilator relay","topic":"ventilator","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":279.00010681152344,"y":121.30574607849121,"wires":[["786e6ec3.f83d8"]]},{"id":"3f0afcb0.f3a164","type":"inject","z":"83200356.0ef81","name":"deactivate ventilator relay","topic":"ventilator","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":288.7778854370117,"y":153.0835781097412,"wires":[["786e6ec3.f83d8"]]},{"id":"f900e935.c4c9e8","type":"link in","z":"83200356.0ef81","name":"activate/deactivate my 3CH WiFi Relay Control Board","links":["786e6ec3.f83d8","4db76f10.1c53a","24ebd29f.82789e"],"x":196.72230529785156,"y":245.5999984741211,"wires":[["efdfda60.bdc1c8","3deb433c.06e84c"]]},{"id":"9471dcd1.342ea","type":"link out","z":"83200356.0ef81","name":"cv pump and relay status","links":["79dec3f7.55210c","b43fa5c8.0e6dc8","93d3126d.7b301","7ff920c5.3d75a","c0184b88.84ef08"],"x":738.1667985916138,"y":483.5333585739136,"wires":[]},{"id":"efdfda60.bdc1c8","type":"function","z":"83200356.0ef81","name":"validate input","func":"// validate input\nif ( (msg.payload !== 0) && (msg.payload !=1)) {\n    node.error(\"msg.payload=\\'\"+msg.payload+\"\\' is not supported.\");\n    return;\n}\nif ((msg.topic != 'cv_pump') && (msg.topic != 'ventilator')){\n    node.error(\"msg.topic=\\'\"+msg.topic+\"\\' is not supported.\");\n    return;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":316.1667785644531,"y":278.6000061035156,"wires":[["9c6eb452.ef1d58"]]},{"id":"8c84ad42.b914a","type":"comment","z":"83200356.0ef81","name":"\"3CH WiFi Relay Control Board\" Interface","info":"My \"3CH Wifi Relay Control Board\" (with IP address 192.168.42.60) is installed in\nthe basement:\n- relay 2 : activates/deactivates the CV pump (CV = central heating)\n- relay 3 : activates/deactivates the ventilator in the basement\n\nMore information about the hardware can be found at:\n* https://openenergymonitor.org/emon/node/11158","x":311.1666717529297,"y":209.99998474121094,"wires":[]},{"id":"786e6ec3.f83d8","type":"link out","z":"83200356.0ef81","name":"test","links":["f900e935.c4c9e8"],"x":484.83335876464844,"y":90.93337059020996,"wires":[]},{"id":"9c6eb452.ef1d58","type":"function","z":"83200356.0ef81","name":"current status != requested status ?","func":"// only send message if the new desired cv pump/ventilator status is different from the actual.\n//node.warning(\"global.get=\"+global.get(msg.topic + \".status\"));\nif (msg.payload !== global.get(msg.topic + \".status\")){\n    return msg;\n} else {\n    return;\n}\nreturn msg;","outputs":1,"noerr":0,"x":384.16673278808594,"y":308.99998474121094,"wires":[["d60b68a2.dcafa8"]]},{"id":"3deb433c.06e84c","type":"debug","z":"83200356.0ef81","name":"3CH WiFi Relay Status Change Request","active":true,"console":"false","complete":"true","x":407.16668701171875,"y":247.19998168945312,"wires":[]},{"id":"d60b68a2.dcafa8","type":"function","z":"83200356.0ef81","name":"create URL","func":"var relay_nr;\nif (msg.topic == \"cv_pump\") { relay_nr = 2; }\nelse if (msg.topic == \"ventilator\") { relay_nr = 3; }\nelse { // this case normally can never happen\n  return;\n}\n\nmsg.url = \"192.168.42.60/control/relay.cgi?relay\"+relay_nr+\"=\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":315.1666717529297,"y":339.3999786376953,"wires":[["cba16115.cfb06","f67707c6.e74b48"]]},{"id":"f67707c6.e74b48","type":"debug","z":"83200356.0ef81","name":"with url","active":true,"console":"false","complete":"true","x":513.1666564941406,"y":341.1999816894531,"wires":[]},{"id":"125c7bf2.752274","type":"comment","z":"83200356.0ef81","name":"test inject nodes","info":"","x":228.83334350585938,"y":28.933324813842773,"wires":[]},{"id":"1d0f7e65.f0e302","type":"ui_switch","z":"7fa2194.bf802e8","name":"","label":"verwarming boven","group":"26bbff78.ed3c6","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"ui/cv_req/heating_upstairs","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":454.125,"y":173,"wires":[["fcba1a5b.966cc8"]]},{"id":"18718203.84a46e","type":"ui_switch","z":"7fa2194.bf802e8","name":"","label":"verwarming kamer Jade","group":"26bbff78.ed3c6","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"ui/cv_req/heating_room_jade","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":470,"y":280,"wires":[["6f73143.4b7b9ec"]]},{"id":"5f4f7ac8.b0dc04","type":"ui_numeric","z":"7fa2194.bf802e8","name":"","label":"gewenste temp kamer Jade","group":"26bbff78.ed3c6","order":3,"width":0,"height":0,"passthru":true,"topic":"ui/cv_req/temp_room_jade","format":"{{value}}&deg;","min":"16","max":"21","step":"","x":480,"y":315.25000762939453,"wires":[["ca1f827f.2a1af"]]},{"id":"fa002530.e8f808","type":"ui_text","z":"7fa2194.bf802e8","group":"26bbff78.ed3c6","order":4,"width":0,"height":0,"name":"","label":"cv calendar","format":"{{msg.payload}}","layout":"row-spread","x":430.25007247924805,"y":388.2500333786011,"wires":[]},{"id":"bdc91630.b05fb8","type":"comment","z":"7fa2194.bf802e8","name":"invoer","info":"","x":430.62502670288086,"y":42.250000953674316,"wires":[]},{"id":"162e3d4e.7c1673","type":"comment","z":"7fa2194.bf802e8","name":"status","info":"","x":417.00002670288086,"y":476.7500333786011,"wires":[]},{"id":"50db59d2.2fb368","type":"ui_text","z":"7fa2194.bf802e8","group":"37779cb4.2ff4e4","order":1,"width":0,"height":0,"name":"","label":"CV pomp","format":"{{msg.payload.cvpump?\"aan\":\"uit\"}}","layout":"row-spread","x":427.0000228881836,"y":512.0000638961792,"wires":[]},{"id":"a69c5964.57ec08","type":"ui_text","z":"7fa2194.bf802e8","group":"37779cb4.2ff4e4","order":2,"width":0,"height":0,"name":"","label":"°T kamer Jade","format":"{{msg.payload.temp | number:1 }}&deg;","layout":"row-spread","x":444.5000190734863,"y":584.5000658035278,"wires":[]},{"id":"4788b46d.80ceac","type":"ui_text","z":"7fa2194.bf802e8","group":"37779cb4.2ff4e4","order":4,"width":0,"height":0,"name":"","label":"°T buiten","format":"{{msg.payload.temp | number:1 }}&deg;","layout":"row-spread","x":421.25006103515625,"y":749.2501220703125,"wires":[]},{"id":"b43fa5c8.0e6dc8","type":"link in","z":"7fa2194.bf802e8","name":"CV pomp","links":["9471dcd1.342ea"],"x":317.7500228881836,"y":512.5000877380371,"wires":[["50db59d2.2fb368","ca0008c1.178f58"]]},{"id":"1cb9954b.86036b","type":"link in","z":"7fa2194.bf802e8","name":"°T kamer Jade","links":["b2f7a7e1.9ac498"],"x":316.75008392333984,"y":584.750057220459,"wires":[["a69c5964.57ec08","c88e20e.fafeae"]]},{"id":"f59c1140.680b4","type":"link in","z":"7fa2194.bf802e8","name":"°T buiten","links":["f62cf426.7009d8"],"x":319.0000648498535,"y":749.2500829696655,"wires":[["4788b46d.80ceac"]]},{"id":"b2f7a7e1.9ac498","type":"link out","z":"669ca4d9.6412bc","name":"emonTh - node 23","links":["1cb9954b.86036b","8174233d.89ae1"],"x":777.875,"y":198,"wires":[]},{"id":"aaa1238c.e7471","type":"comment","z":"7fa2194.bf802e8","name":"CV Controller","info":"","x":971.875,"y":63.4999942779541,"wires":[]},{"id":"4db76f10.1c53a","type":"link out","z":"7fa2194.bf802e8","name":"activate/deactive CV pump","links":["f900e935.c4c9e8"],"x":1012.4999990463257,"y":426.0000581741333,"wires":[]},{"id":"a82bc56e.34e948","type":"inject","z":"7fa2194.bf802e8","name":"every 5 minutes","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"x":811.7500419616699,"y":515.2499866485596,"wires":[["d74f003e.81488","da4c3e8a.bfd9e"]]},{"id":"fcba1a5b.966cc8","type":"function","z":"7fa2194.bf802e8","name":"update ui_cv_req_heating_upstairs","func":"global.set(\"ui_cv_req_heating_upstairs\",msg.payload);\nglobal.set(\"ui_cv_req_heating_upstairs_last_change_time\",Date.now());\nreturn msg;","outputs":1,"noerr":0,"x":783.375,"y":171.5,"wires":[["316ddc14.a9b9c4","da4c3e8a.bfd9e"]]},{"id":"6f73143.4b7b9ec","type":"function","z":"7fa2194.bf802e8","name":"update ui_cv_req_heating_room_jade","func":"global.set(\"ui_cv_req_heating_room_jade\",msg.payload);\nglobal.set(\"ui_cv_req_heating_room_jade_last_change_time\",Date.now());\nreturn msg;","outputs":1,"noerr":0,"x":786.2499961853027,"y":278.5000228881836,"wires":[["a1d9c146.8a14b","da4c3e8a.bfd9e"]]},{"id":"ca1f827f.2a1af","type":"function","z":"7fa2194.bf802e8","name":"update  ui_cv_req_temp_room_jade","func":"global.set(\"ui_cv_req_temp_room_jade\",msg.payload);\nglobal.set(\"ui_cv_req_heating_room_jade_last_change_time\",Date.now());\nreturn msg;","outputs":1,"noerr":0,"x":777.4999961853027,"y":316.00000858306885,"wires":[["1d25c72f.3a2519","da4c3e8a.bfd9e"]]},{"id":"316ddc14.a9b9c4","type":"debug","z":"7fa2194.bf802e8","name":"","active":true,"console":"false","complete":"true","x":1018.3750038146973,"y":172,"wires":[]},{"id":"a1d9c146.8a14b","type":"debug","z":"7fa2194.bf802e8","name":"","active":true,"console":"false","complete":"true","x":1018.7500038146973,"y":278.00000762939453,"wires":[]},{"id":"1d25c72f.3a2519","type":"debug","z":"7fa2194.bf802e8","name":"","active":true,"console":"false","complete":"true","x":1013.7500038146973,"y":313.00000762939453,"wires":[]},{"id":"ca0008c1.178f58","type":"function","z":"7fa2194.bf802e8","name":"update cvpump_state","func":"global.set(\"cvpump_state\",msg.payload.cvpump);\nreturn msg;","outputs":1,"noerr":0,"x":464.5000877380371,"y":548.250096321106,"wires":[["da4c3e8a.bfd9e"]]},{"id":"c88e20e.fafeae","type":"function","z":"7fa2194.bf802e8","name":"update temp_room_jade","func":"global.set(\"temp_room_jade\",msg.payload.temp);\nreturn msg;","outputs":1,"noerr":0,"x":473.25002670288086,"y":622.0000972747803,"wires":[["da4c3e8a.bfd9e"]]},{"id":"b03e87a.1e6cc78","type":"function","z":"7fa2194.bf802e8","name":"update cv_calendar_temp","func":"var cv_calendar_temp =( msg.payload.active ? msg.payload.temp : 0 ) ;\n\nglobal.set(\"cv_calendar_temp\", cv_calendar_temp);\nmsg.payload = cv_calendar_temp;\nreturn msg;","outputs":1,"noerr":0,"x":468.24999618530273,"y":423.50004863739014,"wires":[["da4c3e8a.bfd9e"]]},{"id":"da4c3e8a.bfd9e","type":"function","z":"7fa2194.bf802e8","name":"CV pump status changed ?","func":"// initialise variables\nvar cvpump_state                = global.get(\"cvpump_state\");\nvar ui_cv_req_heating_upstairs  = global.get(\"ui_cv_req_heating_upstairs\");\nvar ui_cv_req_heating_room_jade = global.get(\"ui_cv_req_heating_room_jade\");\nvar ui_cv_req_temp_room_jade    = global.get(\"ui_cv_req_temp_room_jade\");\nvar cv_calendar_temp            = global.get(\"cv_calendar_temp\");\nvar temp_room_jade              = global.get(\"temp_room_jade\");\n\n// determine new status cv pump\nvar new_cvpump_state =Number ( ui_cv_req_heating_upstairs ||\n                               (ui_cv_req_heating_room_jade && (ui_cv_req_temp_room_jade > temp_room_jade)) ||\n                               (cv_calendar_temp > temp_room_jade));\n\n// only send message if the new desired cv pump status is different from the actual.\nif (new_cvpump_state != cvpump_state){\n    var newMsg = { topic: \"cv_pump\" ,\n                   payload: new_cvpump_state};\n    return newMsg;\n} else { return ;}\n\n","outputs":1,"noerr":0,"x":1079.9999961853027,"y":393.25007152557373,"wires":[["4db76f10.1c53a","fb286e8d.4e47e"]]},{"id":"fb286e8d.4e47e","type":"debug","z":"7fa2194.bf802e8","name":"new cv pump state","active":true,"console":"false","complete":"true","x":1142.5,"y":363.00002574920654,"wires":[]},{"id":"d74f003e.81488","type":"function","z":"7fa2194.bf802e8","name":"publish ui heating request","func":"var ui_temp_room_jade  = ( global.get(\"ui_cv_req_heating_room_jade\") ? global.get(\"ui_cv_req_temp_room_jade\"): 0 );\nvar cv_calendar_temp   = global.get(\"cv_calendar_temp\");\n\nvar newMsg = { \n    nodegroup:\"5\",\n    payload:{ ui_cv_boven     : global.get(\"ui_cv_req_heating_upstairs\") * 24,\n              ui_cv_kamer_jade: ui_temp_room_jade,\n              cv_calendar_temp: cv_calendar_temp }\n    };\n\nreturn newMsg;","outputs":1,"noerr":0,"x":876.9999809265137,"y":546.250018119812,"wires":[["2f35744a.a4b80c"]]},{"id":"2f35744a.a4b80c","type":"link out","z":"7fa2194.bf802e8","name":"publish ui heating request","links":["79dec3f7.55210c"],"x":865.4999809265137,"y":575.4999876022339,"wires":[]},{"id":"4012c9b6.ff1668","type":"function","z":"70877b4a.1bbb44","name":"process cv calendar event","func":"var start_time = new Date(msg.payload.start);\nvar end_time   = new Date(msg.payload.end);\nvar cv_temp    = Number(msg.payload.title);\nvar now = new Date();\n\nnode.log( msg.payload.start + \"=>\" + msg.payload.end + \":\" + msg.payload.title);\n// check if temperature within range and end time not yet passed\nif ( ! ( ( (cv_temp > 0) && (cv_temp <= 25 ) ) &&\n         ( now < end_time) ) )  {\n    node.error(\"title:\" + msg.payload.title + \"; start_time:\" + start_time + \"; end_time:\"+ end_time + \";now:\" + now);\n    return;\n}\n\nglobal.set(\"cv_calendar_state\", \n            { \"active\" : 1, \n              \"temp\" : cv_temp , \n              \"start_time\" : start_time, \n              \"end_time\" : end_time });\n\nmsg.payload = global.get(\"cv_calendar_state\");\nreturn msg;","outputs":1,"noerr":0,"x":329.5000305175781,"y":178.60000610351562,"wires":[["f8cd2d76.70c06","e1ec61c1.0e622"]]},{"id":"87f9e91b.644a08","type":"function","z":"70877b4a.1bbb44","name":"now > end_time ?","func":"var cv_calendar = global.get(\"cv_calendar_state\");\n\nif (cv_calendar.active){\n    var now = new Date();\n    if (now > cv_calendar.end_time) {\n          global.set(\"cv_calendar_state.active\",0);\n    }\n}\n\nmsg.payload =  global.get(\"cv_calendar_state\");\n\nreturn msg;","outputs":1,"noerr":0,"x":322.50001525878906,"y":247.59999084472656,"wires":[["f8cd2d76.70c06","c2b49176.66677"]]},{"id":"f8cd2d76.70c06","type":"link out","z":"70877b4a.1bbb44","name":"cv calendar event","links":["7266a5fc.6a41ec"],"x":582.5000152587891,"y":174.8000030517578,"wires":[]},{"id":"dcd01b30.38d958","type":"debug","z":"70877b4a.1bbb44","name":"calendar event","active":true,"console":"false","complete":"payload","x":282.50001525878906,"y":117.19999694824219,"wires":[]},{"id":"e13df204.713b3","type":"inject","z":"70877b4a.1bbb44","name":"every minute","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":112.5,"y":248.8000030517578,"wires":[["87f9e91b.644a08"]]},{"id":"e1ec61c1.0e622","type":"debug","z":"70877b4a.1bbb44","name":"processed calendar event","active":true,"console":"false","complete":"true","x":538.5000152587891,"y":116.60000610351562,"wires":[]},{"id":"c2b49176.66677","type":"debug","z":"70877b4a.1bbb44","name":"","active":true,"console":"false","complete":"true","x":531.4999694824219,"y":248.5999755859375,"wires":[]},{"id":"bca9034e.6b5d1","type":"inject","z":"70877b4a.1bbb44","name":"once a start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":109.5,"y":53.79999542236328,"wires":[["2c4a5c62.e06674"]]},{"id":"2c4a5c62.e06674","type":"function","z":"70877b4a.1bbb44","name":"set cv_calendar_state.active = 0","func":"global.set(\"cv_calendar_state\", { \"active\": 0});\nreturn msg;","outputs":1,"noerr":0,"x":377.50001525878906,"y":53.599998474121094,"wires":[[]]},{"id":"7266a5fc.6a41ec","type":"link in","z":"7fa2194.bf802e8","name":"ui cv calendar","links":["f8cd2d76.70c06"],"x":259.12498474121094,"y":388.3499755859375,"wires":[["b03e87a.1e6cc78","6a1cdfd0.8ab9a"]]},{"id":"6a1cdfd0.8ab9a","type":"function","z":"7fa2194.bf802e8","name":"return cv calendar status","func":"var cv_calendar = msg.payload;\nvar newMsg = { payload: (cv_calendar.active ? ( cv_calendar.temp.toString()+ \"° tot \"+ \n                                             cv_calendar.end_time.toLocaleTimeString()) \n                                         : \"uit\" ) };\n\nreturn newMsg;","outputs":1,"noerr":0,"x":471.125057220459,"y":357.14998149871826,"wires":[["fa002530.e8f808"]]},{"id":"11d49b1c.8f0075","type":"comment","z":"83200356.0ef81","name":"retrieve dht22 info","info":"","x":216.5,"y":610.3999977111816,"wires":[]},{"id":"af21367f.86aae8","type":"inject","z":"83200356.0ef81","name":"every 5 minutes","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"x":234.5,"y":651.1999855041504,"wires":[["a9af4baa.8a9aa8"]]},{"id":"a9af4baa.8a9aa8","type":"http request","z":"83200356.0ef81","name":"http get dht22 temp/humidity","method":"GET","ret":"txt","url":"http://192.168.42.60/control/dht22.tpl","tls":"","x":474.5000305175781,"y":651.1999855041504,"wires":[["1fab77d6.77ed58","c8245edd.c5014"]]},{"id":"1fab77d6.77ed58","type":"debug","z":"83200356.0ef81","name":"get dht22 response","active":true,"console":"false","complete":"true","x":721.5000152587891,"y":651.3999977111816,"wires":[]},{"id":"f7ede501.ce50d8","type":"html","z":"83200356.0ef81","name":"extract paragraph[]","tag":"p","ret":"text","as":"single","x":479.5000762939453,"y":721.7999000549316,"wires":[["18bbb682.ff82c9","ed7270f4.43c14"]]},{"id":"18bbb682.ff82c9","type":"debug","z":"83200356.0ef81","name":"paragraphs[]","active":true,"console":"false","complete":"true","x":686.5000152587891,"y":719.799991607666,"wires":[]},{"id":"c8245edd.c5014","type":"switch","z":"83200356.0ef81","name":"check status","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"},{"t":"eq","v":"200","vt":"num"}],"checkall":"true","outputs":2,"x":426.5000457763672,"y":680.4000282287598,"wires":[["39367511.c972ba"],["f7ede501.ce50d8"]]},{"id":"39367511.c972ba","type":"debug","z":"83200356.0ef81","name":"status not 200","active":true,"console":"true","complete":"true","x":616.4999847412109,"y":682.2000160217285,"wires":[]},{"id":"ed7270f4.43c14","type":"function","z":"83200356.0ef81","name":"extract temp and humidity","func":"// validate payload contents\nif (msg.payload[0].substring(1,67)!= \n    \"If there's a DHT22 connected to GPIO2, its temperature reading is \") {\n        node.error(\"Message doesn't have expected content:; msg.payload =\" + msg.payload);\n        return;\n    }\n\nvar parts = msg.payload[0].split(\" is \");\nvar temp_num_digits= parts[1].indexOf(\"C\")-1;\nvar temp = Number(parts[1].substring(0,temp_num_digits));\nvar humidity_num_digits=parts[2].indexOf(\"%\");\nvar humidity = Number(parts[2].substring(0,humidity_num_digits));\n\n// check if temp or humidity is number\nif (isNaN(temp) || isNaN(humidity)){\n    node.error(\"Extracted temp or humidity is not a number. msg.payload =\" + msg.payload);\n    return;\n}\n\n// zero humidity or temperature most likely indicate that the message is not correctly\n// interpreted\nif ((Math.round(temp*100)===0)||(humidity<10)){\n    node.error(\"Extracted humidity or temperature is zero which is most likely not correct. msg.payload =\" + msg.payload);\n    return;\n}\n\nvar newMsg = { \n    nodegroup:\"5\",\n    payload:{ \"temp\"    : temp ,\n              \"humidity\": humidity  }\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":498.50001525878906,"y":750.9999732971191,"wires":[["f4dea179.02562","53d940e2.a38d8"]]},{"id":"f4dea179.02562","type":"debug","z":"83200356.0ef81","name":"","active":true,"console":"false","complete":"true","x":728.4999847412109,"y":753.8000068664551,"wires":[]},{"id":"366b49a2.6c53b6","type":"link out","z":"83200356.0ef81","name":"temp and humidity","links":["79dec3f7.55210c","b60e349b.1fd7f8","5a024f2e.26718"],"x":823.5,"y":805.7999305725098,"wires":[]},{"id":"ebb898f4.144768","type":"mqtt in","z":"9519878f.6ae678","name":"kodi/#","topic":"kodi/#","qos":"2","broker":"9c9ae2bc.63652","x":94,"y":116,"wires":[["c214488c.3debb8"]]},{"id":"c214488c.3debb8","type":"debug","z":"9519878f.6ae678","name":"kodi","active":true,"console":"false","complete":"true","x":267,"y":117,"wires":[]},{"id":"d8afbd44.0ad46","type":"ui_text","z":"cbb123e.ff1e2e","group":"3d9accab.6c2634","order":0,"width":0,"height":0,"name":"","label":"CV","format":"{{msg.payload.cvpump?\"<i class=\\\"fa fa-toggle-on\\\"></i>\":\"<i class=\\\"fa fa-toggle-off\\\"></i>\"}}","layout":"row-spread","x":348.50006103515625,"y":21.800003051757812,"wires":[]},{"id":"93d3126d.7b301","type":"link in","z":"cbb123e.ff1e2e","name":"","links":["9471dcd1.342ea"],"x":247.5,"y":22.600006103515625,"wires":[["d8afbd44.0ad46","75d5666f.91af08"]]},{"id":"75d5666f.91af08","type":"ui_text","z":"cbb123e.ff1e2e","group":"3d9accab.6c2634","order":0,"width":0,"height":0,"name":"ventilator","label":"ventilator","format":"{{msg.payload.ventilator?\"<i class=\\\"fa fa-camera-retro\\\"></i>\":\"<i class=\\\"fa fa-toggle-off\\\"></i>\"}}","layout":"row-spread","x":357.5,"y":53,"wires":[]},{"id":"c9722513.d39718","type":"ui_text","z":"cbb123e.ff1e2e","group":"a5cd413.e0d49c","order":4,"width":0,"height":0,"name":"Kelder Temp","label":"Kelder","format":"{{msg.payload.temp | number:1 }}&deg;","layout":"row-spread","x":413.50001525878906,"y":434.2000274658203,"wires":[]},{"id":"b60e349b.1fd7f8","type":"link in","z":"cbb123e.ff1e2e","name":"","links":["366b49a2.6c53b6"],"x":294.5000305175781,"y":447.6000213623047,"wires":[["c9722513.d39718","e2912c6f.61c0c","33456e40.7648c2"]]},{"id":"8174233d.89ae1","type":"link in","z":"cbb123e.ff1e2e","name":"","links":["b2f7a7e1.9ac498"],"x":296.50006103515625,"y":356.59999084472656,"wires":[["85f2b50a.0573f8","86ea1851.33bb38","1084ea44.696eb6","26716c30.748174"]]},{"id":"85f2b50a.0573f8","type":"ui_text","z":"cbb123e.ff1e2e","group":"a5cd413.e0d49c","order":2,"width":0,"height":0,"name":"Room Jade Temp","label":"kamer Jade","format":"{{msg.payload.temp | number:1 }}&deg;","layout":"row-spread","x":432.50001525878906,"y":337.8000030517578,"wires":[]},{"id":"261c64c9.94dfec","type":"ui_text","z":"cbb123e.ff1e2e","group":"a5cd413.e0d49c","order":3,"width":0,"height":0,"name":"Badkamer Temp","label":"Badkamer","format":"{{msg.payload.temp | number:1 }}&deg;","layout":"row-spread","x":431.50001525878906,"y":389.8000030517578,"wires":[]},{"id":"86f7971c.e72298","type":"link out","z":"669ca4d9.6412bc","name":"emonTh - node 24","links":["c2a92fc7.60fc7","79911573.9fa15c"],"x":690.9999389648438,"y":481.9999694824219,"wires":[]},{"id":"b106bd5c.778e1","type":"function","z":"669ca4d9.6412bc","name":"extract and store temp, humidity","func":"//  the temperature is the first element in the payload.\n//  the humidity is the third element in the payload\nvar temp     = parseFloat(msg.payload.split(\",\")[0]);\nvar humidity = parseFloat(msg.payload.split(\",\")[2]);\n\n// global.set(\"emonTh_node24_temp\",temp);\nmsg.payload= { \"temp\": temp,\n               \"humidity\" : humidity };\n    \nreturn msg;","outputs":1,"noerr":0,"x":373.9999542236328,"y":452.79998779296875,"wires":[["209efedc.4d25d2"]]},{"id":"c2a92fc7.60fc7","type":"link in","z":"cbb123e.ff1e2e","name":"","links":["86f7971c.e72298"],"x":294.5000457763672,"y":410.59999084472656,"wires":[["261c64c9.94dfec","9e426ed8.d0c12","e5777a6.ed94288"]]},{"id":"c2ac5027.0b21","type":"link in","z":"cbb123e.ff1e2e","name":"","links":["f62cf426.7009d8"],"x":299.5000305175781,"y":565.5999755859375,"wires":[["89666789.96f928","350859a2.242c36","8851fa45.3b48b8","9e6d486e.b1be28"]]},{"id":"89666789.96f928","type":"ui_text","z":"cbb123e.ff1e2e","group":"a5cd413.e0d49c","order":5,"width":0,"height":0,"name":"Outside Temp","label":"Buiten","format":"{{msg.payload.temp | number:1 }}&deg;","layout":"row-spread","x":427.4999694824219,"y":554.4000244140625,"wires":[]},{"id":"86ea1851.33bb38","type":"ui_text","z":"cbb123e.ff1e2e","group":"dfabd96f.d0b918","order":2,"width":0,"height":0,"name":"Room Jade Humidity","label":"kamer Jade","format":"{{msg.payload.humidity | number:1 }}%","layout":"row-spread","x":640.5,"y":358.3999938964844,"wires":[]},{"id":"9e426ed8.d0c12","type":"ui_text","z":"cbb123e.ff1e2e","group":"dfabd96f.d0b918","order":3,"width":0,"height":0,"name":" Badkamer humidity","label":"Badkamer","format":"{{msg.payload.humidity | number:1 }}%","layout":"row-spread","x":630.5,"y":410.4000244140625,"wires":[]},{"id":"e2912c6f.61c0c","type":"ui_text","z":"cbb123e.ff1e2e","group":"dfabd96f.d0b918","order":4,"width":0,"height":0,"name":"Kelder vochtigheid","label":"Kelder","format":"{{msg.payload.humidity | number:1 }}%","layout":"row-spread","x":633.5,"y":447.4000244140625,"wires":[]},{"id":"350859a2.242c36","type":"ui_text","z":"cbb123e.ff1e2e","group":"dfabd96f.d0b918","order":5,"width":0,"height":0,"name":"Outside humidity","label":"Buiten","format":"{{msg.payload.humidity | number:1 }}%","layout":"row-spread","x":639.4999847412109,"y":568.4000091552734,"wires":[]},{"id":"b55692da.a56d6","type":"function","z":"669ca4d9.6412bc","name":"extract power and voltage","func":"var parts        = msg.payload.split(\",\");\nvar CT1_power    = parseFloat(parts[0]);\nvar CT2_power    = parseFloat(parts[1]);\nvar CT3_power    = parseFloat(parts[2]);\nvar solar_power  = parseFloat(parts[3]);\nvar voltage      = parseFloat(parts[4]);\nvar phase1_power = CT1_power + solar_power;\nvar phase2_power = - CT2_power;\nvar phase3_power = CT3_power;\nvar total_power  = phase1_power + phase2_power + phase3_power;\nmsg.payload = { \"total_power\"  : total_power,\n                \"solar_power\"  : solar_power,\n                \"voltage\"      : voltage,\n                \"phase1_power\" : phase1_power,\n                \"phase2_power\" : phase2_power,\n                \"phase3_power\" : phase3_power,\n                \"CT1_power\"    : CT1_power,\n                \"CT2_power\"    : CT2_power,\n                \"CT3_power\"    : CT3_power,\n};\nreturn msg;","outputs":1,"noerr":0,"x":383.50001525878906,"y":70.19999694824219,"wires":[["1dcee65f.56a63a","db7e8095.76ac8","a8b1a467.7e2b48"]]},{"id":"1dcee65f.56a63a","type":"link out","z":"669ca4d9.6412bc","name":"emonTx - node 10","links":["76c7142f.527ffc","4d0e7f05.4ed1c","a1ea7ebe.d0531"],"x":691.5,"y":70.39999389648438,"wires":[]},{"id":"76c7142f.527ffc","type":"link in","z":"cbb123e.ff1e2e","name":"","links":["1dcee65f.56a63a"],"x":287.5,"y":651.5999755859375,"wires":[["241e94c4.0245fc","3369433a.dc511c","bd45f708.445008","70ac6c34.894594","40e7c122.2c862","d6762886.adfc68","4d6bd369.59ea0c","1fda31d.c452ace","48d5612f.e276d"]]},{"id":"241e94c4.0245fc","type":"ui_text","z":"cbb123e.ff1e2e","group":"f2cec1e7.bc085","order":6,"width":0,"height":0,"name":"CT1 power","label":"CT1 power","format":"{{msg.payload.CT1_power}} W","layout":"row-spread","x":433.50001525878906,"y":782.800048828125,"wires":[]},{"id":"3369433a.dc511c","type":"ui_text","z":"cbb123e.ff1e2e","group":"f2cec1e7.bc085","order":7,"width":0,"height":0,"name":"CT2 power","label":"CT2 power","format":"{{msg.payload.CT2_power}} W","layout":"row-spread","x":434.50001525878906,"y":814.800048828125,"wires":[]},{"id":"bd45f708.445008","type":"ui_text","z":"cbb123e.ff1e2e","group":"f2cec1e7.bc085","order":8,"width":0,"height":0,"name":"CT3 power","label":"CT3 power","format":"{{msg.payload.CT3_power}} W","layout":"row-spread","x":433.50001525878906,"y":846.8001098632812,"wires":[]},{"id":"70ac6c34.894594","type":"ui_text","z":"cbb123e.ff1e2e","group":"f2cec1e7.bc085","order":1,"width":0,"height":0,"name":"solar power","label":"solar power","format":"{{msg.payload.solar_power}} W","layout":"row-spread","x":434.5000305175781,"y":615.800048828125,"wires":[]},{"id":"40e7c122.2c862","type":"ui_text","z":"cbb123e.ff1e2e","group":"f2cec1e7.bc085","order":9,"width":0,"height":0,"name":"Voltage","label":"Voltage","format":"{{msg.payload.voltage}} V","layout":"row-spread","x":423.50001525878906,"y":879.800048828125,"wires":[]},{"id":"d6762886.adfc68","type":"ui_text","z":"cbb123e.ff1e2e","group":"f2cec1e7.bc085","order":3,"width":0,"height":0,"name":"phase1 power","label":"- phase1 power","format":"{{msg.payload.phase1_power}} W","layout":"row-spread","x":444.5,"y":688.800048828125,"wires":[]},{"id":"4d6bd369.59ea0c","type":"ui_text","z":"cbb123e.ff1e2e","group":"f2cec1e7.bc085","order":4,"width":0,"height":0,"name":"phase2 power","label":"- phase2 power","format":"{{msg.payload.phase2_power}} W","layout":"row-spread","x":443.5,"y":719.8001098632812,"wires":[]},{"id":"1fda31d.c452ace","type":"ui_text","z":"cbb123e.ff1e2e","group":"f2cec1e7.bc085","order":5,"width":0,"height":0,"name":"phase3 power","label":"- phase3 power","format":"{{msg.payload.phase3_power}} W","layout":"row-spread","x":442.5,"y":750.8001098632812,"wires":[]},{"id":"48d5612f.e276d","type":"ui_text","z":"cbb123e.ff1e2e","group":"f2cec1e7.bc085","order":2,"width":0,"height":0,"name":"total power","label":"Total power","format":"{{msg.payload.total_power}} W","layout":"row-spread","x":432.49998474121094,"y":654.7999877929688,"wires":[]},{"id":"fd0297cb.93a328","type":"ui_gauge","z":"d9c9b8f2.5b1738","name":"Power Now","group":"ec772749.149488","order":1,"width":"","height":"","gtype":"gage","title":"Power Now","label":"","format":"{{value}} W","min":"0","max":"5000","colors":["#00b500","#e6e600","#ca3838"],"x":604.2000122070312,"y":52,"wires":[]},{"id":"8184e3e.95b9c2","type":"ui_chart","z":"d9c9b8f2.5b1738","name":"last 10 minutes","group":"2ffa32f8.185ace","order":1,"width":"","height":"","label":"last 10 minutes (refresh 10s)","chartType":"line","xformat":"HH:mm:ss","interpolate":"cardinal","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":"","useOneColor":false,"colors":["#1f77b4","#00ff00","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":615.2000122070312,"y":83,"wires":[[],[]]},{"id":"4b9cc53.10c463c","type":"ui_chart","z":"d9c9b8f2.5b1738","name":"last hour","group":"2ffa32f8.185ace","order":2,"width":"","height":"","label":"last hour (refresh 1 min)","chartType":"line","xformat":"HH:mm:ss","interpolate":"cardinal","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","useOneColor":false,"colors":["#1f77b4","#00ff00","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":824.2000122070312,"y":182,"wires":[[],[]]},{"id":"ec4ebd9.e27ab4","type":"ui_gauge","z":"d9c9b8f2.5b1738","name":"Power Now","group":"ea983e7d.03c39","order":1,"width":"","height":"","gtype":"gage","title":"Power Now","label":"","format":"{{value}} W","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"x":546.2000122070312,"y":249.00006103515625,"wires":[]},{"id":"fdb0d66b.8c0fe8","type":"ui_text","z":"d9c9b8f2.5b1738","group":"ec772749.149488","order":2,"width":"","height":"","name":"Home Usage Today","label":"Home Usage Today","format":"{{msg.payload | number:2}} kWh","layout":"row-spread","x":794.4215545654297,"y":333.26513671875,"wires":[]},{"id":"1685bade.257eb5","type":"inject","z":"d9c9b8f2.5b1738","name":"Get emoncms data","topic":"","payload":"id=70587","payloadType":"str","repeat":"900","crontab":"","once":false,"x":206.37330627441406,"y":302.3333435058594,"wires":[["63967d1b.874804"]]},{"id":"63967d1b.874804","type":"http request","z":"d9c9b8f2.5b1738","name":"get KWh consumed today from emoncms.org","method":"GET","ret":"txt","url":"https://emoncms.org/feed/value.json?{{{payload}}}&apikey=4b1fb058df6f5a59c0db242ead615e50","tls":"","x":504.373291015625,"y":304.03211975097656,"wires":[["3cb82724.0b9b88"]]},{"id":"8b9c5f75.52c85","type":"ui_text","z":"d9c9b8f2.5b1738","group":"ea983e7d.03c39","order":2,"width":"","height":"","name":"Power Generated Today","label":"Power Generated Today","format":"{{msg.payload | number:2}} kWh","layout":"","x":804.05712890625,"y":399.28570556640625,"wires":[]},{"id":"46ccf23b.d44b4c","type":"inject","z":"d9c9b8f2.5b1738","name":"Get emoncms data","topic":"","payload":"id=66030","payloadType":"str","repeat":"900","crontab":"","once":false,"x":210.00888061523438,"y":367.3539123535156,"wires":[["2b5de2db.56dd1e"]]},{"id":"2b5de2db.56dd1e","type":"http request","z":"d9c9b8f2.5b1738","name":"get KWh produced today from emoncms.org","method":"GET","ret":"txt","url":"https://emoncms.org/feed/value.json?{{{payload}}}&apikey=4b1fb058df6f5a59c0db242ead615e50","tls":"","x":516.0088500976562,"y":369.05267333984375,"wires":[["4cb52655.6d3388"]]},{"id":"65ba02f8.35b18c","type":"comment","z":"d9c9b8f2.5b1738","name":"House Power","info":"","x":270.1999969482422,"y":43,"wires":[]},{"id":"19918bc1.6f8714","type":"comment","z":"d9c9b8f2.5b1738","name":"Solar Power","info":"","x":284.1999969482422,"y":132,"wires":[]},{"id":"4cb52655.6d3388","type":"change","z":"d9c9b8f2.5b1738","name":"Remove quotes","rules":[{"t":"change","p":"payload","pt":"msg","from":"\"","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":516.6999664306641,"y":400.66664123535156,"wires":[["8b9c5f75.52c85"]]},{"id":"3cb82724.0b9b88","type":"change","z":"d9c9b8f2.5b1738","name":"Remove quotes","rules":[{"t":"change","p":"payload","pt":"msg","from":"\"","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":496.86656188964844,"y":334.66663360595703,"wires":[["fdb0d66b.8c0fe8"]]},{"id":"4d0e7f05.4ed1c","type":"link in","z":"d9c9b8f2.5b1738","name":"","links":["1dcee65f.56a63a"],"x":168.5,"y":126.60000610351562,"wires":[["24f18bf9.4a3344","94813f7.df346c"]]},{"id":"24f18bf9.4a3344","type":"change","z":"d9c9b8f2.5b1738","name":"extract total power","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.total_power","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"consumption","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":298.5,"y":82.80001831054688,"wires":[["fd0297cb.93a328","8184e3e.95b9c2","eb774c12.f0811","d12bdeb5.2a5"]]},{"id":"94813f7.df346c","type":"change","z":"d9c9b8f2.5b1738","name":"extract solar power","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.solar_power","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"generation","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":284.50001525878906,"y":249.79998779296875,"wires":[["ec4ebd9.e27ab4","8184e3e.95b9c2","c31eb83e.514178"]]},{"id":"db7e8095.76ac8","type":"debug","z":"669ca4d9.6412bc","name":"","active":false,"console":"false","complete":"false","x":611.5000152587891,"y":33.599998474121094,"wires":[]},{"id":"58c8b642.45c238","type":"mqtt in","z":"4bf9468a.f3a898","name":"bme280","topic":"bme280","qos":"2","broker":"9c9ae2bc.63652","x":114,"y":60,"wires":[["56b4c034.b2836"]]},{"id":"ff1e1fe4.7b094","type":"debug","z":"4bf9468a.f3a898","name":"bme280","active":true,"console":"false","complete":"payload","x":740,"y":120,"wires":[]},{"id":"6402749.d0dad8c","type":"link out","z":"4bf9468a.f3a898","name":"bme280","links":["696b1e90.27ff1","79dec3f7.55210c"],"x":815,"y":220,"wires":[]},{"id":"6d3208e6.231f78","type":"ui_text","z":"cbb123e.ff1e2e","group":"a5cd413.e0d49c","order":1,"width":0,"height":0,"name":"Living Temp","label":"Living","format":"{{msg.payload.temperature | number:1 }}&deg;","layout":"row-spread","x":378.0000305175781,"y":182,"wires":[]},{"id":"696b1e90.27ff1","type":"link in","z":"cbb123e.ff1e2e","name":"","links":["6402749.d0dad8c"],"x":259.00001525878906,"y":207,"wires":[["6d3208e6.231f78","c89cad2e.ce71b","9d48fe5.99648","f317ad7.512cb5","7c811642.92a368","8f2ecca3.4757"]]},{"id":"c89cad2e.ce71b","type":"debug","z":"cbb123e.ff1e2e","name":"","active":true,"console":"false","complete":"payload","x":376.0000305175781,"y":115,"wires":[]},{"id":"1084ea44.696eb6","type":"debug","z":"cbb123e.ff1e2e","name":"","active":false,"console":"false","complete":"payload","x":413,"y":307,"wires":[]},{"id":"56b4c034.b2836","type":"json","z":"4bf9468a.f3a898","name":"","pretty":false,"x":190,"y":100,"wires":[["ffb35375.6824f"]]},{"id":"9d48fe5.99648","type":"ui_text","z":"cbb123e.ff1e2e","group":"dfabd96f.d0b918","order":1,"width":0,"height":0,"name":"Living Humidity","label":"Living","format":"{{msg.payload.humidity | number:1 }}%","layout":"row-spread","x":636.0000152587891,"y":238,"wires":[]},{"id":"f317ad7.512cb5","type":"ui_text","z":"cbb123e.ff1e2e","group":"ed98cf29.79e9e","order":0,"width":0,"height":0,"name":"Living Pressure","label":"Living","format":"{{msg.payload.pressure  | number:0}} hPa","layout":"row-spread","x":638,"y":271,"wires":[]},{"id":"8851fa45.3b48b8","type":"ui_text","z":"cbb123e.ff1e2e","group":"ed98cf29.79e9e","order":0,"width":0,"height":0,"name":"Outside Pressure","label":"Buiten","format":"{{msg.payload.pressure  | number:0}} hPa","layout":"row-spread","x":1044.999984741211,"y":618.9999847412109,"wires":[]},{"id":"60420f74.a0006","type":"comment","z":"21777d41.84c182","name":"requires that the msg.nodegroup is properly set","info":"","x":353,"y":38,"wires":[]},{"id":"ac5f42fb.19a7d","type":"function","z":"4bf9468a.f3a898","name":"msg.nodegroup = 8 (for emoncms)","func":"msg.nodegroup = 8;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":120,"wires":[["ff1e1fe4.7b094","f87c2d41.10211"]]},{"id":"1557a06c.93d6","type":"ui_text","z":"7fa2194.bf802e8","group":"37779cb4.2ff4e4","order":3,"width":0,"height":0,"name":"°T badkamer","label":"°T badkamer","format":"{{msg.payload.temp | number:1 }}&deg;","layout":"row-spread","x":427.6249809265137,"y":660.7499876022339,"wires":[]},{"id":"79911573.9fa15c","type":"link in","z":"7fa2194.bf802e8","name":"","links":["86f7971c.e72298"],"x":319.6249809265137,"y":659.7499876022339,"wires":[["1557a06c.93d6","83763b3a.ad95a8"]]},{"id":"383a1d5b.977242","type":"function","z":"7fa2194.bf802e8","name":"automatic switch off ui cv upstairs","func":"// The ui upstairs heating request must be switch off if\n// the last time it has been switched on is more than 1 hour ago.\nif ( (global.get(\"ui_cv_req_heating_upstairs\" )) && \n     ((msg.payload - global.get(\"ui_cv_req_heating_upstairs_last_change_time\"))> (60*60*1000))){\n    node.log(\"last change time =\"+ new Date(global.get(\"ui_cv_req_heating_upstairs_last_change_time\")));\n    msg.payload=0;\n    return msg;\n} else return null;\n","outputs":1,"noerr":0,"x":180.99998474121094,"y":145.99998474121094,"wires":[["d4897b9c.5ea218","1d0f7e65.f0e302"]]},{"id":"3a2326b2.ce74aa","type":"inject","z":"7fa2194.bf802e8","name":"every 5 minutes","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"x":115.99998474121094,"y":56.99998664855957,"wires":[["383a1d5b.977242","9a38b5d.95fb048"]]},{"id":"d4897b9c.5ea218","type":"debug","z":"7fa2194.bf802e8","name":"switch off ui cv upstairs","active":true,"console":"false","complete":"payload","x":199,"y":175.99998474121094,"wires":[]},{"id":"9a38b5d.95fb048","type":"function","z":"7fa2194.bf802e8","name":"automatic switch off ui cv room jade","func":"var now = new Date(msg.payload);\nvar cur_hour = now.getHours();  // e.g. returns 22 if the current time 22:37:47 ..\n\n// automatic switch off after 3 hours since if current time is between 6:00 and 22:59\n// otherwise automatic switch off after 1 hour.\nvar switch_off_delay_in_ms = ( (cur_hour>=6)&&(cur_hour<=22) ? 3 : 1 ) * 60*60*1000;\n\nif ( (global.get(\"ui_cv_req_heating_room_jade\" )) && \n     ((msg.payload - global.get(\"ui_cv_req_heating_room_jade_last_change_time\"))> switch_off_delay_in_ms)){\n    node.log(\"last change time =\"+ new Date(global.get(\"ui_cv_req_heating_room_jade_last_change_time\")));\n    msg.payload=0;\n    return msg;\n} else return null;\n","outputs":1,"noerr":0,"x":176.625,"y":276.74999237060547,"wires":[["18718203.84a46e","6f906e12.68ee1"]]},{"id":"6f906e12.68ee1","type":"debug","z":"7fa2194.bf802e8","name":"switch off ui cv room Jade","active":true,"console":"false","complete":"payload","x":173.625,"y":307.74999237060547,"wires":[]},{"id":"6252563.82193a8","type":"comment","z":"e6728257.d2c86","name":"Status","info":"","x":531,"y":246,"wires":[]},{"id":"7ff920c5.3d75a","type":"link in","z":"e6728257.d2c86","name":"","links":["9471dcd1.342ea"],"x":440,"y":288,"wires":[["a16b98c6.c378c8","5b1a0606.f537d8","85e9eb91.ff8548"]]},{"id":"a16b98c6.c378c8","type":"ui_text","z":"e6728257.d2c86","group":"f628845.5523878","order":1,"width":0,"height":0,"name":"","label":"Ventilator","format":"{{msg.payload.ventilator?\"aan\":\"uit\"}}","layout":"row-spread","x":549,"y":289,"wires":[]},{"id":"e93e1cb3.efc74","type":"comment","z":"e6728257.d2c86","name":"Input","info":"","x":538,"y":73,"wires":[]},{"id":"bdfc7f77.f73ff","type":"ui_switch","z":"e6728257.d2c86","name":"","label":"Ventilator","group":"51a17efa.1c638","order":0,"width":0,"height":0,"passthru":true,"topic":"ui/ventilator_req","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":550,"y":110,"wires":[["5f1540f1.4389f"]]},{"id":"5f1540f1.4389f","type":"function","z":"e6728257.d2c86","name":"update ui_ventilator_request","func":"global.set(\"ui_ventilator_request\",msg.payload);\nglobal.set(\"ui_ventilator_request_last_change_time\",Date.now());\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":138,"wires":[["649f0904.088dd8","630a4166.3d13d"]]},{"id":"ec497b96.aa4fb8","type":"debug","z":"e6728257.d2c86","name":"new ventilator state","active":false,"console":"false","complete":"true","x":874,"y":178,"wires":[]},{"id":"649f0904.088dd8","type":"function","z":"e6728257.d2c86","name":"ventilator status changed ?","func":"// initialise variables\nvar ventilator_state       = global.get(\"ventilator_state\");\nvar ui_ventilator_request  = global.get(\"ui_ventilator_request\")||0;\n\n\n\n// determine new status ventilator\nvar new_ventilator_state = ui_ventilator_request ;\n\n// only send message if the new desired ventilator status is different from the actual.\nif (new_ventilator_state != ventilator_state){\n    var newMsg = { topic: \"ventilator\" ,\n                   payload: new_ventilator_state};\n    return newMsg;\n} else { return null;}\n\n","outputs":1,"noerr":0,"x":790.5,"y":210.25003051757812,"wires":[["24ebd29f.82789e","ec497b96.aa4fb8"]]},{"id":"24ebd29f.82789e","type":"link out","z":"e6728257.d2c86","name":"activate/deactive CV pump","links":["f900e935.c4c9e8"],"x":980,"y":211.00003051757812,"wires":[]},{"id":"5b1a0606.f537d8","type":"function","z":"e6728257.d2c86","name":"update ventilator_state","func":"global.set(\"ventilator_state\",msg.payload.ventilator);\nreturn msg;","outputs":1,"noerr":0,"x":598,"y":330,"wires":[["649f0904.088dd8","d726812.ece2c8"]]},{"id":"630a4166.3d13d","type":"debug","z":"e6728257.d2c86","name":"ui ventilator request","active":false,"console":"false","complete":"true","x":792,"y":108,"wires":[]},{"id":"d726812.ece2c8","type":"debug","z":"e6728257.d2c86","name":"update ventilator_state","active":false,"console":"false","complete":"true","x":858,"y":331,"wires":[]},{"id":"95e76f5c.d8ab5","type":"inject","z":"e6728257.d2c86","name":"every 5 minutes","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"x":130,"y":80,"wires":[["4ff287f7.4cf478"]]},{"id":"4ff287f7.4cf478","type":"function","z":"e6728257.d2c86","name":"automatic switch off ui ventilator request","func":"// The ui upstairs heating request must be switch off if\n// the last time it has been switched on is more than 3 hour ago.\nif ( (global.get(\"ui_ventilator_request\" )) && \n     ((msg.payload - global.get(\"ui_ventilator_request_last_change_time\"))> (3*60*60*1000))){\n    node.log(\"last change time =\"+ new Date(global.get(\"ui_ventilator_request_last_change_time\")));\n    msg.payload=0;\n    return msg;\n} else return null;\n","outputs":1,"noerr":0,"x":262.00001525878906,"y":112,"wires":[["3a9e6909.d68e86","bdfc7f77.f73ff"]]},{"id":"3a9e6909.d68e86","type":"debug","z":"e6728257.d2c86","name":"switch off ui ventilator request","active":true,"console":"false","complete":"payload","x":280.0000305175781,"y":142,"wires":[]},{"id":"d50d1c4a.5f06b","type":"ui_text","z":"e6728257.d2c86","group":"f628845.5523878","order":2,"width":0,"height":0,"name":"Kelder Temp","label":"Kelder T","format":"{{msg.payload.temp | number:1 }}&deg;","layout":"row-spread","x":562,"y":372,"wires":[]},{"id":"5a024f2e.26718","type":"link in","z":"e6728257.d2c86","name":"","links":["366b49a2.6c53b6"],"x":441.0000305175781,"y":398.3999938964844,"wires":[["d50d1c4a.5f06b","ba9089c7.704c98","6e7c2eb5.4addd","5d5acb98.6e8104"]]},{"id":"9d4d0159.7a062","type":"link in","z":"e6728257.d2c86","name":"","links":["f62cf426.7009d8"],"x":444.0000305175781,"y":501.39996337890625,"wires":[["c0621afe.b437d8","f4164e35.08a6d","a4c9fa4b.3808f8","bffa8f09.797a"]]},{"id":"c0621afe.b437d8","type":"ui_text","z":"e6728257.d2c86","group":"f628845.5523878","order":3,"width":0,"height":0,"name":"Outside Temp","label":"Buiten T","format":"{{msg.payload.temp | number:1 }}&deg;","layout":"row-spread","x":569.9999694824219,"y":468.20001220703125,"wires":[]},{"id":"ba9089c7.704c98","type":"ui_text","z":"e6728257.d2c86","group":"f628845.5523878","order":6,"width":0,"height":0,"name":"Kelder vochtigheid","label":"Kelder Vochtigheid","format":"{{msg.payload.humidity | number:1 }}%","layout":"row-spread","x":579,"y":406.20001220703125,"wires":[]},{"id":"f4164e35.08a6d","type":"ui_text","z":"e6728257.d2c86","group":"f628845.5523878","order":7,"width":0,"height":0,"name":"Outside humidity","label":"Buiten Vochtigheid","format":"{{msg.payload.humidity | number:1 }}%","layout":"row-spread","x":581,"y":500.20001220703125,"wires":[]},{"id":"b9f7e129.07c3e","type":"function","z":"669ca4d9.6412bc","name":"calculate and append absolute humidity","func":"// The calculation is based on \n// http://www.vaisala.com/Vaisala%20Documents/Application%20notes/Humidity_Conversion_Formulas_B210973EN-F.pdf\n// section 7 Absolute Humidity\n// A = C · Pw/T (g/m3) , where (17)\n// C = Constant 2.16679 gK/J\n// Pw = Vapour pressure in Pa\n// T = Temperature in K\n// Tn = Triple point temperature 273.16 K\n//\n//  section 1 Relative humidity definitions \n//  RH = Pw/Pws · 100% \n//\n// section 2 Water vapour saturation pressure \n//  Following formula is a simplified formula\n// Pws= A . 10 ^(m . T / (T +Tn))  (hPa) , where (6)\n// A, m, Tn = constants see Table 1 below\n// T = Temperature (°C)\n//\n// A          m          Tn       max error    Temperature range\n// 6.116441 7.591386   240.7263    0.083%         -20...+50°C \n\nvar RH = msg.payload.humidity; // RH = relative humidity\nvar Tcelcius = msg.payload.temp;\nvar T = Tcelcius + 273.15; // T in Kelvin\n\nvar Pws =  6.116441 * Math.pow(10, (7.591386 * Tcelcius / (Tcelcius + 240.7263 )));\nvar Pw = RH * Pws;\n\nvar A = 2.16679 * Pw / T;  // Absolute Humidity\n\nmsg.payload.absolute_humidity = A;\n\nreturn msg;","outputs":1,"noerr":0,"x":473,"y":193,"wires":[["b2f7a7e1.9ac498","1d482912.d51667","4b0dbb36.f1ec84"]]},{"id":"1d482912.d51667","type":"debug","z":"669ca4d9.6412bc","name":"","active":false,"console":"false","complete":"false","x":715,"y":159,"wires":[]},{"id":"209efedc.4d25d2","type":"function","z":"669ca4d9.6412bc","name":"calculate and append absolute humidity (copy)","func":"// this is a copied version of the above calculate and append absolute humidity function node\n\n// The calculation is based on \n// http://www.vaisala.com/Vaisala%20Documents/Application%20notes/Humidity_Conversion_Formulas_B210973EN-F.pdf\n// section 7 Absolute Humidity\n// A = C · Pw/T (g/m3) , where (17)\n// C = Constant 2.16679 gK/J\n// Pw = Vapour pressure in Pa\n// T = Temperature in K\n// Tn = Triple point temperature 273.16 K\n//\n//  section 1 Relative humidity definitions \n//  RH = Pw/Pws · 100% \n//\n// section 2 Water vapour saturation pressure \n//  Following formula is a simplified formula\n// Pws= A . 10 ^(m . T / (T +Tn))  (hPa) , where (6)\n// A, m, Tn = constants see Table 1 below\n// T = Temperature (°C)\n//\n// A          m          Tn       max error    Temperature range\n// 6.116441 7.591386   240.7263    0.083%         -20...+50°C \n\nvar RH = msg.payload.humidity; // RH = relative humidity\nvar Tcelcius = msg.payload.temp;\nvar T = Tcelcius + 273.15; // T in Kelvin\n\nvar Pws =  6.116441 * Math.pow(10, (7.591386 * Tcelcius / (Tcelcius + 240.7263 )));\nvar Pw = RH * Pws;\n\nvar A = 2.16679 * Pw / T;  // Absolute Humidity\n\nmsg.payload.absolute_humidity = A;\n\nreturn msg;","outputs":1,"noerr":0,"x":456.49993896484375,"y":481.7999572753906,"wires":[["86f7971c.e72298","647c8813.c3cba8","ac2805aa.f1a768"]]},{"id":"647c8813.c3cba8","type":"debug","z":"669ca4d9.6412bc","name":"","active":false,"console":"false","complete":"false","x":661.4999389648438,"y":435.7999572753906,"wires":[]},{"id":"9568e68d.f98338","type":"function","z":"89ac662.0a2c798","name":"calculate and append absolute humidity (copy)","func":"// this is a copied version of the above calculate and append absolute humidity function node\n\n// The calculation is based on \n// http://www.vaisala.com/Vaisala%20Documents/Application%20notes/Humidity_Conversion_Formulas_B210973EN-F.pdf\n// section 7 Absolute Humidity\n// A = C · Pw/T (g/m3) , where (17)\n// C = Constant 2.16679 gK/J\n// Pw = Vapour pressure in Pa\n// T = Temperature in K\n// Tn = Triple point temperature 273.16 K\n//\n//  section 1 Relative humidity definitions \n//  RH = Pw/Pws · 100% \n//\n// section 2 Water vapour saturation pressure \n//  Following formula is a simplified formula\n// Pws= A . 10 ^(m . T / (T +Tn))  (hPa) , where (6)\n// A, m, Tn = constants see Table 1 below\n// T = Temperature (°C)\n//\n// A          m          Tn       max error    Temperature range\n// 6.116441 7.591386   240.7263    0.083%         -20...+50°C \n\nvar RH = msg.payload.humidity; // RH = relative humidity\nvar Tcelcius = msg.payload.temp;\nvar T = Tcelcius + 273.15; // T in Kelvin\n\nvar Pws =  6.116441 * Math.pow(10, (7.591386 * Tcelcius / (Tcelcius + 240.7263 )));\nvar Pw = RH * Pws;\n\nvar A = 2.16679 * Pw / T;  // Absolute Humidity\n\nmsg.payload.absolute_humidity = A;\n\nreturn msg;","outputs":1,"noerr":0,"x":354,"y":186,"wires":[["f62cf426.7009d8","e886bd59.7fa58"]]},{"id":"e886bd59.7fa58","type":"debug","z":"89ac662.0a2c798","name":"","active":true,"console":"false","complete":"false","x":663,"y":139,"wires":[]},{"id":"9e6d486e.b1be28","type":"ui_text","z":"cbb123e.ff1e2e","group":"d0b9b2cd.d453d","order":5,"width":0,"height":0,"name":"Outside Absolute Humidity","label":"Buiten","format":"{{msg.payload.absolute_humidity  | number:1}} g/m3","layout":"row-spread","x":868.9999847412109,"y":582.9999847412109,"wires":[]},{"id":"e5777a6.ed94288","type":"ui_text","z":"cbb123e.ff1e2e","group":"d0b9b2cd.d453d","order":3,"width":0,"height":0,"name":"Badkamer Absolute Humidity","label":"Badkamer","format":"{{msg.payload.absolute_humidity  | number:1}} g/m3","layout":"row-spread","x":871,"y":431,"wires":[]},{"id":"26716c30.748174","type":"ui_text","z":"cbb123e.ff1e2e","group":"d0b9b2cd.d453d","order":2,"width":0,"height":0,"name":"Room Jade Absolute Humidity","label":"kamer Jade","format":"{{msg.payload.absolute_humidity  | number:1}} g/m3","layout":"row-spread","x":874,"y":374,"wires":[]},{"id":"7c811642.92a368","type":"ui_text","z":"cbb123e.ff1e2e","group":"d0b9b2cd.d453d","order":1,"width":0,"height":0,"name":"Living Absolute Humidity","label":"Living","format":"{{msg.payload.absolute_humidity  | number:1}} g/m3","layout":"row-spread","x":593,"y":205,"wires":[]},{"id":"33456e40.7648c2","type":"ui_text","z":"cbb123e.ff1e2e","group":"d0b9b2cd.d453d","order":4,"width":0,"height":0,"name":"Kelder Absolute Humidity","label":"Kelder","format":"{{msg.payload.absolute_humidity  | number:1}} g/m3","layout":"row-spread","x":862,"y":471,"wires":[]},{"id":"f87c2d41.10211","type":"function","z":"4bf9468a.f3a898","name":"calculate and append absolute humidity (copy)","func":"// this is a copied version of the above calculate and append absolute humidity function node\n\n// The calculation is based on \n// http://www.vaisala.com/Vaisala%20Documents/Application%20notes/Humidity_Conversion_Formulas_B210973EN-F.pdf\n// section 7 Absolute Humidity\n// A = C · Pw/T (g/m3) , where (17)\n// C = Constant 2.16679 gK/J\n// Pw = Vapour pressure in Pa\n// T = Temperature in K\n// Tn = Triple point temperature 273.16 K\n//\n//  section 1 Relative humidity definitions \n//  RH = Pw/Pws · 100% \n//\n// section 2 Water vapour saturation pressure \n//  Following formula is a simplified formula\n// Pws= A . 10 ^(m . T / (T +Tn))  (hPa) , where (6)\n// A, m, Tn = constants see Table 1 below\n// T = Temperature (°C)\n//\n// A          m          Tn       max error    Temperature range\n// 6.116441 7.591386   240.7263    0.083%         -20...+50°C \n\nvar RH = msg.payload.humidity; // RH = relative humidity\nvar Tcelcius = msg.payload.temperature;\nvar T = Tcelcius + 273.15; // T in Kelvin\n\nvar Pws =  6.116441 * Math.pow(10, (7.591386 * Tcelcius / (Tcelcius + 240.7263 )));\nvar Pw = RH * Pws;\n\nvar A = 2.16679 * Pw / T;  // Absolute Humidity\n\nmsg.payload.absolute_humidity = A;\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":180,"wires":[["6402749.d0dad8c","da681558.cd61e8"]]},{"id":"da681558.cd61e8","type":"debug","z":"4bf9468a.f3a898","name":"bme280 + abs humidity","active":true,"console":"false","complete":"true","x":910,"y":180,"wires":[]},{"id":"53d940e2.a38d8","type":"function","z":"83200356.0ef81","name":"calculate and append absolute humidity (copy)","func":"// this is a copied version of the above calculate and append absolute humidity function node\n\n// The calculation is based on \n// http://www.vaisala.com/Vaisala%20Documents/Application%20notes/Humidity_Conversion_Formulas_B210973EN-F.pdf\n// section 7 Absolute Humidity\n// A = C · Pw/T (g/m3) , where (17)\n// C = Constant 2.16679 gK/J\n// Pw = Vapour pressure in Pa\n// T = Temperature in K\n// Tn = Triple point temperature 273.16 K\n//\n//  section 1 Relative humidity definitions \n//  RH = Pw/Pws · 100% \n//\n// section 2 Water vapour saturation pressure \n//  Following formula is a simplified formula\n// Pws= A . 10 ^(m . T / (T +Tn))  (hPa) , where (6)\n// A, m, Tn = constants see Table 1 below\n// T = Temperature (°C)\n//\n// A          m          Tn       max error    Temperature range\n// 6.116441 7.591386   240.7263    0.083%         -20...+50°C \n\nvar RH = msg.payload.humidity; // RH = relative humidity\nvar Tcelcius = msg.payload.temp;\nvar T = Tcelcius + 273.15; // T in Kelvin\n\nvar Pws =  6.116441 * Math.pow(10, (7.591386 * Tcelcius / (Tcelcius + 240.7263 )));\nvar Pw = RH * Pws;\n\nvar A = 2.16679 * Pw / T;  // Absolute Humidity\n\nmsg.payload.absolute_humidity = A;\n\nreturn msg;","outputs":1,"noerr":0,"x":593,"y":781.0000038146973,"wires":[["366b49a2.6c53b6","d48fd540.56bf38"]]},{"id":"d48fd540.56bf38","type":"debug","z":"83200356.0ef81","name":"3ch wifi relay temp/humidity/abs humidity","active":true,"console":"false","complete":"true","x":591,"y":812.0000038146973,"wires":[]},{"id":"6e7c2eb5.4addd","type":"ui_text","z":"e6728257.d2c86","group":"f628845.5523878","order":4,"width":0,"height":0,"name":"Kelder Absolute Humidity","label":"Kelder abs. Vocht.","format":"{{msg.payload.absolute_humidity  | number:1}} g/m3","layout":"row-spread","x":598,"y":438,"wires":[]},{"id":"a4c9fa4b.3808f8","type":"ui_text","z":"e6728257.d2c86","group":"f628845.5523878","order":5,"width":0,"height":0,"name":"Outside Absolute Humidity","label":"Buiten Abs. Vocht.","format":"{{msg.payload.absolute_humidity  | number:1}} g/m3","layout":"row-spread","x":612,"y":531,"wires":[]},{"id":"4b0dbb36.f1ec84","type":"function","z":"669ca4d9.6412bc","name":"absolute_humidity for node 23 - to emoncms","func":"var newMsg = { payload : {\"absolute_humidity\":msg.payload.absolute_humidity},\n               nodegroup:23};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":484,"y":275,"wires":[["916b834.e45598","a507d943.700588"]]},{"id":"916b834.e45598","type":"debug","z":"669ca4d9.6412bc","name":"absolute_humidity for node 23 - to emoncms","active":false,"console":"false","complete":"true","x":689,"y":244,"wires":[]},{"id":"ac2805aa.f1a768","type":"function","z":"669ca4d9.6412bc","name":"absolute_humidity for node 24 - to emoncms","func":"var newMsg = { payload : {\"absolute_humidity\":msg.payload.absolute_humidity},\n               nodegroup:24};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":426.49993896484375,"y":564.7999572753906,"wires":[["9940dbd9.91a858","b44eb838.507e08"]]},{"id":"9940dbd9.91a858","type":"debug","z":"669ca4d9.6412bc","name":"absolute_humidity for node 24 - to emoncms","active":false,"console":"false","complete":"true","x":621.4999389648438,"y":532.7999572753906,"wires":[]},{"id":"b44eb838.507e08","type":"link out","z":"669ca4d9.6412bc","name":"absolute_humidity node 24","links":["79dec3f7.55210c"],"x":690.4999389648438,"y":564.7999572753906,"wires":[]},{"id":"a507d943.700588","type":"link out","z":"669ca4d9.6412bc","name":"absolute humidity node23","links":["79dec3f7.55210c"],"x":731,"y":275,"wires":[]},{"id":"a1ea7ebe.d0531","type":"link in","z":"3f0318fd.5897c8","name":"","links":["1dcee65f.56a63a"],"x":187,"y":114,"wires":[["71fa8fce.fecce"]]},{"id":"71fa8fce.fecce","type":"debug","z":"3f0318fd.5897c8","name":"","active":false,"console":"false","complete":"true","x":304,"y":74,"wires":[]},{"id":"6e2f5e8e.a9b5","type":"mqtt in","z":"3f0318fd.5897c8","name":"emonTx","topic":"emonhub/rx/10/values","qos":"0","broker":"9c9ae2bc.63652","x":151,"y":196,"wires":[["caf0ae18.54c69","45057959.e7b4c8"]]},{"id":"caf0ae18.54c69","type":"debug","z":"3f0318fd.5897c8","name":"","active":false,"console":"false","complete":"true","x":305,"y":145,"wires":[]},{"id":"f7f9f4e1.0bc178","type":"inject","z":"3f0318fd.5897c8","name":"replay","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":433,"wires":[["7c1d5023.0439a"]]},{"id":"a95040dd.1f3f1","type":"debug","z":"3f0318fd.5897c8","name":"","active":false,"console":"false","complete":"true","x":1112,"y":511,"wires":[]},{"id":"7c1d5023.0439a","type":"debug","z":"3f0318fd.5897c8","name":"","active":false,"console":"false","complete":"true","x":246,"y":369,"wires":[]},{"id":"87ca98a9.020498","type":"function","z":"3f0318fd.5897c8","name":"iterate in blocks of 100","func":"var MSG_LIMIT = 100;\n\nmsg.limit = MSG_LIMIT ;\nif (! msg.skip_init) { \n    msg.skip = 0 ;\n    msg.skip_init = 1;\n} else {\n    msg.skip += MSG_LIMIT ;\n}\n\nmsg.limit = MSG_LIMIT ;\nmsg.payload -= MSG_LIMIT ;\n\nif (msg.payload > 0) {\n    return [ msg, msg];\n} else return [ msg , null];\n","outputs":"2","noerr":0,"x":439,"y":513,"wires":[["a6189915.f9e398"],["a34c4265.f0a52","177134f6.e21bdb"]]},{"id":"3696c3e5.c42f8c","type":"debug","z":"3f0318fd.5897c8","name":"count","active":true,"console":"false","complete":"true","x":397,"y":444,"wires":[]},{"id":"a34c4265.f0a52","type":"debug","z":"3f0318fd.5897c8","name":"","active":false,"console":"false","complete":"true","x":580,"y":566,"wires":[]},{"id":"a6189915.f9e398","type":"debug","z":"3f0318fd.5897c8","name":"","active":true,"console":"false","complete":"true","x":586,"y":466,"wires":[]},{"id":"177134f6.e21bdb","type":"delay","z":"3f0318fd.5897c8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":421,"y":569,"wires":[["87ca98a9.020498"]]},{"id":"e31330ea.89ccc","type":"split","z":"3f0318fd.5897c8","name":"","splt":"\\n","x":844,"y":559,"wires":[["92582bbe.0130d8"]]},{"id":"92582bbe.0130d8","type":"debug","z":"3f0318fd.5897c8","name":"","active":true,"console":"false","complete":"false","x":993,"y":560,"wires":[]},{"id":"45057959.e7b4c8","type":"function","z":"3f0318fd.5897c8","name":"extract power and add timestamp","func":"var parts        = msg.payload.split(\",\");\nvar solar_power  = parseFloat(parts[3]);\nvar voltage      = parseFloat(parts[4]);\nvar CT1_power    = parseFloat(parts[0]);\nvar CT2_power    = parseFloat(parts[1]);\nvar CT3_power    = parseFloat(parts[2]);\nvar phase1_power = CT1_power + solar_power;\nvar phase2_power = - CT2_power;\nvar phase3_power = CT3_power;\nvar total_power  = phase1_power + phase2_power + phase3_power;\nmsg.payload = { \"timestamp\"    : Date.now(),\n                \"total_power\"  : total_power,\n                \"solar_power\"  : solar_power,\n                \"voltage\"      : voltage,\n                \"phase1_power\" : phase1_power,\n                \"phase2_power\" : phase2_power,\n                \"phase3_power\" : phase3_power\n};\nreturn msg;","outputs":1,"noerr":0,"x":395,"y":198,"wires":[["3babbfa5.27dbb"]]},{"id":"3babbfa5.27dbb","type":"debug","z":"3f0318fd.5897c8","name":"","active":true,"console":"false","complete":"true","x":631,"y":148,"wires":[]},{"id":"98683252.2dcf","type":"inject","z":"d3bff47.a17e508","name":"every 5 minutes","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"x":152,"y":79,"wires":[["b8ae9f66.582b5"]]},{"id":"b8ae9f66.582b5","type":"exec","z":"d3bff47.a17e508","command":"cat /sys/class/thermal/thermal_zone0/temp","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"cpu temp","x":320,"y":79.5,"wires":[["e0cb7880.95b1b8","c22765ae.30b708"],["6849767a.347ad8"],["cf8e91ef.c5f15"]]},{"id":"e0cb7880.95b1b8","type":"debug","z":"d3bff47.a17e508","name":"stdout","active":false,"console":"false","complete":"true","x":500,"y":29,"wires":[]},{"id":"6849767a.347ad8","type":"debug","z":"d3bff47.a17e508","name":"stderr","active":false,"console":"false","complete":"true","x":502,"y":84,"wires":[]},{"id":"cf8e91ef.c5f15","type":"debug","z":"d3bff47.a17e508","name":"return code","active":false,"console":"false","complete":"true","x":514,"y":121,"wires":[]},{"id":"c22765ae.30b708","type":"function","z":"d3bff47.a17e508","name":"convert to °C","func":"msg.payload = { CpuTemp : parseInt(msg.payload)/1000 };\nreturn msg;","outputs":1,"noerr":0,"x":653,"y":59,"wires":[["5aecb53f.91e47c"]]},{"id":"fa10ce24.3a429","type":"debug","z":"d3bff47.a17e508","name":"pi cpu_temp","active":true,"console":"false","complete":"true","x":992,"y":86,"wires":[]},{"id":"91056def.461fc","type":"link out","z":"d3bff47.a17e508","name":"CpuTemp of pi3one","links":["79dec3f7.55210c"],"x":939,"y":134,"wires":[]},{"id":"5aecb53f.91e47c","type":"change","z":"d3bff47.a17e508","name":"set msg.nodegroup=11","rules":[{"t":"set","p":"nodegroup","pt":"msg","to":"11","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":787,"y":134,"wires":[["91056def.461fc","fa10ce24.3a429"]]},{"id":"45129a3.f9f1f64","type":"ui_chart","z":"d9c9b8f2.5b1738","name":"last day","group":"2ffa32f8.185ace","order":3,"width":0,"height":0,"label":"last day (refresh 20 min)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#00ff00","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1160,"y":180,"wires":[[],[]]},{"id":"a783da6.6e28528","type":"debug","z":"d9c9b8f2.5b1738","name":"mean per minute (consumption)","active":true,"console":"false","complete":"true","x":883,"y":100,"wires":[]},{"id":"d12bdeb5.2a5","type":"debug","z":"d9c9b8f2.5b1738","name":"","active":false,"console":"false","complete":"true","x":444,"y":24,"wires":[]},{"id":"b17445a6.346548","type":"debug","z":"d9c9b8f2.5b1738","name":"mean per minute (generation)","active":true,"console":"false","complete":"true","x":893,"y":252,"wires":[]},{"id":"9a39cfe6.00f66","type":"link in","z":"d448e38d.8eb16","name":"ui status","links":["c3881eee.a2eb6"],"x":180,"y":145,"wires":[["8ea805ff.ee1e08","9c4d8e93.fc4c1"]]},{"id":"8ea805ff.ee1e08","type":"debug","z":"d448e38d.8eb16","name":"","active":true,"console":"false","complete":"true","x":357,"y":46,"wires":[]},{"id":"63e6d2e8.6942ec","type":"function","z":"d448e38d.8eb16","name":"Update availability / up time","func":"// loop through msg.payload\n//    replace each 0:1\n//    by { up: [0|1], uptime : xxx , up_percentage : [%] }\n// to do so following variables must be stored:\n//    first time seen, last time seen\n//    last_status\n//    up_down_since\n//    total_up_time\n\nvar device = msg.parts.key;\nvar current_status = msg.payload;\nvar now = Date.now();\nvar device_ctx = context.get(device)|| \n                 { \"first_time\" : now, \"last_time\": now, \"last_status\": 0, \"up_or_down_since\": now, \"total_up_time\" : 0 };\n\n\nif (device_ctx.last_status===1) { device_ctx.total_up_time += (now - device_ctx.last_time); }\nif (device_ctx.last_status != current_status){ device_ctx.up_or_down_since = now;}\ndevice_ctx.last_time = now;\ndevice_ctx.last_status = current_status;\n\nvar up_percentage;\nif ((device_ctx.last_time-device_ctx.first_time) > 0){\n    up_percentage = device_ctx.total_up_time *100 / (device_ctx.last_time-device_ctx.first_time);\n    up_percentage = Math.round(up_percentage*100)/100;\n} else up_percentage = -1;\n\n\n\n// calculate up or down time\n// http://stackoverflow.com/questions/37096367/how-to-convert-seconds-to-minutes-and-hours-in-javascript\nd = Number((device_ctx.last_time-device_ctx.up_or_down_since)/1000);\nvar days = Math.floor(d / (3600*24));\nvar h = Math.floor(d / 3600 % 24);\nvar m = Math.floor(d % 3600 / 60);\nvar s = Math.floor(d % 3600 % 60);\n\nvar daysDisplay = days > 0 ? days + (days == 1 ? \" day \" : \" days \") : \"\";\nvar hDisplay = h > 9 ? h : \"0\" + h;\nvar mDisplay = m > 9 ? m : \"0\" + m;\nvar sDisplay = s > 9 ? s : \"0\" + s;\n\nvar up_or_down_time = daysDisplay + hDisplay + \":\" + mDisplay + \":\" + sDisplay;\n\nvar status_msg = (current_status ? \"UP time = \": \"DOWN time = \");\nstatus_msg = status_msg + up_or_down_time + \" [UP%=\"+up_percentage + \"]\";\n\ncontext.set(device,device_ctx);\n\n\nvar newMsg = {  \"device\" :  msg.parts.key,\n                \"payload\" : { \"up\"            : msg.payload,\n                              \"up_percentage\" : up_percentage,\n                              \"up_or_down_time\" : up_or_down_time,\n                              \"status_msg\"    : status_msg,\n                              \"first_time\"    : device_ctx.first_time,\n                              \"last_time\"     : device_ctx.last_time,\n                              \"last_status\"   : device_ctx.last_status,\n                              \"up_or_down_since\"      : device_ctx.up_or_down_since,\n                              \"total_up_down_time\" : device_ctx.total_up_time\n                }};\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":562,"y":214,"wires":[["4221a0e0.26547","9cc61cf4.d4964"]]},{"id":"9c4d8e93.fc4c1","type":"split","z":"d448e38d.8eb16","name":"","splt":"\\n","x":345,"y":214,"wires":[["a3cc583d.7d0738","63e6d2e8.6942ec"]]},{"id":"a3cc583d.7d0738","type":"debug","z":"d448e38d.8eb16","name":"","active":false,"console":"false","complete":"true","x":499,"y":146,"wires":[]},{"id":"4221a0e0.26547","type":"debug","z":"d448e38d.8eb16","name":"","active":true,"console":"false","complete":"true","x":801,"y":174,"wires":[]},{"id":"67f1eaad.1c4c14","type":"inject","z":"d448e38d.8eb16","name":"","topic":"","payload":"{\"testDeviceX\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"x":124,"y":266,"wires":[["3b613e87.89b732","9c4d8e93.fc4c1"]]},{"id":"3b613e87.89b732","type":"debug","z":"d448e38d.8eb16","name":"","active":false,"console":"false","complete":"payload","x":338,"y":300,"wires":[]},{"id":"aab7f70e.cfeb28","type":"inject","z":"d448e38d.8eb16","name":"","topic":"","payload":"{\"testDeviceX\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":125,"y":330,"wires":[["3b613e87.89b732","9c4d8e93.fc4c1"]]},{"id":"9cc61cf4.d4964","type":"switch","z":"d448e38d.8eb16","name":"","property":"device","propertyType":"msg","rules":[{"t":"eq","v":"testDeviceX","vt":"str"},{"t":"eq","v":"TL-WPA4220","vt":"str"},{"t":"eq","v":"TL-WPA4220_2","vt":"str"},{"t":"eq","v":"cisco_switch","vt":"str"},{"t":"eq","v":"wifi_relay_cv","vt":"str"},{"t":"eq","v":"bbox_jan","vt":"str"},{"t":"eq","v":"WD","vt":"str"},{"t":"eq","v":"pi3two","vt":"str"},{"t":"eq","v":"internet","vt":"str"}],"checkall":"true","outputs":9,"x":545,"y":317,"wires":[["edf9fb5f.42e838"],["da192d9e.9f113"],["1cb9e86d.14ace8"],["ecb14ed4.0256e"],["2758970a.c09668"],["df49957.4642f68"],["d905c9eb.315788"],["54674569.eca0cc"],["e5e44bda.1c6528"]]},{"id":"edf9fb5f.42e838","type":"debug","z":"d448e38d.8eb16","name":"","active":true,"console":"false","complete":"true","x":706,"y":278,"wires":[]},{"id":"da192d9e.9f113","type":"ui_text","z":"d448e38d.8eb16","group":"83960579.c80148","order":0,"width":0,"height":0,"name":"","label":"TL-WPA4220:","format":"{{msg.payload.status_msg}}","layout":"row-spread","x":740,"y":372,"wires":[]},{"id":"1cb9e86d.14ace8","type":"ui_text","z":"d448e38d.8eb16","group":"83960579.c80148","order":0,"width":0,"height":0,"name":"","label":"TL-WPA4220_2:","format":"{{msg.payload.status_msg}}","layout":"row-spread","x":744,"y":413,"wires":[]},{"id":"ecb14ed4.0256e","type":"ui_text","z":"d448e38d.8eb16","group":"83960579.c80148","order":0,"width":0,"height":0,"name":"","label":"cisco_switch:","format":"{{msg.payload.status_msg}}","layout":"row-spread","x":725,"y":456,"wires":[]},{"id":"2758970a.c09668","type":"ui_text","z":"d448e38d.8eb16","group":"83960579.c80148","order":0,"width":0,"height":0,"name":"","label":"wifi_relay_cv","format":"{{msg.payload.status_msg}}","layout":"row-spread","x":727,"y":498,"wires":[]},{"id":"df49957.4642f68","type":"ui_text","z":"d448e38d.8eb16","group":"83960579.c80148","order":0,"width":0,"height":0,"name":"","label":"bbox_jan:","format":"{{msg.payload.status_msg}}","layout":"row-spread","x":724,"y":545,"wires":[]},{"id":"d905c9eb.315788","type":"ui_text","z":"d448e38d.8eb16","group":"83960579.c80148","order":0,"width":0,"height":0,"name":"","label":"WD","format":"{{msg.payload.status_msg}}","layout":"row-spread","x":712,"y":587,"wires":[]},{"id":"54674569.eca0cc","type":"ui_text","z":"d448e38d.8eb16","group":"83960579.c80148","order":0,"width":0,"height":0,"name":"","label":"pi3two:","format":"{{msg.payload.status_msg}}","layout":"row-spread","x":718,"y":629,"wires":[]},{"id":"3c07b136.516d0e","type":"ping","z":"fed72f15.8d836","name":"ping www.google.com","host":"www.google.com","timer":"300","x":100,"y":511.7999725341797,"wires":[["b51d1c90.aec1d","8bdf569f.c00db8"]]},{"id":"b51d1c90.aec1d","type":"debug","z":"fed72f15.8d836","name":"ping google response","active":true,"console":"false","complete":"true","x":221,"y":473.7999725341797,"wires":[]},{"id":"8bdf569f.c00db8","type":"function","z":"fed72f15.8d836","name":"\"internet\" emon input","func":"var ping_google_status = ( msg.payload === false ? 0 : 1 );\n\nvar newMsg = { \n nodegroup: \"7\",\n payload: {\"internet\": ping_google_status }};\n \n \nreturn newMsg;","outputs":1,"noerr":0,"x":428,"y":511.7999725341797,"wires":[["c3881eee.a2eb6","85d1969e.2b3868"]]},{"id":"85d1969e.2b3868","type":"debug","z":"fed72f15.8d836","name":"\"internet\" emon input","active":true,"console":"false","complete":"true","x":738,"y":511.7999725341797,"wires":[]},{"id":"e5e44bda.1c6528","type":"ui_text","z":"d448e38d.8eb16","group":"83960579.c80148","order":0,"width":0,"height":0,"name":"","label":"internet","format":"{{msg.payload.status_msg}}","layout":"row-spread","x":718,"y":669,"wires":[]},{"id":"d9449728.eeac88","type":"comment","z":"e6728257.d2c86","name":"chart absolute humidity","info":"","x":592,"y":573,"wires":[]},{"id":"4a45b2e9.b7deac","type":"ui_chart","z":"e6728257.d2c86","name":"absolute humidity kelder & outside","group":"c75b2ad7.9d6f98","order":2,"width":0,"height":0,"label":"[g/m3]","chartType":"line","legend":"false","xformat":"dd HHu","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1043,"y":696,"wires":[[],[]]},{"id":"bffa8f09.797a","type":"change","z":"e6728257.d2c86","name":"extract absolute_humidity buiten","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.absolute_humidity","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"buiten","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":629.9999542236328,"y":761.9999856948853,"wires":[["8a6814dc.db93c8","b8f90cd.76378f"]]},{"id":"85e9eb91.ff8548","type":"function","z":"e6728257.d2c86","name":"ventilator state changed ?","func":"// when the ventilator status changed it will sent 2 messages:\n//  - the first one reporting the old status\n//  - the second one reporting the new status\n// ventilator on is reported as 12 and off is reported as 0 in the chart.\nvar last_ventilator_state_for_chart = context.get('ventilator_state_for_chart')||0;\nvar new_ventilator_state = msg.payload.ventilator;\nvar new_msg = {};\n\nif ( last_ventilator_state_for_chart != new_ventilator_state){\n    context.set('ventilator_state_for_chart',new_ventilator_state);\n    msg.payload     =  (new_ventilator_state ? 0: 12);\n    new_msg.payload = (new_ventilator_state ? 12: 0);\n    new_msg.topic = msg.topic = \"ventilator\";\n    return [ [msg, new_msg]];\n}\n\nreturn null;","outputs":1,"noerr":0,"x":612,"y":614.4444580078125,"wires":[["29a22edc.2d9e22","4a45b2e9.b7deac"]]},{"id":"29a22edc.2d9e22","type":"debug","z":"e6728257.d2c86","name":"ventilator state for chart","active":false,"console":"false","complete":"true","x":932.22216796875,"y":564.2222290039062,"wires":[]},{"id":"3e0f4308.af983c","type":"debug","z":"e6728257.d2c86","name":"average per hour (kelder)","active":true,"console":"false","complete":"true","x":1024,"y":656,"wires":[]},{"id":"75bcc356.11741c","type":"debug","z":"e6728257.d2c86","name":"average per hour (buiten)","active":true,"console":"false","complete":"true","x":1037,"y":808,"wires":[]},{"id":"adad77b6.9e96c8","type":"debug","z":"e6728257.d2c86","name":"abs humidity kelder","active":true,"console":"false","complete":"true","x":901,"y":602,"wires":[]},{"id":"b8f90cd.76378f","type":"debug","z":"e6728257.d2c86","name":"abs humidity buiten","active":true,"console":"false","complete":"true","x":893,"y":738,"wires":[]},{"id":"5d5acb98.6e8104","type":"change","z":"e6728257.d2c86","name":"extract absolute humidity kelder","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.absolute_humidity","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"kelder","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":623.8115386962891,"y":656.9791564941406,"wires":[["adad77b6.9e96c8","d922ce77.fa1e6"]]},{"id":"f0c95a28.052ae8","type":"ui_template","z":"e6728257.d2c86","group":"c75b2ad7.9d6f98","name":"emoncms chart \"ventilator and absolute humidity\"","order":1,"width":0,"height":0,"format":"<iframe style=\"width:580px; height:400px;\" frameborder=\"0\" scrolling=\"no\" marginheight=\"0\" marginwidth=\"0\" \n src=\"https://emoncms.org/vis/multigraph?mid=13459&embed=1&apikey=4b1fb058df6f5a59c0db242ead615e50\"></iframe>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":693.442138671875,"y":878.7546901702881,"wires":[[]]},{"id":"f557079.49e45f8","type":"inject","z":"ae997a8f.fef6b8","name":"default category","topic":"","payload":"weather","payloadType":"str","repeat":"","crontab":"","once":true,"x":124,"y":80,"wires":[["66bd084.00da4f8","cdbc64e3.6ed488"]]},{"id":"93154e68.7bbb2","type":"ui_template","z":"ae997a8f.fef6b8","group":"1136228c.3d68bd","name":"emoncms chart","order":1,"width":"20","height":"17","format":"","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":822,"y":608,"wires":[["4f3f355d.31133c"]]},{"id":"d71d83a9.5c767","type":"template","z":"ae997a8f.fef6b8","name":"emoncms iframe html","field":"template","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe style=\"width:{{flow.width}}px; height:{{flow.height}}px;\" frameborder=\"0\" scrolling=\"no\" marginheight=\"0\" marginwidth=\"0\" \n src=\"https://emoncms.org/{{flow.url_path}}&embed=1&apikey=4b1fb058df6f5a59c0db242ead615e50\"></iframe>","x":735,"y":536,"wires":[["93154e68.7bbb2","7512eaee.398874"]]},{"id":"7512eaee.398874","type":"debug","z":"ae997a8f.fef6b8","name":"emoncms chart msg","active":true,"console":"false","complete":"true","x":867,"y":479,"wires":[]},{"id":"38029f49.91581","type":"ui_dropdown","z":"ae997a8f.fef6b8","name":"emoncms chart selector","label":"","place":"Select option","group":"3bbe7a3b.70c496","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"nog niet geinitializeerd","value":"x","type":"str"}],"payload":"","topic":"","x":178,"y":215,"wires":[["f3f134.9c386ed","adace71.c885a18"]]},{"id":"66bd084.00da4f8","type":"ui_dropdown","z":"ae997a8f.fef6b8","name":"emoncms category selector","label":"","place":"Select option","group":"859d9075.9393c","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"pi","value":"pi","type":"str"},{"label":"electr.","value":"power","type":"str"},{"label":"weer","value":"weather","type":"str"},{"label":"netwerk","value":"lan","type":"str"}],"payload":"","topic":"","x":182,"y":123,"wires":[["a25dcc9e.2c5bc","350b8e4f.9928f2"]]},{"id":"a25dcc9e.2c5bc","type":"debug","z":"ae997a8f.fef6b8","name":"emoncms category","active":true,"console":"false","complete":"true","x":459,"y":122,"wires":[]},{"id":"f3f134.9c386ed","type":"debug","z":"ae997a8f.fef6b8","name":"emoncms chart","active":true,"console":"false","complete":"true","x":415,"y":214,"wires":[]},{"id":"350b8e4f.9928f2","type":"function","z":"ae997a8f.fef6b8","name":"get chart options","func":"switch(msg.payload){\n    case \"pi\":\n        msg.options = [ \n    { \"pi process mem\": \"13278\"},\n    { \"pi process cpu\": \"13272\" },\n    { \"pi free mem\" : \"13262\" },\n    { \"pi load\": \"13263\" },\n    { \"pi free sd card\" : \"13264\" },\n    { \"pi harddisks\" : \"13266\" },\n    { \"pi network\" : \"13328\" },\n    { \"pi cpu\" : \"13329\" },\n    { \"pi cpu idle\" : \"13333\" },\n    { \"pi cpu wait\" : \"13334\" },\n    { \"pi cpu temp versus cpu idle\" : \"13457\" },\n    { \"pi3one cpu temp\" : \"13478\" },\n    { \"pi3two cpu temp\" : \"13479\" }\n    ];\n        break;\n    case \"power\":\n        msg.options = [\n    \"myelectric\",\n    \"myelectric2\",\n    \"mysolarpv\" ,\n    \"mysolarpv2\" ,\n    {\"power 3 phases\" : \"6088\" },\n    {\"house and solar power\" : \"6089\" },\n    {\"kWhd 3 phases\" : \"6090\" },\n    {\"kWhd house and solar\" : \"6091\" }];\n        break;\n    case \"weather\":\n        msg.options = [\t\n    {\"Pressure\" : \"12980\" },\n    {\"Absolute Humidity\" : \"12978\" },\n\t{\"CV temp\": \"9560\"},\n\t{\"Humidity Clouds\" : \"9561\" },\n\t{\"temperature\" : \"10087\" },\n    {\"relative humidity\" : \"11861\" },\n    { \"All humidity sensor at home\" : \"11999\" },\n    { \"Voltage of 2 emonTh\" : \"12001\" },\n\t{ \"ventilator and abs humidity\": \"13459\" },\n    { \"ventilation and temp\" : \"13460\" },\n    { \"ventilation and humidity\" : \"13461\" }];\n        break;\n    case \"lan\" :\n        msg.options = [\n    {\"servers\": \"9809\" },\n\t{\"TV en laptops kids\" : \"9744\" },\n    {\"network\" : \"9812\" },\n    {\"PCs Jan Marleen\" : \"9813\" },\n    {\"Mobile Kids\" : \"9814\" },\n    {\"uur laptop schermen per dag\": \"9976\" },\n    {\"TV per dag\" : \"9977\" },\n\t{ \"mobile parents\" : \"12673\" }];\n        break;\n    default:\n        msg.options = [];\n}\nreturn msg;","outputs":1,"noerr":0,"x":177,"y":167,"wires":[["38029f49.91581"]]},{"id":"cdbc64e3.6ed488","type":"debug","z":"ae997a8f.fef6b8","name":"default category","active":true,"console":"false","complete":"true","x":412,"y":79,"wires":[]},{"id":"4a9c4f5f.d5839","type":"change","z":"ae997a8f.fef6b8","name":"set url_path to specified multigraph","rules":[{"t":"set","p":"url_path","pt":"flow","to":"\"vis/multigraph?mid=\" & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":396,"y":422,"wires":[["d71d83a9.5c767","d57f086.efa24f8"]]},{"id":"b9e85a87.9e6d48","type":"ui_dropdown","z":"ae997a8f.fef6b8","name":"device selector","label":"","place":"Select option","group":"93ffe36a.9369f","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"n7","value":"nexus7","type":"str"},{"label":"1920","value":"1920x1080","type":"str"},{"label":"s7","value":"s7","type":"str"},{"label":"s7L","value":"s7L","type":"str"}],"payload":"","topic":"","x":142,"y":471,"wires":[["d08ba9d2.80a3f8"]]},{"id":"8e38dcc6.66071","type":"change","z":"ae997a8f.fef6b8","name":"settings nexus7","rules":[{"t":"set","p":"width","pt":"flow","to":"920","tot":"str"},{"t":"set","p":"height","pt":"flow","to":"450","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":501,"wires":[["d71d83a9.5c767"]]},{"id":"d08ba9d2.80a3f8","type":"switch","z":"ae997a8f.fef6b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"nexus7","vt":"str"},{"t":"eq","v":"1920x1080","vt":"str"},{"t":"eq","v":"s7","vt":"str"},{"t":"eq","v":"s7L","vt":"str"}],"checkall":"true","outputs":4,"x":253,"y":536,"wires":[["8e38dcc6.66071"],["b6c178e3.9794b8"],["fec6aa77.9a1658"],["e567bf5a.b79f1"]]},{"id":"fec6aa77.9a1658","type":"change","z":"ae997a8f.fef6b8","name":"settings s7","rules":[{"t":"set","p":"width","pt":"flow","to":"350","tot":"str"},{"t":"set","p":"height","pt":"flow","to":"460","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":439,"y":589,"wires":[["d71d83a9.5c767"]]},{"id":"b6c178e3.9794b8","type":"change","z":"ae997a8f.fef6b8","name":"settings 1920x1080","rules":[{"t":"set","p":"width","pt":"flow","to":"1000","tot":"str"},{"t":"set","p":"height","pt":"flow","to":"800","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":468,"y":543,"wires":[["d71d83a9.5c767","34b377b6.e25cc8"]]},{"id":"7f755f8c.d5013","type":"comment","z":"ae997a8f.fef6b8","name":"UI to select emoncms.org charts","info":"","x":144,"y":20,"wires":[]},{"id":"4f3f355d.31133c","type":"debug","z":"ae997a8f.fef6b8","name":"emoncms chart","active":true,"console":"false","complete":"true","x":1022,"y":609,"wires":[]},{"id":"34b377b6.e25cc8","type":"debug","z":"ae997a8f.fef6b8","name":"settings 1920x1080","active":true,"console":"false","complete":"true","x":744,"y":415,"wires":[]},{"id":"e567bf5a.b79f1","type":"change","z":"ae997a8f.fef6b8","name":"settings s7L","rules":[{"t":"set","p":"width","pt":"flow","to":"600","tot":"str"},{"t":"set","p":"height","pt":"flow","to":"270","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":438,"y":631,"wires":[["d71d83a9.5c767"]]},{"id":"d57f086.efa24f8","type":"debug","z":"ae997a8f.fef6b8","name":"chart_id in flow context","active":true,"console":"false","complete":"true","x":717,"y":254,"wires":[]},{"id":"adace71.c885a18","type":"switch","z":"ae997a8f.fef6b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"myelectric","vt":"str"},{"t":"eq","v":"myelectric2","vt":"str"},{"t":"eq","v":"mysolarpv","vt":"str"},{"t":"eq","v":"mysolarpv2","vt":"str"},{"t":"else"}],"checkall":"true","outputs":5,"x":136,"y":301,"wires":[["f09c1d88.48ba4"],["2626588.75fb8a8"],["751abf05.88594"],["b96d26e8.bfcf48"],["4a9c4f5f.d5839"]]},{"id":"2626588.75fb8a8","type":"change","z":"ae997a8f.fef6b8","name":"set url_path to myelectric app","rules":[{"t":"set","p":"url_path","pt":"flow","to":"app/view?name=myelectric","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":382,"y":310,"wires":[["d71d83a9.5c767"]]},{"id":"751abf05.88594","type":"change","z":"ae997a8f.fef6b8","name":"set url_path to my solarpv app","rules":[{"t":"set","p":"url_path","pt":"flow","to":"app/view?name=mysolarpv","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":388,"y":351,"wires":[["d71d83a9.5c767"]]},{"id":"f09c1d88.48ba4","type":"change","z":"ae997a8f.fef6b8","name":"set url_path to zoom electric","rules":[{"t":"set","p":"url_path","pt":"flow","to":"vis/zoom?power=70585&kwhd=70587&currency=€&currency_after_val=0&pricekwh=0.25","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":378,"y":273,"wires":[["d71d83a9.5c767"]]},{"id":"b96d26e8.bfcf48","type":"change","z":"ae997a8f.fef6b8","name":"set msg.template to zoom solarpv","rules":[{"t":"set","p":"url_path","pt":"flow","to":"vis/zoom?power=66025&kwhd=66030&currency=€&currency_after_val=0&pricekwh=0.5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":393,"y":389,"wires":[["d71d83a9.5c767"]]},{"id":"d0ca3f77.793e2","type":"ui_template","z":"c7bb51ea.b7706","group":"3d15fa9f.dfffe6","name":"buienradar iframe","order":1,"width":"7","height":"7","format":"","storeOutMessages":true,"fwdInMessages":true,"x":1028,"y":67,"wires":[[]]},{"id":"7be5e12d.8fe91","type":"http request","z":"c7bb51ea.b7706","name":"get buienradar rain data","method":"GET","ret":"txt","url":"","tls":"","x":852,"y":253,"wires":[["10388e7b.3639a2","a8a9c1c4.8eef7"]]},{"id":"10388e7b.3639a2","type":"debug","z":"c7bb51ea.b7706","name":"buienradar rain data","active":true,"console":"false","complete":"true","x":1067,"y":211,"wires":[]},{"id":"a8a9c1c4.8eef7","type":"split","z":"c7bb51ea.b7706","name":"","splt":"\\n","x":876,"y":302,"wires":[["ba71612e.46b76","2d00fe04.0e07c2"]]},{"id":"842a6a1c.1a4f78","type":"join","z":"c7bb51ea.b7706","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"","x":867,"y":430,"wires":[["2746ed98.1f88c2","bc996f7e.861a"]]},{"id":"ba71612e.46b76","type":"debug","z":"c7bb51ea.b7706","name":"output split","active":false,"console":"false","complete":"true","x":1066,"y":299,"wires":[]},{"id":"5c0b10aa.ba3bb","type":"change","z":"c7bb51ea.b7706","name":"set msg.parts.type to array","rules":[{"t":"set","p":"parts.type","pt":"msg","to":"array","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":878,"y":388,"wires":[["842a6a1c.1a4f78"]]},{"id":"2746ed98.1f88c2","type":"debug","z":"c7bb51ea.b7706","name":"joined output","active":false,"console":"false","complete":"true","x":1083,"y":432,"wires":[]},{"id":"2d00fe04.0e07c2","type":"function","z":"c7bb51ea.b7706","name":"rain string to object","func":"// converst a payload string like \"077|23:00 \"\n// into an object like { time : \"23:00 \"\", rain : \"072\", rain_mm_per_hour : 0.1 }\n//\n\nvar str = msg.payload.split(\"|\");\n\n// conversion of the rain is based on\n// https://www.buienradar.nl/overbuienradar/gratis-weerdata\n// Neerslagintensiteit in mm/u = 10^((waarde-109)/32)\n\nmsg.payload = { \"time\" : str[1], \"rain\" : str[0],\n                \"rain_mm_per_hour\" : Math.pow(10, ( (Number(str[0])-109)/32))};\n\nreturn msg;","outputs":1,"noerr":0,"x":866,"y":343,"wires":[["34e20c26.5f1484","5c0b10aa.ba3bb"]]},{"id":"34e20c26.5f1484","type":"debug","z":"c7bb51ea.b7706","name":"string to object","active":false,"console":"false","complete":"true","x":1097,"y":345,"wires":[]},{"id":"bc996f7e.861a","type":"ui_template","z":"c7bb51ea.b7706","group":"5d9dca08.657f84","name":"rain expectations","order":2,"width":"4","height":"13","format":"<table>\n  <tr>\n    <th>time</th>\n    <th>0-255</th>\n    <th>mm/u</th>\n  </tr>\n  <!-- limitTo is added as the payload array contained a 25th element without any rain data -->\n  <tr ng-repeat=\"x in msg.payload  | limitTo : 24\">\n    <td>{{ x.time }}</td>\n    <td>{{ x.rain }}</td>\n    <td>{{ x.rain_mm_per_hour | number : 3 }}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"x":1007,"y":477,"wires":[[]]},{"id":"c542e90.a87cc18","type":"http request","z":"c7bb51ea.b7706","name":"get Borsbeek 48hours forecast","method":"GET","ret":"obj","url":"","tls":"","x":305,"y":606,"wires":[["bef4b4cb.87e6e8","32dbe60.b7f8a1a","1de5b321.186e2d"]]},{"id":"bef4b4cb.87e6e8","type":"debug","z":"c7bb51ea.b7706","name":"bosrbeek 48hours forecast","active":true,"console":"false","complete":"true","x":613,"y":603,"wires":[]},{"id":"32dbe60.b7f8a1a","type":"ui_template","z":"c7bb51ea.b7706","group":"1d6cbfef.15f53","name":"48 hours forecast","order":2,"width":"16","height":"20","format":"<table>\n  <tr>\n    <th>U</th>\n    <th>T</th>\n    <th>regen</th>\n    <th>wind</th>\n    <th>uv</th>\n    <th>beschrijving</th>\n    </tr>\n  <tr ng-repeat=\"x in msg.payload.forecasts\">\n    <td>{{ x.fcst_valid_local | date : \"H\" }}u</td>\n    <td>{{ x.temp }}°C</td>\n    <td>{{ x.pop }}% ({{ x.qpf }}mm)</td>\n    <td>{{ x.wspd }}km/u </td>\n    <td>{{ x.uv_index_raw | number : 2 }} [{{x.uv_index}}:{{x.uv_desc}}]</td>\n    <td>{{ x.phrase_32char }}</td>\n  </tr>\n</table>\n","storeOutMessages":true,"fwdInMessages":true,"x":389,"y":656,"wires":[[]]},{"id":"e9ae383e.a70218","type":"comment","z":"c7bb51ea.b7706","name":"retrieve 48 hours forecast  from the weather company for borsbeek","info":"","x":267,"y":500,"wires":[]},{"id":"b623823a.8072a","type":"comment","z":"c7bb51ea.b7706","name":"Read me","info":"This charting example extends node-red-dashboard and the work by Colin Law here:\nhttp://flows.nodered.org/flow/c3dc75c47323a2754f5285225bce64b5\n\nView the chart at http://localhost:1880/ui\n\nBoth the dashboard chart and Colin's example uses time as the X-axis. The example\nhere uses an integer as the x-axis. Colin's example uses Chart.js inside a\nnode-red-dashboard template node. The example here leaves Colin's code almost \nunchanged except that the chart.js XAxis is changed from:\n\n                xAxes: [{\n                    type: 'time',\n                    time: {\n                        unit: 'minute',\n                        unitStepSize: 1,\n                        displayFormats: {\n                            minute: 'HH:mm'\n                        }\n                    }\n                }],\n\nto this:\n              xAxes: [{\n                    type: 'linear',\n                    position: 'bottom'\n                    }\n                ],\n                \nI also adjusted the way the nodes are rendered.\n\nThis example pre-prepares the data object and uses the msg.action = \"load\" \nmethod to ask the template code to render the data. \n\nA dashboard button on the UI page generates fresh data with a different \nscale each time.\n\n\n","x":129,"y":724,"wires":[]},{"id":"133b5cb1.236da3","type":"ui_template","z":"c7bb51ea.b7706","group":"355d00d6.9da31","name":"forecast chart","order":3,"width":"9","height":"8","format":"<!-- See the read me comment node. Colin Law's original notes follow -->\n\n<!--\nA node-red Dashboard UI template to draw charts using chart.js\nBefore use download the file Chart.bundle.min.js from chartjs.org and \nsave in an appropriate folder (e.g. .node-red/static). \nIn settings.js set httpStatic to the full path of that folder and restart node-red.\nMake sure that the options for 'Pass through messages' and 'Add output messages' \nin this node are cleared.\nFor basic use set the id and size you want in the canvas tag and set chartID to the id\nSetup chartDef as required for your chart (see the chart.js docs)\nIn addition, for each dataset specify in chartDef the message topic that you will use for that channel.\nTo (optionally) provide the chart with a one-off set of data send the node a message with:\nmsg.action = \"load\"\nmsg.payload = [\n{topic: \"mytopic1\", data: [{x: x1,y:y2},{x:x2,y:y2},...]},\n{topic: \"mytopic2\", data: [{x: x1,y:y2},{x:x2,y:y2},...]},\n...]\nWhere mytopic1 and mytopic2 are the the topics specified in the chartDef\n\nTo provide the chart with data incrementally (for a time series for example)\nsend it messages of the form\n{topic: \"mytopic1\", payload: {x:xvalue,y:yvalue}}\nThe chart will be updated as each sample is provided.\nTo limit the growth of the chart set chartMaxPoints and/or chartTimeSpan in the Chart Helper node\nas described at the head of that node.\nIf you find that chart seems to flicker and scroll bars come and go then try \nsetting a size other than auto in the Size specification for this node.\n\nFor Bar charts the x value is the label for the bar and the y value is the bar value\n\nNote that since the chart samples are stored in the browser then the chart will be cleared each\ntime the browser is refreshed (and will be clear on initially opening the view). In order to \nprovided persistency over browser opening and refresh this node may be used in conjunction with\nthe Chart Helper function node.  Details for its use are in the source of that node.\n\nIf your flow includes more that one instance of this script then the line fetching \nChart.bundle.min.js need only be included in one of them\n-->\n\n<script src=\"/Chart.bundle.min.js\"></script>\n<canvas id=\"myChartSimple1\" width=\"500\" height=\"420\"></canvas>\n<script>\n(function() {\n    var chartID = \"myChartSimple1\";           // set this to the id you have specified in the canvas tag above\n    // setup the chart definition as defined in the chart.js documentation, in addition setting up the topic\n    // for each channel\n    var chartDef = {\n        type: 'line',\n        data: {\n            datasets: [{\n                topic: \"temp\",    // used here not by chart.js\n                label: \"temp\",\n                yAxisID: \"1\",\n                fill: false,\n                lineTension: 0,\n                borderColor: \"#0000ff\",\n                pointRadius: 0,\n                pointHoverRadius: 5,\n                pointBorderColor: \"#0000ff\",\n                pointBackgroundColor: \"#0000ff\",\n                backgroundColor:  \"#0000ff\",\n                borderWidth: 1,\n                data: []  // data is written here later\n            }, {\n                topic: \"qpf\",    // used here not by chart.js\n                label: \"rain\",\n                yAxisID: \"2\",\n                fill: false,\n                lineTension: 0,\n                borderColor: \"#ff0000\",\n                pointRadius: 0,\n                pointHoverRadius: 5,\n                pointBorderColor: \"#ff0000\",\n                pointBackgroundColor: \"#ff0000\",\n                backgroundColor:  \"#ff0000\",\n                borderWidth: 1,\n                data: []  // data is written here later\n            }]\n        },\n        options: {\n            scales: {\n                xAxes: [{\n                    type: 'time',  // was 'linear'\n                    position: 'bottom'\n                    }\n                ],\n                yAxes: [{\n                    position: \"left\",\n                    id: \"1\",\n                    ticks: {\n                        min: -10,\n                        max: 30,\n                        stepSize:5\n                    },\n                    scaleLabel: {\n                      display: true,\n                      labelString: 'temp °C'\n                    }\n                }, {\n                    position: \"right\",\n                    id: \"2\",\n                    ticks: {\n                        min: 0,\n                        max: 2,\n                        stepSize: 0.5\n                    },\n                    scaleLabel: {\n                      display: true,\n                      labelString: 'regen mm/u'\n                    }\n                }]\n            },\n            animation: {\n                duration: 0\n            }\n        }\n    }\n        \n/***** You shouldn't normally need to change anything below here *****/    \n    var myChart = null;\n    var loaded = false;     // indicates whether we have already had a load action\n    var chartTimeSpan;\n    var chartMaxPoints = 48;  // JVA set to 48.\n\n    function doChart(msg, scope) {\n        if (!myChart) {\n            // chart does not exist so load the data and create it\n            var ctx = document.getElementById(chartID);\n            myChart = new Chart(ctx, chartDef);     \n        }\n        // chart already exists, update it\n        var datasets = myChart.data.datasets;\n        // is this a load or preload action?\n        if (msg.action === \"load\" || msg.action === \"preload\") {\n            // yes, do not allow preload if we have already had a load\n            // so do it if this is a load or we have not previously had a load\n            if (msg.action === \"load\" || !loaded) {\n                // pick up chartTimeSpan and chartMaxPoints if they have been provided\n                if (typeof msg.chartTimeSpan != 'undefined') {\n                    chartTimeSpan = msg.chartTimeSpan;\n                }\n                if (typeof msg.chartMaxPoints != 'undefined') {\n                    chartMaxPoints = msg.chartMaxPoints;\n                }\n                    \n                // replace existing data for matching topics\n                for (var j = 0; j < msg.payload.length; j++) {\n                    var topic = msg.payload[j].topic;\n                    // find it in the chart\n                    for (var i = 0; i < datasets.length; i++) {\n                        if (datasets[i].topic == topic) {\n                            // if stripping old samples by time is required then ensure the x value is Date\n                            if (chartTimeSpan > 0 ) {\n                                var data = msg.payload[j].data;\n                                for (var k = 0; k < data.length; k++) {\n                                    if (typeof data[k].x === \"string\") {\n                                        data[k].x = new Date(data[k].x);\n                                    }\n                                }\n                            }\n                            if (chartDef.type !== \"bar\") {\n                                datasets[i].data = msg.payload[j].data;\n                            } else {\n                                // bar chart so x values must go to labels and y values to dataset\n                                datasets[i].data = [];\n                                myChart.data.labels = [];\n                                var data = msg.payload[j].data;\n                                for (var k = 0; k < data.length; k++) {\n                                    datasets[i].data.push(data[k].y);\n                                    myChart.data.labels.push(data[k].x);\n                                }\n                            }\n                            break;\n                        }\n                    }\n                }\n            }\n            if (msg.action === \"load\") loaded = true;\n            myChart.update();\n        } else {\n            // does the topic match one of the datasets?\n            for (var i = 0; i < datasets.length; i++) {\n                if (datasets[i].topic == msg.topic) {\n                    // if stripping old samples by time is required then ensure the x value is Date\n                    if (chartTimeSpan > 0 && typeof msg.payload.x === \"string\") {\n                        msg.payload.x = new Date(msg.payload.x);\n                    }\n                    if (chartDef.type !== \"bar\") {\n                        datasets[i].data.push(msg.payload);\n                    } else {\n                         // bar chart so x value must go to labels and y value to dataset\n                        datasets[i].data.push(msg.payload.y);\n                        myChart.data.labels.push(msg.payload.x);\n                    }\n                    myChart.update();\n                    break;\n                }\n            }\n        }\n        // strip off samples older than now\n        // charTimeSpan == 0 implies don't do it\n        var shifted = false;\n        if (chartTimeSpan > 0) {\n            var now = new Date();\n            var oldestTimeAllowed = now - chartTimeSpan;\n            for (var i = 0; i < datasets.length; i++) {\n                dataset = datasets[i];\n                while(dataset.data[0] && getTime(dataset.data[0].x) < oldestTimeAllowed) {\n                    dataset.data.shift();\n                    shifted = true;\n                }\n            }\n        }\n        // strip samples off the front if there are now too many\n        // charTimeSpan == 0 implies don't do it\n        if (chartMaxPoints > 0) {\n            for (var i = 0; i < datasets.length; i++) {\n                dataset = datasets[i];\n                while(dataset.data.length > chartMaxPoints) {\n                    dataset.data.shift();\n                    shifted = true;\n                }\n            }\n        }\n        if (shifted) {\n            myChart.update();\n        }\n    };\n\n    // gets the time of an x value, works for strings or Date types\n    function getTime(x) {\n        if (typeof x === \"string\") x = new Date(x);\n        return x.getTime();\n    }\n    \n    // builds the preload message for sending back to the chart helper\n    function preloadMsg() {\n        var preMsg = {action: \"preload\", payload: \"preload\"};\n        // build array of topics in chart\n        var topics = [];\n        for (var i=0; i<chartDef.data.datasets.length; i++) {\n            topics.push(chartDef.data.datasets[i].topic);\n        }\n        preMsg.topics = topics;\n        // has the chart already been created\n        if (myChart) {\n            preMsg.lastXValue = 1;\n        } else {\n            preMsg.lastXValue = 0;\n        }\n        return preMsg;\n    }\n\n    (function(scope) {\n        // this code gets run when the a view is opened on the node in the browser\n        // send a preload message back to node red to ask it send\n        // us a complete set of data. Pass down max points and time span to the helper node for it to use\n        // plus an array of the topics of interest\n        scope.send( preloadMsg() );\n        \n        scope.$watch('msg', function(msg) {\n            if (msg) {\n                doChart(msg, scope);\n            }\n        });\n    })(scope);\n})();\n</script>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1108.5499267578125,"y":858.88330078125,"wires":[["2997cb25.ccf3a4","72c159.184d9ea8"]]},{"id":"ca8d26ce.4a6488","type":"split","z":"c7bb51ea.b7706","name":"split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":100,"y":845,"wires":[["71a1fcb6.99ea84","d606b5d1.b22538","57776873.11ba48"]]},{"id":"1de5b321.186e2d","type":"change","z":"c7bb51ea.b7706","name":"set last 48hours forecast = msg.payload.forecasts","rules":[{"t":"set","p":"last48hours_forecast","pt":"flow","to":"payload.forecasts","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":696,"wires":[["72c159.184d9ea8"]]},{"id":"71a1fcb6.99ea84","type":"debug","z":"c7bb51ea.b7706","name":"forecast element","active":false,"console":"false","complete":"true","x":174,"y":762,"wires":[]},{"id":"48bd29c7.474b48","type":"debug","z":"c7bb51ea.b7706","name":"","active":false,"console":"false","complete":"payload","x":768,"y":733,"wires":[]},{"id":"43809ccd.c5eea4","type":"debug","z":"c7bb51ea.b7706","name":"","active":false,"console":"false","complete":"true","x":567,"y":782,"wires":[]},{"id":"d606b5d1.b22538","type":"function","z":"c7bb51ea.b7706","name":"payload = { x : fcst_valid_local, y : temp }","func":"var forecast_element = msg.payload;\n\nmsg.payload = { \"x\" : forecast_element.fcst_valid_local, \"y\" : forecast_element.temp };\nreturn msg;","outputs":1,"noerr":0,"x":347,"y":822,"wires":[["43809ccd.c5eea4","1ca2d4b.1a6af2b"]]},{"id":"1ca2d4b.1a6af2b","type":"join","z":"c7bb51ea.b7706","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","x":582,"y":823,"wires":[["1d951749.d5b0a9","b7c14ab7.b61fd8"]]},{"id":"1d951749.d5b0a9","type":"debug","z":"c7bb51ea.b7706","name":"array of { x : num, y : temp }","active":true,"console":"false","complete":"true","x":780,"y":768,"wires":[]},{"id":"9724993a.28ce48","type":"function","z":"c7bb51ea.b7706","name":"","func":"//msg.action = \"load\"\n//msg.payload = [\n//{topic: \"mytopic1\", data: [{x: x1,y:y2},{x:x2,y:y2},...]},\n//{topic: \"mytopic2\", data: [{x: x1,y:y2},{x:x2,y:y2},...]},\n//...]\n//Where mytopic1 and mytopic2 are the the topics specified in the chartDef\n\nvar temp_array = msg.payload\n\nmsg.action = \"load\";\nmsg.payload = [ { \"topic\" : msg.topic, \"data\" : temp_array}];\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":859,"wires":[["82b2386d.f1d2e8","133b5cb1.236da3"]]},{"id":"82b2386d.f1d2e8","type":"debug","z":"c7bb51ea.b7706","name":"input chart","active":true,"console":"false","complete":"true","x":1100,"y":918,"wires":[]},{"id":"57776873.11ba48","type":"function","z":"c7bb51ea.b7706","name":"payload = { x : fcst_valid_local, y : qpf }","func":"var forecast_element = msg.payload;\n\nmsg.payload = { \"x\" : forecast_element.fcst_valid_local, \"y\" : forecast_element.qpf};\n\nreturn msg;","outputs":1,"noerr":0,"x":344,"y":877,"wires":[["4eca337f.5276ec"]]},{"id":"4eca337f.5276ec","type":"join","z":"c7bb51ea.b7706","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","x":587,"y":879,"wires":[["11b69d2e.89dbe3"]]},{"id":"b7c14ab7.b61fd8","type":"change","z":"c7bb51ea.b7706","name":"set msg.topic = temp","rules":[{"t":"set","p":"topic","pt":"msg","to":"temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":766,"y":823,"wires":[["9724993a.28ce48"]]},{"id":"11b69d2e.89dbe3","type":"change","z":"c7bb51ea.b7706","name":"set msg.topic = qpf","rules":[{"t":"set","p":"topic","pt":"msg","to":"qpf","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":759,"y":878,"wires":[["9724993a.28ce48"]]},{"id":"f16cc427.1c3098","type":"ui_dropdown","z":"c7bb51ea.b7706","name":"","label":"Locatie:","place":"Select option","group":"355d00d6.9da31","order":2,"width":"7","height":"1","passthru":true,"options":[{"label":"","value":"thuis","type":"str"},{"label":"","value":"sfolkamp","type":"str"},{"label":"","value":"Malaga","type":"str"},{"label":"","value":"Casa la Loma","type":"str"},{"label":"","value":"Valencia","type":"str"},{"label":"","value":"Barcelona","type":"str"},{"label":"","value":"Gurgaon","type":"str"}],"payload":"","topic":"","x":80,"y":21,"wires":[["4f4d96bf.dc5fd8"]]},{"id":"e3004da3.3e452","type":"template","z":"c7bb51ea.b7706","name":"set 48 hours forecast url","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"https://twcservice.eu-gb.mybluemix.net/api/weather/v1/geocode/{{payload.lat}}/{{payload.lon}}/forecast/hourly/48hour.json?units=m&language=nl-NL","x":305,"y":553,"wires":[["c542e90.a87cc18","41b16709.9d6518"]]},{"id":"41b16709.9d6518","type":"debug","z":"c7bb51ea.b7706","name":"48 hours forecast url","active":true,"console":"false","complete":"true","x":586,"y":553,"wires":[]},{"id":"4f4d96bf.dc5fd8","type":"switch","z":"c7bb51ea.b7706","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"thuis","vt":"str"},{"t":"eq","v":"Casa la Loma","vt":"str"},{"t":"eq","v":"Valencia","vt":"str"},{"t":"eq","v":"Gurgaon","vt":"str"},{"t":"eq","v":"Barcelona","vt":"str"},{"t":"eq","v":"sfolkamp","vt":"str"},{"t":"eq","v":"Malaga","vt":"str"}],"checkall":"true","outputs":7,"x":95,"y":109,"wires":[["3b911425.896f6c"],["83098e58.6c601"],["6fa06de3.01b494"],["b3714d2e.aa3a1"],["9917a4ca.aafba8"],["ac2a74d4.6cac68"],["fab1308b.a85e4"]]},{"id":"3b911425.896f6c","type":"change","z":"c7bb51ea.b7706","name":"set lat & lon borsbeek","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"lat\" : 51.189961, \"lon\" : 4.486909 }","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"borsbeek","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":47,"wires":[["be1afd9f.58ecc"]]},{"id":"b630e76a.dafbc8","type":"debug","z":"c7bb51ea.b7706","name":"lat & lon","active":true,"console":"false","complete":"true","x":600,"y":220,"wires":[]},{"id":"83098e58.6c601","type":"change","z":"c7bb51ea.b7706","name":"set lat & lon casa la loma","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"lat\":37.2204098,\"lon\":-4.3551708}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"Dalhem","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":298.051025390625,"y":86.23600769042969,"wires":[["79c0098e.082488"]]},{"id":"6fa06de3.01b494","type":"change","z":"c7bb51ea.b7706","name":"set lat & lon Valencia","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"lat\":39.4077643,\"lon\":-0.4315507}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"De Haan","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":292,"y":125,"wires":[["79c0098e.082488"]]},{"id":"b3714d2e.aa3a1","type":"change","z":"c7bb51ea.b7706","name":"set lat & lon Gurgaon","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"lat\" : 28.424765, \"lon\" : 76.9197342 }","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"Gurgaon","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":293,"y":167,"wires":[["79c0098e.082488"]]},{"id":"32e13c9e.a1bda4","type":"template","z":"c7bb51ea.b7706","name":"set msg.template to buienrader url","field":"template","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"https://gadgets.buienradar.nl/gadget/zoommap/?lat={{payload.lat}}&lng={{payload.lon}}&overname=2&zoom=13&naam={{topic}}&size=2b&voor=1\" scrolling=no width=330 height=330 frameborder=no></iframe>","x":727,"y":65,"wires":[["d0ca3f77.793e2","2b1b31c3.f2f36e"]]},{"id":"2b1b31c3.f2f36e","type":"debug","z":"c7bb51ea.b7706","name":"buienradar iframe url","active":true,"console":"false","complete":"true","x":903,"y":20,"wires":[]},{"id":"ac76b0d8.6e8f2","type":"template","z":"c7bb51ea.b7706","name":"set msg.url to buienradar rain data","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"https://gpsgadget.buienradar.nl/data/raintext?lat={{payload.lat}}&lon={{payload.lon}}","x":736,"y":155,"wires":[["2de1e37e.b74b2c","7be5e12d.8fe91"]]},{"id":"2de1e37e.b74b2c","type":"debug","z":"c7bb51ea.b7706","name":"buienradar rain data url","active":true,"console":"false","complete":"true","x":917,"y":113,"wires":[]},{"id":"be1afd9f.58ecc","type":"function","z":"c7bb51ea.b7706","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":60,"wires":[["32e13c9e.a1bda4","ac76b0d8.6e8f2","79c0098e.082488"]]},{"id":"f186adbe.881fc","type":"google calendar in","z":"70877b4a.1bbb44","google":"6e76318c.44294","name":"calendar cv","calendar":"cv","offsetType":"at","offsetFrom":"start","offset":"10","offsetUnits":"minutes","x":125,"y":146,"wires":[["4012c9b6.ff1668","dcd01b30.38d958"]]},{"id":"eb774c12.f0811","type":"aggregator","z":"d9c9b8f2.5b1738","name":"mean per minute (consumption)","topic":"consumption","intervalCount":1,"intervalUnits":"m","submitIncompleteInterval":false,"aggregationType":"mean","x":602,"y":139,"wires":[["a783da6.6e28528","4b9cc53.10c463c","d8a983af.8ab99","d8a983af.8ab99"]]},{"id":"c31eb83e.514178","type":"aggregator","z":"d9c9b8f2.5b1738","name":"mean per minute (generation)","topic":"generation","intervalCount":1,"intervalUnits":"m","submitIncompleteInterval":false,"aggregationType":"mean","x":601,"y":219,"wires":[["4b9cc53.10c463c","ac3ac1dc.3beab","b17445a6.346548","ac3ac1dc.3beab"]]},{"id":"d8a983af.8ab99","type":"aggregator","z":"d9c9b8f2.5b1738","name":"mean per 20 minutes (consumption)","topic":"consumption","intervalCount":"20","intervalUnits":"m","submitIncompleteInterval":false,"aggregationType":"mean","x":946,"y":136,"wires":[["45129a3.f9f1f64"]]},{"id":"ac3ac1dc.3beab","type":"aggregator","z":"d9c9b8f2.5b1738","name":"mean per 20 minutes (generation)","topic":"generation","intervalCount":"20","intervalUnits":"m","submitIncompleteInterval":false,"aggregationType":"mean","x":937,"y":218,"wires":[["45129a3.f9f1f64"]]},{"id":"d922ce77.fa1e6","type":"aggregator","z":"e6728257.d2c86","name":"average per hour (kelder)","topic":"kelder","intervalCount":"1","intervalUnits":"h","submitIncompleteInterval":true,"aggregationType":"mean","x":732,"y":696,"wires":[["4a45b2e9.b7deac","3e0f4308.af983c"]]},{"id":"8a6814dc.db93c8","type":"aggregator","z":"e6728257.d2c86","name":"average per hour (buiten)","topic":"buiten","intervalCount":"1","intervalUnits":"h","submitIncompleteInterval":true,"aggregationType":"mean","x":746,"y":810,"wires":[["4a45b2e9.b7deac","75bcc356.11741c"]]},{"id":"28e29493.c44fbc","type":"sqlite","z":"669ca4d9.6412bc","mydb":"d4b7b30a.7abac","name":"nodered_jvda.db","x":1099,"y":102,"wires":[["763154ea.dd94fc"]]},{"id":"a8b1a467.7e2b48","type":"template","z":"669ca4d9.6412bc","name":"create emon_tx insert query","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO emon_tx (total_power, solar_power, voltage, \n                     phase1_power, phase2_power, phase3_power) \nVALUES ({{payload.total_power}} , {{payload.solar_power}} , {{payload.voltage}}, \n        {{payload.phase1_power}}, {{payload.phase2_power}}, {{payload.phase3_power}} );","output":"str","x":845,"y":103,"wires":[["ae41ad54.13038","28e29493.c44fbc"]]},{"id":"ae41ad54.13038","type":"debug","z":"669ca4d9.6412bc","name":"emon_tx insert query","active":false,"console":"false","complete":"true","x":949,"y":55,"wires":[]},{"id":"763154ea.dd94fc","type":"debug","z":"669ca4d9.6412bc","name":"sqlite insert response","active":false,"console":"false","complete":"true","x":1241,"y":58,"wires":[]},{"id":"9917a4ca.aafba8","type":"change","z":"c7bb51ea.b7706","name":"set lat & lon Barcelona","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"lat\":41.3947688,\"lon\":2.0787285}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"Budapest","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":289,"y":209,"wires":[["79c0098e.082488"]]},{"id":"ac2a74d4.6cac68","type":"change","z":"c7bb51ea.b7706","name":"set lat & lon sfolkamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"lat\" :51.0849786, \"lon\" : 5.5949475}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"sfolkamp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":292,"y":256,"wires":[["be1afd9f.58ecc"]]},{"id":"fab1308b.a85e4","type":"change","z":"c7bb51ea.b7706","name":"set lat & lon Malaga","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"lat\":36.7182169,\"lon\":-4.4842862}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"Malaga","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":287,"y":301,"wires":[["79c0098e.082488"]]},{"id":"2997cb25.ccf3a4","type":"debug","z":"c7bb51ea.b7706","name":"forecast chart","active":true,"console":"false","complete":"true","x":1133,"y":801,"wires":[]},{"id":"72c159.184d9ea8","type":"change","z":"c7bb51ea.b7706","name":"set msg.payload = last 48 hours forecast","rules":[{"t":"set","p":"payload","pt":"msg","to":"last48hours_forecast","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":465,"y":733,"wires":[["ca8d26ce.4a6488","48bd29c7.474b48"]]},{"id":"79c0098e.082488","type":"change","z":"c7bb51ea.b7706","name":"set lat_and_lon = msg.payload","rules":[{"t":"set","p":"lat_and_lon","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":280,"wires":[["20f6961d.3f66ca","b630e76a.dafbc8"]]},{"id":"20f6961d.3f66ca","type":"change","z":"c7bb51ea.b7706","name":"set msg.payload = lat_and_lon","rules":[{"t":"set","p":"payload","pt":"msg","to":"lat_and_lon","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":420,"wires":[["e3004da3.3e452"]]},{"id":"fde22079.d90d3","type":"ui_button","z":"c7bb51ea.b7706","name":"","group":"355d00d6.9da31","order":1,"width":"2","height":"1","passthru":false,"label":"refresh","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":157,"y":422,"wires":[["20f6961d.3f66ca"]]},{"id":"d1a1dc8f.963e3","type":"comment","z":"3f0318fd.5897c8","name":"insert in emonTx (old mongodb node)","info":"","x":727,"y":223,"wires":[]},{"id":"853490a9.13c89","type":"comment","z":"3f0318fd.5897c8","name":"count emonTx (old mongodb node)","info":"","x":178,"y":484,"wires":[]},{"id":"b3b8399d.942608","type":"comment","z":"3f0318fd.5897c8","name":"retrieve next batch of 100 from emonTx (mongodb node)","info":"","x":818,"y":503,"wires":[]},{"id":"b7d690a7.29b58","type":"debug","z":"bb5e766d.b0bbe8","name":"stemija slackbot response","active":true,"console":"false","complete":"true","x":1134,"y":480,"wires":[]},{"id":"6da55555.950f6c","type":"watson-conversation-v1","z":"bb5e766d.b0bbe8","name":"stemija conversation","workspaceid":"721a71aa-e930-4ed5-924f-2828abe39845","multiuser":true,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":346,"y":324,"wires":[["34a4517d.77905e","3c5b3862.aed398"]]},{"id":"34a4517d.77905e","type":"debug","z":"bb5e766d.b0bbe8","name":"stemija conversation output","active":false,"console":"false","complete":"true","x":624,"y":325,"wires":[]},{"id":"7e1cbe81.cfacf","type":"ui_template","z":"ae997a8f.fef6b8","group":"1136228c.3d68bd","name":"google chart","order":0,"width":"20","height":"17","format":"","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":815,"y":726,"wires":[[]]},{"id":"7718e194.d1891","type":"template","z":"ae997a8f.fef6b8","name":"google electr chart","field":"template","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe style=\"width:{{flow.width}}px; height:{{flow.height}}px;\" frameborder=\"0\" scrolling=\"no\" marginheight=\"0\" marginwidth=\"0\" \n src=\"https://docs.google.com/spreadsheets/d/e/2PACX-1vSmTHnbj5uZ-QEzY0u-3w1YI5YtvZMs30k4V5c0W5bfv4Orm6rZmblWkUSlwZ_mnxFnBdX7UCD63MGA/pubhtml?gid=16&amp;single=true&amp;widget=true&amp;headers=false\">\n</iframe>","output":"str","x":557,"y":725,"wires":[["7e1cbe81.cfacf"]]},{"id":"bd65bfe2.bfc2e","type":"inject","z":"ae997a8f.fef6b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":357,"y":724,"wires":[["7718e194.d1891"]]},{"id":"574cee67.72ce6","type":"comment","z":"bb5e766d.b0bbe8","name":"Flow documentation","info":"# **Watson Conversation**\nThe watson conversation **stemija** is defined [here](https://console.bluemix.net/services/conversation/c563bed1-31d9-4922-ad1b-1269fe370283?ace_config=%7B%22region%22%3A%22eu-gb%22%2C%22orgGuid%22%3A%225f75944f-040a-4bf9-af7d-213d7c8073a4%22%2C%22spaceGuid%22%3A%225430e81b-155d-45ee-8727-8070a80ffb70%22%2C%22redirect%22%3A%22https%3A%2F%2Fconsole.bluemix.net%2Fdashboard%2Fapps%3Fenv_id%3Dibm%253Ayp%253Aeu-gb%22%2C%22bluemixUIVersion%22%3A%22Atlas%22%7D&env_id=ibm%3Ayp%3Aeu-gb).\n\n## **Watson Conversation Context**\nThe Watson conversation context for a specific user (session) is stored in the flow context variable ```conversation[<slackuser>]```\nwhere ```<slackuser>``` is the actual slack user ID (e.g. 'U7MTBL5T5' ).\n\nSo whenever a message is received from the stemija slackbot input node:\n-  the watson conversation context is retrieved from the flow context.\n-  if it doesn't exist, then the watson conversation context is created and also stored in the flow context.\n\nThe conversation context exists of following attributes\n- ```slackuser``` : the name of the user as received from slack\n- ```user``` : the actual name of the user.  E.g. 'papa'\n\n## **Watson Conversation Input**\nThe following information is passed as input to the Watson Conversation Node\n- ```msg.user``` =  ```slackuser``` of the  watson conversation context\n- ```msg.params.context``` = watson conversation context\n- ```msg.payload``` = the text that should be interpreted by the watson conversation.\n\n## **Watson Conversation Output**\nThere are 2 possibilities:\n- *simple case*  : the conversation text is immediately directed to the stemija slackbot output node\n- *complex case* : the conversation output is 'processed' by a set of nodes, which might result in any combination of the following:\n  - 0 or more messages being sent to the stemija slackbot output node\n  - updating the watson conversation context and storing it in the flow context\n  - a new input message being sent to the watson conversation node\n\n# **stemija slackbot output node**\n## **Input**\nWhen sending a message to the stemija slackbot output node then\nthe following information must be sent:\n```\nmsg.message = {\"type\":\"message\",\n               \"channel\":\"D7MTEU4TD\",\n               // the user below is papa - this should be replaced by the\n               // appropriate user.\n               \"user\":\"<slackuser of the watson conversation context>\"\"\n               \"source_team\":\"T7N49GNUD\",\n               \"team\":\"T7N49GNUD\",\n               \"event\":\"direct_message\"};\nmsg.payload = \"<actual message to display in slack>\";\n```\n\n","x":95,"y":28,"wires":[]},{"id":"4dc6fbd1.781064","type":"function","z":"bb5e766d.b0bbe8","name":"extend with flow context information","func":"var this_conversation = flow.get('conversation')[msg.slackObj.fromUser];\n\n// check if the slackuser is defined in the flow context.\nif ( typeof this_conversation === 'undefined' ){\n    node.error(\"slackuser: \" + msg.message.user + \" is not yet defined in the flow context 'conversation'\");\n    return null;\n}\n\n// substituted \".\" by \"_\" as otherwise the Watson conversation node gives an error.\n// E.g. msg.user = \"jan.vandenaudenaerde\" will give an error.\nmsg.user = this_conversation.slackuser.replace(\".\",\"_\");\n\nmsg.params = { \"context\": this_conversation };\nreturn msg;","outputs":1,"noerr":0,"x":229,"y":278,"wires":[["cc696a.c8a06698","6da55555.950f6c"]]},{"id":"cc696a.c8a06698","type":"debug","z":"bb5e766d.b0bbe8","name":"extended with flow context information","active":false,"console":"false","complete":"true","x":568,"y":279,"wires":[]},{"id":"a0abc199.348e9","type":"inject","z":"bb5e766d.b0bbe8","name":"only once at start","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"x":128,"y":79,"wires":[["20efaeae.7ddd22"]]},{"id":"20efaeae.7ddd22","type":"function","z":"bb5e766d.b0bbe8","name":"Initialize flow context 'conversation'","func":"// msg.paylaod = true will force the reinitialisation of the context.\n\nvar conversation = flow.get('conversation');\n\nif ( ( typeof conversation === 'undefined' ) || msg.payload ){\n    conversation = { \n        \"jan.vandenaudenaerde\" : { \"slackuser\" : \"jan.vandenaudenaerde\", \"user\" : \"papa\" }\n    };\n    flow.set('conversation',conversation);\n}\n\nmsg.payload = conversation;\n\nreturn msg;","outputs":1,"noerr":0,"x":442,"y":101,"wires":[["937fd33b.500c4"]]},{"id":"937fd33b.500c4","type":"debug","z":"bb5e766d.b0bbe8","name":"flow context 'conversation'","active":true,"console":"false","complete":"payload","x":717,"y":99,"wires":[]},{"id":"a6daa1d1.4c935","type":"inject","z":"bb5e766d.b0bbe8","name":"force reinitialisation","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":133,"y":127,"wires":[["20efaeae.7ddd22"]]},{"id":"5935ceb3.74338","type":"change","z":"bb5e766d.b0bbe8","name":"set msg.payload to msg.payload.output.text[0]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.output.text[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":446,"y":541,"wires":[["c1a97d0.0b0548"]]},{"id":"1dce89b.bc09b76","type":"switch","z":"bb5e766d.b0bbe8","name":"switch on intent","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"switch-on-cv","vt":"str"},{"t":"eq","v":"switch-off-cv","vt":"str"},{"t":"eq","v":"what-is-the-temperature","vt":"str"},{"t":"else"}],"checkall":"true","outputs":4,"x":120,"y":440,"wires":[["91c09e54.c12d8"],["91c09e54.c12d8"],["904c213e.2f7ed"],["5935ceb3.74338"]]},{"id":"f0c0f219.176c3","type":"link in","z":"7fa2194.bf802e8","name":"verwarming boven","links":["a78c496d.f4e158","25c08f71.7319d"],"x":335,"y":100,"wires":[["1d0f7e65.f0e302"]]},{"id":"a78c496d.f4e158","type":"link out","z":"bb5e766d.b0bbe8","name":"switch on/off cv","links":["f0c0f219.176c3"],"x":595,"y":380,"wires":[]},{"id":"a23fa528.7716c8","type":"link in","z":"7fa2194.bf802e8","name":"verwarming kamer Jade","links":["2004cd5b.b09692","5b26fbdb.f71f74"],"x":335,"y":220,"wires":[["18718203.84a46e"]]},{"id":"5b26fbdb.f71f74","type":"link out","z":"bb5e766d.b0bbe8","name":"","links":["a23fa528.7716c8"],"x":595,"y":420,"wires":[]},{"id":"91c09e54.c12d8","type":"function","z":"bb5e766d.b0bbe8","name":"switch-on-cv / switch-off-cv","func":"// intent can have 2 possible values :\n// - \"switch-on-cv\"\n// - \"switch-off-cv\"  => this will also switch off kamer cv Jade if it is switched on.\nvar intent        = msg.payload.intents[0].intent;\nvar cv_boven      = global.get(\"ui_cv_req_heating_upstairs\");\nvar cv_kamer_jade = global.get(\"ui_cv_req_heating_room_jade\");\n\nvar msg_cv_boven = null;\nvar msg_cv_kamer_jade = null;\n\n// update msg_cv_boven\n// cv_boven on if intent is switch-on-cv and cv boven is not yet on\nif ( (intent==\"switch-on-cv\") && (cv_boven===0)){\n    msg_cv_boven= { \"payload\" : 1 };\n}\n\n// cv_boven off if intent is switch-off-cv and cv boven is on\nif ( (intent==\"switch-off-cv\") && (cv_boven===1)){\n    msg_cv_boven= { \"payload\" : 0 };\n}\n\n// update msg_cv_kamer_jade\n// cv_kamer_jade off if intent is switch-off-cv and cv_kamer_jade is on\nif ( (intent==\"switch-off-cv\") && (cv_kamer_jade===1)){\n    msg_cv_kamer_jade= { \"payload\" : 0 };\n}\n\n// update slack message\nif ((msg_cv_boven===null) && (msg_cv_kamer_jade===null)){\n    if (intent==\"switch-off-cv\"){\n        msg.payload = \"De verwarming stond al uit !!\";\n    } else {\n        msg.payload = \"De verwarming stond al aan !!\";\n    }\n} else {\n    // use the text specified by the conversation.\n    msg.payload = msg.payload.output.text[0];\n}\n\nreturn [ msg_cv_boven, msg_cv_kamer_jade, msg];","outputs":"3","noerr":0,"x":401,"y":416,"wires":[["a78c496d.f4e158"],["5b26fbdb.f71f74"],["c1a97d0.0b0548"]],"outputLabels":["cv boven","cv kamer jade","message slack"]},{"id":"c1a97d0.0b0548","type":"function","z":"bb5e766d.b0bbe8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":947,"y":502,"wires":[["b7d690a7.29b58","29391e8c.3290d2"]]},{"id":"4aa726e3.0945d8","type":"slack","z":"f4083ef1.c832a","name":"#cv channel","username":"stemija","emojiIcon":"","channel":"","x":1110,"y":320,"wires":[]},{"id":"7d9d7bbb.636644","type":"comment","z":"f4083ef1.c832a","name":"flow documentation","info":"The slack output node makes use of webhook url for the #cv channel that is defined in slack > Manage > Custom Integrations > Incoming WebHooks\n\nA message received from the \"3ch wifi relay\" link  will have the following content\n```{ \nnodegroup:\"5\",\npayload: { cvpump    : msg.payload.relay2 ,\n           ventilator: msg.payload.relay3  }\n};```","x":156,"y":33,"wires":[]},{"id":"c0184b88.84ef08","type":"link in","z":"f4083ef1.c832a","name":"#cv channel","links":["9471dcd1.342ea"],"x":254,"y":152,"wires":[["86b5244d.475148"]]},{"id":"e442864d.09ef58","type":"switch","z":"f4083ef1.c832a","name":"msg.payload.cvpump","property":"payload.cvpump","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":268,"y":364,"wires":[["ef5408fe.995e68"],["8c82f7be.204e98"],["ca54b170.eff06"]]},{"id":"ef5408fe.995e68","type":"change","z":"f4083ef1.c832a","name":"\"De verwarming boven (CV pomp)  is uitgezet.\"","rules":[{"t":"set","p":"payload","pt":"msg","to":"De verwarming boven (CV pomp)  is uitgezet.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":608,"y":315,"wires":[["1650c6a2.63fce9"]]},{"id":"8c82f7be.204e98","type":"change","z":"f4083ef1.c832a","name":"\"De verwarming boven (CV pomp) is aangezet.\"","rules":[{"t":"set","p":"payload","pt":"msg","to":"De verwarming boven (CV pomp) is aangezet.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":606,"y":359,"wires":[["1650c6a2.63fce9"]]},{"id":"ca54b170.eff06","type":"change","z":"f4083ef1.c832a","name":"\"error - onverwachte status\"","rules":[{"t":"set","p":"payload","pt":"msg","to":"error - onverwachte status","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":549,"y":407,"wires":[["4aa726e3.0945d8"]]},{"id":"86b5244d.475148","type":"switch","z":"f4083ef1.c832a","name":"cvpump status changed ?","property":"last_cvpump_status","propertyType":"flow","rules":[{"t":"neq","v":"payload.cvpump","vt":"msg"}],"checkall":"true","outputs":1,"x":423,"y":173,"wires":[["75a21735.e1cd18"]]},{"id":"75a21735.e1cd18","type":"change","z":"f4083ef1.c832a","name":"flow.last_cvpump_status = msg.payload.cvpump","rules":[{"t":"set","p":"last_cvpump_status","pt":"flow","to":"payload.cvpump","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":356,"y":231,"wires":[["e442864d.09ef58"]]},{"id":"e7084c88.42158","type":"inject","z":"f4083ef1.c832a","name":"\"Node-RED redeployed - we veronderstellen dat de verwarming boven (CV pomp) was uitgezet.\"","topic":"","payload":"Node-RED redeployed - we veronderstellen dat de verwarming boven (CV pomp) was uitgezet.","payloadType":"str","repeat":"","crontab":"","once":true,"x":423,"y":89,"wires":[["66cdb9f1.de6458","1650c6a2.63fce9"]]},{"id":"66cdb9f1.de6458","type":"change","z":"f4083ef1.c832a","name":"set flow.last_cvpump_status = 0","rules":[{"t":"set","p":"last_cvpump_status","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":932,"y":88,"wires":[[]]},{"id":"83763b3a.ad95a8","type":"change","z":"7fa2194.bf802e8","name":"set global.temp_room_badkamer = msg.payload.temp","rules":[{"t":"set","p":"temp_room_badkamer","pt":"global","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":697,"wires":[[]]},{"id":"1650c6a2.63fce9","type":"function","z":"f4083ef1.c832a","name":"append temp's","func":"var temp_room_jade = global.get (\"temp_room_jade\");\nvar temp_room_badkamer = global.get (\"temp_room_badkamer\");\nvar temp_outside = global.get(\"outside_temp\");\nvar temp_living = global.get(\"living_temp\");\n\nmsg.payload += \" [T kamer Jade = \" + temp_room_jade + \"°, T badkamer = \"   + temp_room_badkamer + \"°, T living = \" + temp_living + \"°, T buiten =\" + temp_outside + \"°]\";\n\nreturn msg;","outputs":1,"noerr":0,"x":868,"y":218,"wires":[["4aa726e3.0945d8"]]},{"id":"8f2ecca3.4757","type":"change","z":"cbb123e.ff1e2e","name":"global.living_temp = msg.payload.temperature","rules":[{"t":"set","p":"living_temp","pt":"global","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":484.0000305175781,"y":145,"wires":[[]]},{"id":"d84148fb.4f7bd8","type":"function","z":"bb5e766d.b0bbe8","name":"append temperatures","func":"var temp_room_jade = global.get (\"temp_room_jade\");\nvar temp_room_badkamer = global.get (\"temp_room_badkamer\");\nvar temp_outside = global.get(\"outside_temp\");\nvar temp_living = global.get(\"living_temp\");\n\nmsg.payload += \" [T kamer Jade = \" + temp_room_jade + \"°, T badkamer = \"   + temp_room_badkamer + \"°, T living = \" + temp_living + \"°, T buiten =\" + temp_outside + \"°]\";\n\nreturn msg;","outputs":1,"noerr":0,"x":748,"y":487,"wires":[["c1a97d0.0b0548"]]},{"id":"904c213e.2f7ed","type":"change","z":"bb5e766d.b0bbe8","name":"set msg.payload = payload.output.text[0]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.output.text[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":426,"y":487,"wires":[["d84148fb.4f7bd8"]]},{"id":"4569258b.08eaec","type":"Slack Bot In","z":"bb5e766d.b0bbe8","name":"stemija slackbot","channel":"","x":80,"y":180,"wires":[["ce37432.fc86cc","a98118c1.02cca8"]]},{"id":"ce37432.fc86cc","type":"debug","z":"bb5e766d.b0bbe8","name":"bot in message","active":true,"console":"false","complete":"true","x":263,"y":161,"wires":[]},{"id":"29391e8c.3290d2","type":"Slack Bot Out","z":"bb5e766d.b0bbe8","name":"stemija slackbot response","channel":"","x":1133.5,"y":521,"wires":[]},{"id":"a98118c1.02cca8","type":"switch","z":"bb5e766d.b0bbe8","name":"msg.slackObj.fromUser != \"\"","property":"slackObj.fromUser","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":220,"y":220,"wires":[["7cf27106.d9962"]]},{"id":"7cf27106.d9962","type":"switch","z":"bb5e766d.b0bbe8","name":"switch on channel","property":"slackObj.channelName","propertyType":"msg","rules":[{"t":"eq","v":"cloudspeech","vt":"str"},{"t":"eq","v":"general","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":470,"y":220,"wires":[["c4ec279f.6d7698"],[],["4dc6fbd1.781064"]]},{"id":"adda148e.6ee598","type":"trigger","z":"669ca4d9.6412bc","op1":"","op2":"No message received from emonTh - node23 (kamer Jade) in last hour (replace batteries) !!","op1type":"nul","op2type":"str","duration":"1","extend":true,"units":"hr","reset":"","name":"no message received from emonTh - node23","x":470,"y":320,"wires":[["c04eef95.295"]]},{"id":"863b71a9.c250c","type":"trigger","z":"669ca4d9.6412bc","op1":"","op2":"No message received from emonTh - node24 (badkamer) in last hour (replace batteries) !!","op1type":"nul","op2type":"str","duration":"1","extend":true,"units":"hr","reset":"","name":"no message received from emonTh - node 24","x":470,"y":360,"wires":[["c04eef95.295"]]},{"id":"311d01e6.9609ce","type":"link in","z":"f4083ef1.c832a","name":"to slack #cv channel","links":["c04eef95.295"],"x":935,"y":400,"wires":[["4aa726e3.0945d8"]]},{"id":"c04eef95.295","type":"link out","z":"669ca4d9.6412bc","name":"","links":["311d01e6.9609ce"],"x":735,"y":340,"wires":[]},{"id":"1c75ca3d.8544a6","type":"inject","z":"669ca4d9.6412bc","name":"trigger every 6 hours","topic":"","payload":"true","payloadType":"bool","repeat":"21600","crontab":"","once":false,"x":140,"y":340,"wires":[["adda148e.6ee598","863b71a9.c250c"]]},{"id":"71527b7f.ddaaa4","type":"debug","z":"fed72f15.8d836","name":"change of unknown MACs","active":true,"console":"false","complete":"true","x":770,"y":280,"wires":[]},{"id":"1d24869d.fdf609","type":"split","z":"fed72f15.8d836","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":670,"y":340,"wires":[["81e282f7.5f3f5","e7ee8eea.efbb7"]]},{"id":"81e282f7.5f3f5","type":"function","z":"fed72f15.8d836","name":"connect / disconnect message","func":"msg.payload = msg.parts.key + ( msg.payload ? \" connected to LAN\" : \" got disconnected\" );\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":380,"wires":[["54725ed7.fddb9","9e09077e.2e9f28"]]},{"id":"e7ee8eea.efbb7","type":"debug","z":"fed72f15.8d836","name":"splitted message","active":true,"console":"false","complete":"true","x":850,"y":340,"wires":[]},{"id":"54725ed7.fddb9","type":"debug","z":"fed72f15.8d836","name":"connect / disconnect message","active":true,"console":"false","complete":"true","x":1130,"y":340,"wires":[]},{"id":"9e09077e.2e9f28","type":"slack","z":"fed72f15.8d836","name":"#lan connect","username":"stemija","emojiIcon":"","channel":"#lan-connect","x":1109,"y":442,"wires":[]},{"id":"3a025ec0.007822","type":"ui_template","z":"7fa2194.bf802e8","group":"33c793c6.f46c9c","name":"emoncms chart","order":0,"width":0,"height":0,"format":"<iframe style=\"width:300px; height:400px;\" frameborder=\"0\" scrolling=\"no\" marginheight=\"0\" marginwidth=\"0\" \n src=\"https://emoncms.org/vis/multigraph?mid=14963&embed=1&apikey=4b1fb058df6f5a59c0db242ead615e50\"></iframe>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":440,"y":820,"wires":[[]]},{"id":"1166bd30.80e053","type":"mqtt in","z":"604db05c.f6f11","name":"","topic":"pi3/aiy/google_assistant/text","qos":"0","broker":"9c9ae2bc.63652","x":180,"y":40,"wires":[["4daefe86.b63","e0567356.edce5"]]},{"id":"4daefe86.b63","type":"debug","z":"604db05c.f6f11","name":"","active":true,"console":"false","complete":"true","x":410,"y":40,"wires":[]},{"id":"38db8e12.809822","type":"mqtt out","z":"604db05c.f6f11","name":"","topic":"pi3/aiy/google_assistant/text","qos":"0","retain":"false","broker":"9c9ae2bc.63652","x":380,"y":420,"wires":[]},{"id":"def956ec.e32768","type":"inject","z":"604db05c.f6f11","name":"","topic":"","payload":"\"This is a test\"","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":420,"wires":[["38db8e12.809822"]]},{"id":"c4ec279f.6d7698","type":"debug","z":"bb5e766d.b0bbe8","name":"cloudspeech channel","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":860,"y":160,"wires":[]},{"id":"44b7ea45.9afb34","type":"mqtt out","z":"bb5e766d.b0bbe8","name":"","topic":"pi3/tts","qos":"0","retain":"false","broker":"9c9ae2bc.63652","x":819,"y":213,"wires":[]},{"id":"e0567356.edce5","type":"slack","z":"604db05c.f6f11","name":"#gassist","username":"stemija","emojiIcon":"","channel":"#gassist","x":420,"y":100,"wires":[]},{"id":"c5aa492.4e0adb8","type":"ui_switch","z":"56164435.31050c","name":"","label":"activate","group":"2fdf50c.264aab","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"switch_on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"switch_off","offvalueType":"str","officon":"","offcolor":"","x":580,"y":120,"wires":[["99ab9eab.00f4f"]]},{"id":"c81bb4ce.f53a58","type":"ui_switch","z":"56164435.31050c","name":"","label":"activate","group":"fe02baf8.ead938","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"switch_on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"switch_off","offvalueType":"str","officon":"","offcolor":"","x":600,"y":560,"wires":[["2aba9948.131da6"]]},{"id":"2a168c1d.4c3174","type":"ui_text","z":"56164435.31050c","group":"fe02baf8.ead938","order":4,"width":0,"height":0,"name":"","label":"last message","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":720,"wires":[]},{"id":"6e348314.00676c","type":"mqtt in","z":"56164435.31050c","name":"","topic":"pi3/aiy/cloudspeech/text","qos":"0","broker":"9c9ae2bc.63652","x":140,"y":720,"wires":[["2a168c1d.4c3174"]]},{"id":"4a2333af.0e1d7c","type":"mqtt out","z":"56164435.31050c","name":"","topic":"pi3/aiy/cloudspeech/text","qos":"0","retain":"false","broker":"9c9ae2bc.63652","x":530,"y":800,"wires":[]},{"id":"a611e6b1.9f8da8","type":"inject","z":"56164435.31050c","name":"","topic":"","payload":"This is a test message","payloadType":"str","repeat":"","crontab":"","once":false,"x":200,"y":800,"wires":[["4a2333af.0e1d7c"]]},{"id":"2aba9948.131da6","type":"mqtt out","z":"56164435.31050c","name":"","topic":"pi3/aiy/cloudspeech/cmd","qos":"0","retain":"false","broker":"9c9ae2bc.63652","x":830,"y":560,"wires":[]},{"id":"c1385050.3c0ef","type":"inject","z":"56164435.31050c","name":"get_status every 2 minutes","topic":"","payload":"get_status","payloadType":"str","repeat":"120","crontab":"","once":true,"x":140,"y":80,"wires":[["97e565f7.8ae578","a91b054.f88cff8"]]},{"id":"801c7d0f.3a7f7","type":"mqtt out","z":"56164435.31050c","name":"","topic":"pi3/aiy/cloudspeech/cmd","qos":"0","retain":"","broker":"9c9ae2bc.63652","x":410,"y":440,"wires":[]},{"id":"fa793d95.2b5cd","type":"mqtt in","z":"56164435.31050c","name":"","topic":"pi3/aiy/cloudspeech/status","qos":"2","broker":"9c9ae2bc.63652","x":150,"y":600,"wires":[["61e5537e.f38e7c","2a2b65db.381b7a"]]},{"id":"61e5537e.f38e7c","type":"debug","z":"56164435.31050c","name":"","active":true,"console":"false","complete":"true","x":290,"y":560,"wires":[]},{"id":"3d601f48.17e8f","type":"mqtt in","z":"56164435.31050c","name":"","topic":"pi3/aiy/google_assistant/status","qos":"0","broker":"9c9ae2bc.63652","x":150,"y":220,"wires":[["7a7a85d.272ca7c","81080bba.3b0818"]]},{"id":"7a7a85d.272ca7c","type":"debug","z":"56164435.31050c","name":"","active":true,"console":"false","complete":"true","x":170,"y":180,"wires":[]},{"id":"97e565f7.8ae578","type":"mqtt out","z":"56164435.31050c","name":"","topic":"pi3/aiy/google_assistant/cmd","qos":"0","retain":"","broker":"9c9ae2bc.63652","x":440,"y":80,"wires":[]},{"id":"99ab9eab.00f4f","type":"mqtt out","z":"56164435.31050c","name":"","topic":"pi3/aiy/google_assistant/cmd","qos":"0","retain":"","broker":"9c9ae2bc.63652","x":820,"y":120,"wires":[]},{"id":"2ec125a3.1e542a","type":"mqtt in","z":"56164435.31050c","name":"","topic":"pi3/aiy/google_assistant/event_type","qos":"0","broker":"9c9ae2bc.63652","x":160,"y":280,"wires":[["8d3114b0.ec8ef8"]]},{"id":"136e5be9.8be484","type":"ui_text","z":"56164435.31050c","group":"2fdf50c.264aab","order":3,"width":0,"height":0,"name":"","label":"event type","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":280,"wires":[]},{"id":"c767ba06.4c81b8","type":"mqtt in","z":"56164435.31050c","name":"","topic":"pi3/aiy/cloudspeech/event_type","qos":"0","broker":"9c9ae2bc.63652","x":150,"y":660,"wires":[["ab7b5c9e.eec7f"]]},{"id":"ab7b5c9e.eec7f","type":"ui_text","z":"56164435.31050c","group":"fe02baf8.ead938","order":3,"width":0,"height":0,"name":"","label":"event type","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":660,"wires":[]},{"id":"7ec9a548.7bcaec","type":"mqtt in","z":"56164435.31050c","name":"","topic":"pi3/aiy/google_assistant/text","qos":"0","broker":"9c9ae2bc.63652","x":140,"y":340,"wires":[["91a8c94.53fe038"]]},{"id":"91a8c94.53fe038","type":"ui_text","z":"56164435.31050c","group":"2fdf50c.264aab","order":4,"width":0,"height":0,"name":"","label":"last message","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":340,"wires":[]},{"id":"37fd27a5.d68dc8","type":"mqtt in","z":"604db05c.f6f11","name":"","topic":"pi3/aiy/cloudspeech/text","qos":"0","broker":"9c9ae2bc.63652","x":160,"y":220,"wires":[["5152c651.e79258","90fd250b.3d8a98"]]},{"id":"5152c651.e79258","type":"debug","z":"604db05c.f6f11","name":"","active":true,"console":"false","complete":"true","x":410,"y":220,"wires":[]},{"id":"90fd250b.3d8a98","type":"slack","z":"604db05c.f6f11","name":"#cloudspeech","username":"aiy_voice_kit","emojiIcon":"","channel":"#cloudspeech","x":440,"y":280,"wires":[]},{"id":"81080bba.3b0818","type":"ui_text","z":"56164435.31050c","group":"2fdf50c.264aab","order":2,"width":0,"height":0,"name":"","label":"status","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":220,"wires":[]},{"id":"2a2b65db.381b7a","type":"ui_text","z":"56164435.31050c","group":"fe02baf8.ead938","order":2,"width":0,"height":0,"name":"","label":"status","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":600,"wires":[]},{"id":"b5807814.3bed68","type":"comment","z":"56164435.31050c","name":"stemija UI group","info":"","x":240,"y":400,"wires":[]},{"id":"c98e3f44.5eb34","type":"comment","z":"56164435.31050c","name":"OK google UI group","info":"","x":210,"y":20,"wires":[]},{"id":"a91b054.f88cff8","type":"change","z":"56164435.31050c","name":"msg.payload = awaiting","rules":[{"t":"set","p":"payload","pt":"msg","to":"awaiting","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":160,"wires":[["81080bba.3b0818"]]},{"id":"fc2ac217.af4b9","type":"inject","z":"56164435.31050c","name":"get_status every 2 minutes","topic":"","payload":"get_status","payloadType":"str","repeat":"120","crontab":"","once":true,"x":140,"y":440,"wires":[["801c7d0f.3a7f7","a3348258.bce44"]]},{"id":"a3348258.bce44","type":"change","z":"56164435.31050c","name":"msg.payload = awaiting","rules":[{"t":"set","p":"payload","pt":"msg","to":"awaiting","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":500,"wires":[["2a2b65db.381b7a"]]},{"id":"8d3114b0.ec8ef8","type":"change","z":"56164435.31050c","name":"remove EventType.","rules":[{"t":"change","p":"payload","pt":"msg","from":"EventType.","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":280,"wires":[["136e5be9.8be484"]]},{"id":"3c5b3862.aed398","type":"switch","z":"bb5e766d.b0bbe8","name":"switch on having intent","property":"$count(payload.intents)","propertyType":"jsonata","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":140,"y":360,"wires":[["1dce89b.bc09b76"],["5935ceb3.74338"]],"outputLabels":["has intent","otherwise"]},{"id":"ffb35375.6824f","type":"switch","z":"4bf9468a.f3a898","name":"valid payload","property":"(payload.humidity=0) and (payload.pressure=0) and (payload.temperature=0)","propertyType":"jsonata","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","outputs":2,"x":250,"y":140,"wires":[["ac5f42fb.19a7d"],["285e9509.acc27a"]],"outputLabels":["is valid","is not valid"]},{"id":"285e9509.acc27a","type":"debug","z":"4bf9468a.f3a898","name":"bme280 invalid data","active":true,"console":"true","complete":"true","x":420,"y":240,"wires":[]},{"id":"27969714.0bdc28","type":"watson-conversation-v1","z":"19233749.06c6d9","name":"IBM conversation \"aiy dutch\"","workspaceid":"516e235f-c9ac-4003-aed3-0bf0b079074e","multiuser":true,"context":false,"empty-payload":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":240,"y":280,"wires":[["cf2ce433.8df668","96f59b32.12ef68"]]},{"id":"cf2ce433.8df668","type":"debug","z":"19233749.06c6d9","name":"stemija conversation output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":640,"y":280,"wires":[]},{"id":"c4991276.0537e","type":"switch","z":"19233749.06c6d9","name":"switch on intent","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"heating_on","vt":"str"},{"t":"eq","v":"heating_off","vt":"str"},{"t":"eq","v":"heating_state","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":200,"y":480,"wires":[["d4155776.5f7d28"],["d4155776.5f7d28"],["3948abb0.643d84"],["3948abb0.643d84"]]},{"id":"2004cd5b.b09692","type":"link out","z":"19233749.06c6d9","name":"","links":["a23fa528.7716c8"],"x":595,"y":460,"wires":[]},{"id":"d4155776.5f7d28","type":"function","z":"19233749.06c6d9","name":"#heating-on / #heating-off","func":"// intent can have 2 possible values :\n// - \"heating_on\"\n// - \"heating_off\"  => this will also switch off kamer cv Jade if it is switched on.\nvar intent        = msg.payload.intents[0].intent;\nvar cv_boven      = global.get(\"ui_cv_req_heating_upstairs\");\nvar cv_kamer_jade = global.get(\"ui_cv_req_heating_room_jade\");\n\nvar msg_cv_boven = null;\nvar msg_cv_kamer_jade = null;\n\n// update msg_cv_boven\n// cv_boven on if intent is heating_on and cv boven is not yet on\nif ( (intent==\"heating_on\") && (cv_boven===0)){\n    msg_cv_boven= { \"payload\" : 1 };\n}\n\n// cv_boven off if intent is heating_off and cv boven is on\nif ( (intent==\"heating_off\") && (cv_boven===1)){\n    msg_cv_boven= { \"payload\" : 0 };\n}\n\n// update msg_cv_kamer_jade\n// cv_kamer_jade off if intent is heating_off and cv_kamer_jade is on\nif ( (intent==\"heating_off\") && (cv_kamer_jade===1)){\n    msg_cv_kamer_jade= { \"payload\" : 0 };\n}\n\n// update conversation message.\nif ((msg_cv_boven===null) && (msg_cv_kamer_jade===null)){\n    if (intent==\"heating_off\"){\n        msg.payload.output.text[0] = \"De verwarming stond al uit.\";\n    } else {\n        msg.payload.output.text[0] = \"De verwarming stond al aan.\";\n    }\n} \n\nreturn [ msg_cv_boven, msg_cv_kamer_jade, msg];","outputs":"3","noerr":0,"x":430,"y":460,"wires":[["25c08f71.7319d"],["2004cd5b.b09692"],["3948abb0.643d84"]],"outputLabels":["cv boven","cv kamer jade","message slack"]},{"id":"7f20b78e.f8b118","type":"Slack Bot In","z":"19233749.06c6d9","name":"stemija slackbot","channel":"","x":100,"y":100,"wires":[["956ab528.96e558","7cd3c8.67ebfc38"]]},{"id":"956ab528.96e558","type":"debug","z":"19233749.06c6d9","name":"bot in message","active":true,"console":"false","complete":"true","x":300,"y":100,"wires":[]},{"id":"8b5a1ebd.5072a","type":"Slack Bot Out","z":"19233749.06c6d9","name":"stemija slackbot response","channel":"","x":850,"y":640,"wires":[]},{"id":"7cd3c8.67ebfc38","type":"switch","z":"19233749.06c6d9","name":"msg on cloudspeech channel ?","property":"slackObj.channelName","propertyType":"msg","rules":[{"t":"eq","v":"cloudspeech","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":160,"wires":[["1f2218b6.0e4c77"]]},{"id":"49528c1e.f32bc4","type":"mqtt out","z":"19233749.06c6d9","name":"","topic":"pi3/tts","qos":"0","retain":"false","broker":"9c9ae2bc.63652","x":1090,"y":560,"wires":[]},{"id":"40ed5b91.26d8a4","type":"switch","z":"19233749.06c6d9","name":"switch on having intent","property":"$count(payload.intents)","propertyType":"jsonata","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":220,"y":400,"wires":[["c4991276.0537e"],["3948abb0.643d84"]],"outputLabels":["has intent","otherwise"]},{"id":"3948abb0.643d84","type":"change","z":"19233749.06c6d9","name":"set payload to conversation output","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.output.text[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":620,"wires":[["2ec10d61.a5b672","8b5a1ebd.5072a"]]},{"id":"a17e02ae.9d97c","type":"inject","z":"604db05c.f6f11","name":"I am daddy","topic":"","payload":"Ik ben papa.","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":340,"wires":[["47010cd9.6fd414"]]},{"id":"47010cd9.6fd414","type":"mqtt out","z":"604db05c.f6f11","name":"","topic":"pi3/aiy/cloudspeech/text","qos":"0","retain":"false","broker":"9c9ae2bc.63652","x":370,"y":340,"wires":[]},{"id":"2ec10d61.a5b672","type":"switch","z":"19233749.06c6d9","name":"msg coming from aiy voice kit ?","property":"slackObj.fromUser","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":870,"y":560,"wires":[["49528c1e.f32bc4"]]},{"id":"bfc04cec.8d721","type":"comment","z":"19233749.06c6d9","name":"IBM watson conversation link","info":"https://watson-conversation.ng.bluemix.net/eu-gb/c563bed1-31d9-4922-ad1b-1269fe370283/workspaces/516e235f-c9ac-4003-aed3-0bf0b079074e/build/intents","x":140,"y":40,"wires":[]},{"id":"1f2218b6.0e4c77","type":"change","z":"19233749.06c6d9","name":"set msg.user","rules":[{"t":"set","p":"user","pt":"msg","to":"slackObj.fromUser=\"\"?\t\"aiy_voicekit\":\t$replace(slackObj.fromUser,\".\",\"_\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":200,"wires":[["e122c8c.fe88b38"]]},{"id":"2606be3e.7c4ad2","type":"debug","z":"19233749.06c6d9","name":"saved flow conversation_context","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":320,"wires":[]},{"id":"ae46befb.7677f","type":"inject","z":"9a70cce2.ab388","name":"","topic":"","payload":"hello world","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":80,"wires":[["a7c6e127.dd6ba","32deaadf.4c9846"]]},{"id":"a7c6e127.dd6ba","type":"change","z":"9a70cce2.ab388","name":"","rules":[{"t":"set","p":"context[msg.payload]","pt":"flow","to":"test 1, 2, 3...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":80,"wires":[["4a719981.450668"]]},{"id":"c8ee9329.b4632","type":"inject","z":"9a70cce2.ab388","name":"","topic":"","payload":"context","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":300,"wires":[["13d79a5e.3a7b96"]]},{"id":"13d79a5e.3a7b96","type":"debug","z":"9a70cce2.ab388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":350,"y":300,"wires":[]},{"id":"4a719981.450668","type":"debug","z":"9a70cce2.ab388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":590,"y":80,"wires":[]},{"id":"32deaadf.4c9846","type":"function","z":"9a70cce2.ab388","name":"flow.set(context2[msg.payload],\"testing 3,4,5...\")","func":"var temp={};\nvar temp2={};\n\ntemp[msg.payload] ='testing 3,4,5';\n\nflow.set('context2', temp );\n\nmsg.payload = flow.get('context2')\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":140,"wires":[["f5b52d7b.146de"]]},{"id":"f5b52d7b.146de","type":"debug","z":"9a70cce2.ab388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":140,"wires":[]},{"id":"e122c8c.fe88b38","type":"function","z":"19233749.06c6d9","name":"preparing conversation context for msg.user","func":"var ctx = flow.get('conversation_context');\n\nif (typeof ctx == 'undefined'){ \n    ctx = {};\n}\n\nif (typeof ctx[msg.user] == 'undefined'){\n    ctx[msg.user]={};\n}\n\nctx[msg.user]['cv_pump_status']              = global.get('cv_pump.status');\n\nflow.set('conversation_context',ctx);\n\nmsg.params = { 'context' : ctx[msg.user] };\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":240,"wires":[["abb61f5b.21a27","27969714.0bdc28"]]},{"id":"abb61f5b.21a27","type":"debug","z":"19233749.06c6d9","name":"input msg \"aiy dutch\"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":620,"y":240,"wires":[]},{"id":"96f59b32.12ef68","type":"function","z":"19233749.06c6d9","name":"saving conversation context in flow","func":"var ctx = flow.get('conversation_context');\n\nctx[msg.user]=msg.context;\n\nflow.set('conversation_context',ctx);\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":320,"wires":[["2606be3e.7c4ad2","40ed5b91.26d8a4"]]},{"id":"25c08f71.7319d","type":"link out","z":"19233749.06c6d9","name":"","links":["f0c0f219.176c3"],"x":595,"y":420,"wires":[]}]